<style type="text/css">
	body{
		font-size: 26px;
		background: black;
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin: 0;
	  	background: linear-gradient(to bottom, #00233c, black);
	    color: white;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	}
	
	a{
		color:white;
		text-decoration: none;
	}
	.noselect {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: -moz-none;
		-o-user-select: none;
		user-select: none;
	}
	#menu{
		position: absolute;
    	padding-top: 20px;
    	top: 0px;
    	width: 310px;
    	height: 100%;
    	border-image-source: url(/resource?path=public/menu_alertStatus5.png&screen=menu);
    	border-image-slice: fill 177 176 8 252;
    	border-image-width: 10em;
    	/* border-image-repeat: stretch; */
    	z-index: 20;
    	right: 0px;
	}
	.menuFrame{
		z-index: -1;
		background: linear-gradient(to bottom, #3a3a3a 0%, rgba(81, 84, 86, 0.5) 8px, rgba(84, 84, 84, 0.53) 97%, #424242 100%);
		left: 6px;
		border: 3px solid #b9bbbc;
		width: calc(100% - 6px);
		/* height: calc(100% - 132px); */
		border-left: 0px;
		border-right: 0px;
	}
	#realMenu{
    	position: absolute;
    	top: 135px;
    	left: 6px;
    	width: calc(100% - 6px);
	}
	.menuItem{
    	width: calc(100% - 2px);
    	/* margin-left: 6px; */
    	padding-top: 10px;
    	padding-bottom: 10px;
    	text-align: center;
    	border-image-source: url(/container1);
    	border-image-slice: fill 49 49 49 49;
    	border-image-width: 2em;
    	filter: grayscale(1);
	}
	#bodyFrame{
		position: absolute;
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;
		border-image-source: url('/resource?path=public/alertStatus5.png&screen=menu');
		border-image-slice: fill 298 298 1 298;
		border-image-width: 10em;
		z-index: -100;
	}
	#hexagonBackground{
		filter:brightness(.5);
		position: absolute;
		background-image: url("/background1");
		background-size: 3.5%;
		width: 100%;
		height: 100%;
		top:0px;	
		left:0px;
		background-repeat: repeat;
		z-index: -101;
	}
	#icon{    
		position: absolute;
		top: 7px;
		left: 14px;
		width: 164px;
		height: 164px;
		z-index: -99;
		background-image: url(/resource?path=public/logo.png&screen=menu);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	#stationName{
		position: absolute;
		top:4%;
		left:181px;
		font-size: 48px;
	}
	#menu_background{
		position: absolute;
	    z-index: -1;
	    top: 135px;
	    border-top: 3px solid #b3b6b7;
	    /* left: 0px; */
	    width: 100%;
	    height: calc(100% - 135px);
	    background: linear-gradient(to bottom, rgba(39, 55, 60, 0.87), rgba(49, 57, 60, 0.5));
	    border-bottom: none;
	}
	#menu_notificationFeed{
		position: absolute;
		bottom: 100px;
		left: 6px;
		width: calc(100% - 6px);
	}
	#menu_alertStatus{
	    position: absolute;
	    bottom: 10px;
	    height: 49px;
	}
	#menu_alertStatus_element{
		position: absolute;
		top:0px;
		left: 0px;
		height: 100%;
		width: 100%;
    	background: linear-gradient(to right, rgba(0, 121, 208, 0.6), rgba(0, 161, 187, 0.53));
		text-align: center;
		font-size: 40px;
	}
	#menu_notificationFeed_window{
	    position: absolute;
	    top: 30px;
	    left: 4px;
	    width: calc(100% - 8px);
	    height: calc(100% - 34px);
	    border: 1px solid white;
	    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.85));
	}
	#menu_notificationFeed_header{
	    position: absolute;
	    top: 2px;
	    left: 0px;
	    width: 100%;
	}
</style>
<div id="menu">
	<div class='menuFrame' id="menu_background"></div>
	<div id="realMenu" class='menuFrame'>
		<center>
			<% for(var i=0; i<screens.length; i++) {%>
			<a href="/card?card=<%= screens[i] %>"><div class="menuItem beepOnClick"><%= screens[i].toUpperCase() %></div></a>
			<% } %></center>
	</div>
	<!-- One day.... I'll add this.  One day.
	<div id="menu_notificationFeed" class="menuFrame">
		<div id="menu_notificationFeed_header">NOTIFICATION FEED</div>
		<div id="menu_notificationFeed_window">

		</div>
	</div>
	-->
	<div id="menu_alertStatus" class="menuFrame">
		<div id="menu_alertStatus_element">
			ALERT STATUS 5
		</div>
	</div>
</div>
<div id="stationName">USS VOYAGER</div>
<div id="hexagonBackground"></div>
<div id="bodyFrame"></div>
<div id="icon"></div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script type="text/javascript" src="/resource?path=script.js&screen=menu"></script>