<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea">
	<div id="systemArea" class="noselect"></div>
	<div id="totalSystemPower">
		<div id="bar"></div>
		<div id="totalPowerUsage">POWER IN USE:</div><span id="totalPowerUsageLabel">?</span>
		<div id="totalPowerAvaliable">POWER AVAILABLE:</div><span id="totalPowerAvaliableLabel">?</span>
		<div id="PowerDraw">POWER DRAW: 0<div>
		</div>
	</div>
</div>
<script src="/resource?path=script.js"></script>