<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea" class="noselect">
	<div id="ship">
		<div id="ship_bar_top"></div>
		<div id="ship_bar_bottom"></div>
	</div>
	<canvas id="canvas"></canvas>
	<div id="deckLabel">DECK 2</div>
	<div id="deckStatusClassifiedContainer">
		<div id="deckStatusClassifiedContainer_header">
			DECK LAYOUT CLASSIFIED
		</div>
		<div id="deckStatusClassifiedContainer_subtitle">
			security protocols prehibit viewing of this deck
		</div>
	</div>
	<div id="viewControls">
		<input type="range" id="viewControls_slider" value="2" min='0' max='15' step='.01'>
	</div>
</div>
<div id="zoneContainerElement">
	<div id="zoneContainerElement_label"></div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=pathfinder.js" type="text/javascript"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>