@keyframes pulseRed {
	0% { color:rgba(255,0,0,1); }
	50% { color:rgba(255,0,0,.5); }
	100% { color:rgba(255,0,0,1); }
}

#ship{
	position: absolute;
	top: 7%;
	z-index: 10;
	border-radius: 30px;
	right: 5%;
	background-color: rgba(0,0,0,.5);
	width: 35%;
	height: 9%;
	background-image: url("/ship?file=starboard.png");
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
}

#canvas{
	position: absolute;
	top:10%;
	left: 2.5%;
	width: 87.5%;
	height: 90%;
	background-image: url("/resource?path=");
	background-size: cover;
	background-repeat: no-repeat;
}
#deckStatusClassifiedContainer{
	display: none;
	position: absolute;
	top:calc(50% - 75px);
	left: 2.5%;
	width: 87.5%;
	height: 150px;
	border: 1px solid white;
	background-color: rgba(0,0,0,.7);
	color:red;
	text-transform: uppercase;
	text-align: center;
}
#deckStatusClassifiedContainer_header{
	position: absolute;
	top:10px;
	left: 5px;
	width:calc(100% - 10px);
	font-size: 72px;
	animation:pulseRed;
	animation-duration: infinite;
	animation-timing-function: cubic-bezier(); 
}
#deckStatusClassifiedContainer_subtitle{
	position: absolute;
	top: 72px;
	font-size: 33px;
	color:white;
	left: 5px;
	width:calc(100% - 10px);
}
#zoneContainerElement{
	background-color: rgba(0,0,0,.7);
	position: absolute;
	top:0px;
	left: 0px;
	padding: 4px;
	border: 1px solid white;
	display: none;
}
#ship_bar_top{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 0px;
	background-color: rgba(0,0,0,.7);
}
#ship_bar_bottom{
	position: absolute;
	bottom:0px;
	left: 0px;
	width: 100%;
	height: 0px;
	background-color: rgba(0,0,0,.7);
}
#viewControls{
	transform: rotate(90deg);
	position: absolute;
	bottom: calc(39% + 10px);
	left: -37%;
	width: calc(71% - 10px);
	height: 20px;
	background-color: rgba(0,0,0,.6);
	border: 1px solid white;
	border-radius: 5px;
}
#viewControls_slider{
	position: absolute;
    top: -1px;
    width: calc(100% - 10px);
    left: 5px;
}
#deckLabel{
    position: absolute;
    top: 56px;
    left: 5%;
    font-size: 72px;
}