<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea" class="noselect">
	<div id="avaliableOfficerContainer" class="container4">
		<div class="list" id="avaliableOfficerContainer_list" droplist="true" ondrop="drop(event)" ondragover="event.preventDefault()"></div>
	</div>
	<div id="officersEnRouteContainer" class="container4">
		<div class="list" id="officersEnRouteContainer_list"></div>
	</div>
	<div id="officersOnSceneContainer" class="container4">
		<div class="list" id="officersOnSceneContainer_list"></div>
	</div>
	<div id="officersRecalledContainer" class="container4">
		<div class="list" id="officersRecalledContainer_list"></div>
	</div>
	<div id="avaliableOfficerLabel">AVAILABLE OFFICERS</div>
	<div id="officersEnRouteLabel">EN ROUTE</div>
	<div id="officersOnSceneLabel">ON SCENE</div>
	<div id="officersRecalledLabel">RECALLED</div>
	<div id="dispatchControls" class="container4">
		<div id="dispatchControls_officerList" droplist="true" class='list' ondrop="drop(event)" ondragover="event.preventDefault()"></div>
	</div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>