<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="dispatchBlackoutArea"></div>
<div id="dispatchBlackoutArea_dispatchItemSpecific"></div>

<div id="reasignWarning" class='popupMask'>
	<div class='popupMask_messageBox Container0'>
		<div class='popupMask_messageBox_messageTitle'>WARNING</div>
		<div class='popupMask_messageBox_messageSubTitle'>ONE OR MORE OF THE OFFICERS YOU HAVE SELECTED ARE ALREADY ON ANOTHER CALL, OR ARE OFF DUTY.  THIS ACTION WILL REASIGN THEM TO THIS CALL, AND / OR PUT THE OFFICER ON-DUTY.  ARE YOU SURE YOU WISH TO CONTINUE?</div>
		<div class='popupMask_messageBox_messageIcon'>
			<svg fill="rgb(255,205,0)" height="128" viewBox="0 0 24 24" width="128" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/>
			</svg>
		</div>
		<div class="popupMask_messageBox_symbolTextDevideBar"></div>
		<div class='popupMask_messageBox_closeMessageButton noselect beepOnClick' id='reasignWarning_cancelButton'>CANCEL</div>
		<div class='popupMask_messageBox_closeMessageButton noselect beepOnClick' id='reasignWarning_continueButton'>CONTINUE</div>
	</div>
</div>
<div id="contentArea" class="noselect">
	<div class="container6" id="securityOfficerInformation">
		<div id="securityOfficerInformation_label">OSTLER, ISAAC    -    PROFILE</div>
		<div id="securityInformation_firstNameLabel">FIRST NAME</div>
		<div class="informationField" id="securityInformation_firstName">ISAAC</div>
		<div id="securityInformation_lastNameLabel">LAST NAME</div>
		<div class="informationField" id="securityInformation_lastName">OSTLER</div>
		<div id="securityInformation_middleNameLabel">MIDDLE NAME</div>
		<div class="informationField" id="securityInformation_middleName">STEPHEN</div>
		<div id="securityInformation_ageLabel">AGE</div>
		<div class="informationField" id="securityInformation_age">19</div>
		<div id="securityInformation_speciesLabel">SPECIES</div>
		<div class="informationField" id="securityInformation_species">HUMAN</div>
		<div id="securityInformation_rankLabel">RANK</div>
		<div class="informationField" id="securityInformation_rank">ENSIGN</div>
		<div id="securityInformation_specialtyLabel">SPECIALTY</div>
		<div class="informationField" id="securityInformation_specialty">FIELD MEDIC</div>
		<div id="securityInformation_currentDeckLabel">CURRENT DECK</div>
		<div class="informationField" id="securityInformation_currentDeck">DECK 12</div>
		<div id="securityInformation_currentRoomLabel">CURRENT ROOM</div>
		<div class="informationField" id="securityInformation_currentRoom">MAIN ENGINEERING</div>
		<div id="securityInformation_currentOrdersLabel">CURRENT ORDERS</div>
		<div class="informationField" id="securityInformation_currentOrders"></div>
		<div id="securityInformation_closeButton" class="customButton">CLOSE</div>
		<div id="securityInformation_recallButton" class="customButton">RECALL OFFICER</div>
		<div id="securityInformation_postOffDutyButton" class="customButton">POST OFF-DUTY</div>
	</div>
	<div id="dispatchScreen" class="Container0">
		<div id="dispatchScreen_controls">
			<div id="dispatchScreen_controls_header">DISPATCH INFORMATION</div>
			<div id="dispatchScreen_controls_ordersLabel">TEAM ORDERS</div>
			<textarea id="dispatchScreen_controls_orders" placeholder="TYPE TEAM ORDERS HERE"></textarea>
			<div id="dispatchScreen_controls_deckLabel">SEND TEAM TO DECK</div>
			<select id="dispatchScreen_controls_deckSelect"></select>
			<div id="dispatchScreen_controls_roomLabel">SEND TEAM TO ROOM</div>
			<select id="dispatchScreen_controls_roomSelect"></select>
			<div id="dispatchScreen_controls_codeLabel">
				<span style="font-size: 12px">(OPTIONAL)</span> DISPATCH CODE
			</div>
			<select id="dispatchScreen_controls_codeSelect"></select>
			<div id="dispatchScreen_controls_dispatchPriorityLabel">
				<span style="font-size: 12px">(OPTIONAL)</span> PRIORITY
			</div>
			<select id="dispatchScreen_controls_prioritySelect">
				<optgroup>
					<option value="1">ALPHA - NON-EMERGENCY</option>
					<option value="2">BRAVO - PRIORITIZED NON-EMERGENCY</option>
					<option value="3">CHARLIE - EMERGENCY</option>
					<option value="4">DELTA - LIFE-THREATENING EMERGENCY</option>
					<option value="5">ECHO - SHIP-THREATENING EMERGENCY</option>
				</optgroup>
				<optgroup>
					<option value="0">OMEGA - CREW ASSIST</option>	
				</optgroup>
			</select>
			<div id="dispatchScreen_controls_selectOfficersLabel">
				YOU MUST SELECT AT LEAST ONE OFFICER FROM THE LIST ON THE LEFT BEFORE YOU CAN DISPATCH A TEAM.
			</div>
			<div class="disabledButton" id="dispatchScreen_controls_dispatchButton">DISPATCH TEAM</div>
			<div class="customButton beepOnClick" id="dispatchScreen_controls_cancelButton">CANCEL</div>
		</div>
	</div>
	<div id="officersList" class="Container0">
		<div id="officersList_header">SECURITY OFFICERS</div>
		<div id="officersList_list"></div>
	</div>
	<div id="officerKey">
		<div class="officerKeyItem" style="background-color: rgba(255,255,255,.3);">
			<span style="color:white;">WHITE</span><span class="officerKeyItem_info">OFFICER UNASSIGNED</span>
		</div>
		<div class="officerKeyItem" style="background-color: rgba(55,55,55,.3);">
			<span style="color:grey;">GREY</span><span class="officerKeyItem_info">OFFICER OFF DUTY</span>
		</div>
		<div class="officerKeyItem" style="background-color: rgba(255,128,0,.3);">
			<span style="color:orange;">ORANGE</span><span class="officerKeyItem_info">OFFICER EN ROUTE</span>
		</div>
		<div class="officerKeyItem" style="background-color: rgba(0,128,255,.3);">
			<span style="color:cyan;">BLUE</span><span class="officerKeyItem_info">OFFICER ON SCENE</span>
		</div>
		<div class="officerKeyItem" style="background-color: rgba(255,255,0,.3);">
			<span style="color:yellow;">YELLOW</span><span class="officerKeyItem_info">OFFICER RETURNING</span>
		</div>
		<div class="officerKeyItem" style="background-color: rgba(255,0,0,.3);">
			<span style="color:red;">RED</span><span class="officerKeyItem_info">OFFICER STATUS UNKNOWN</span>
		</div>
	</div>
	<div class="beepOnClick customButton" id="dispatchButton">
		NEW DISPATCH
	</div>
	<div id="dispatchTasksInfo">
		<div class="beepOnClick" id="dispatchTasksInfo_closeButton">
			CLOSE
		</div>
		<div id="dispatchTasksInfo_title">DISPATCH TASKS</div>
		<div id="dispatchTasksInfo_subtitle">LISTED BELOW ARE TASKS THAT SHOULD BE ACCOMPLISHED WITH EVERY CALL, AND THE TIME THEY SHOULD BE ACCOMPLISHED</div>
		<div id="dispatchTasksInfo_list">
			<div id="dispatchTasksInfo_list_header" style="font-size:22px">
				<div class="dispatchTasksInfo_list_item_name">TASK</div>
				<div class="dispatchTasksInfo_list_item_byTime">COMPLETE AT TIME</div>
				<div class="dispatchTasksInfo_list_item_description">TASK DESCRIPTION</div>
			</div>
			<div class="dispatchTasksInfo_list_item">
				<div class="dispatchTasksInfo_list_item_name">INITIAL DISPATCH</div>
				<div class="dispatchTasksInfo_list_item_byTime">0:00 (UPON DISPATCH)</div>
				<div class="dispatchTasksInfo_list_item_description">OVER MESSAGING OR RADIO, INFORM THE DISPATCHED OFFICERS THAT THEY ARE BEING DISPATCHED, ANY ADDITIONAL INFORMATION, AND TO CONTACT YOU WITH ANY QUESTIONS</div>
			</div>
			<div class="dispatchTasksInfo_list_item">
				<div class="dispatchTasksInfo_list_item_name">ARRIVAL CHECK</div>
				<div class="dispatchTasksInfo_list_item_byTime">7:00 (IF NOT ARRIVED)</div>
				<div class="dispatchTasksInfo_list_item_description">IF THE OFFICER HAS NOT ARRIVED AT THEIR DESTINATION WITHIN 7 MINUTES, CHECK WITH THEM OVER THE RADIO OR MESSAGING TO ASSESS THEIR CURRENT POSITION / STATUS</div>
			</div>
			<div class="dispatchTasksInfo_list_item">
				<div class="dispatchTasksInfo_list_item_name">SCENE CHECK</div>
				<div class="dispatchTasksInfo_list_item_byTime">5:00 (10 MINUTES AFTER ARRIVAL)</div>
				<div class="dispatchTasksInfo_list_item_description">AFTER 5 MINUTES, IF YOU HAVE NOT HEARD FROM THE OFFICER YOU SHOULD CHECK THEIR STATUS.  ARE THEY OKAY?  DOES THE TEAM NEED ADDITIONAL RESOURCES?  HAS THE SITUATION GOTTEN BETTER OR WORSE?</div>
			</div>
			<div class="dispatchTasksInfo_list_item">
				<div class="dispatchTasksInfo_list_item_name">CODE-4 CHECK</div>
				<div class="dispatchTasksInfo_list_item_byTime">HAVEN'T HEARD FROM OFFICER FOR MORE THAN 10:00</div>
				<div class="dispatchTasksInfo_list_item_description">IS THE OFFICER "CODE-4"? (IS THE OFFICER OKAY?  DO THEY RESPOND TO RADIO / MESSAGING CHECKS?  IF NOT, DISPATCH ADDITIONAL UNITS TO CHECK ON THEM)</div>
			</div>
			<div class="dispatchTasksInfo_list_item">
				<div class="dispatchTasksInfo_list_item_name">DANGEROUS SITUATION</div>
				<div class="dispatchTasksInfo_list_item_byTime">5:00 (EVERY 5 MINUTES)</div>
				<div class="dispatchTasksInfo_list_item_description">IF THE OFFICER IS BEING SENT TO A PARTICULARLY DANGEROUS SITUATION (INTRUDER, FIRE, UNKNOWN PROBLEM, ETC), THEY SHOULD BE CHECKED EVERY 5 MINUTES.</div>
			</div>
			<div class="dispatchTasksInfo_list_item">
				<div class="dispatchTasksInfo_list_item_name">MEDICAL EMERGENCY</div>
				<div class="dispatchTasksInfo_list_item_byTime">10:00</div>
				<div class="dispatchTasksInfo_list_item_description">IF THE OFFICER IS BEING SENT AS A FIRST RESPONDER TO A MEDICAL EMERGENCY, YOU SHOULD CHECK WITH THEM AFTER 10 MINUTES.  CAN THE PATIENT WALK?  DO THEY NEED A MEDICAL TEAM FROM SICKBAY?  IS THE PATIENT CRITICALLY INJURED?</div>
			</div>
		</div>
	</div>
	<div id="dispatchTasks" class="beepOnClick">
		VIEW DISPATCH TASKS &ensp;
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    		<path d="M0 0h24v24H0z" fill="none"/>
    		<path fill="white" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/>
		</svg>
	</div>
	<div class="Container0" id="currentCalls">
		<div id="currentCalls_header">CURRENT INCIDENTS</div>
		<div id="currentCalls_noCallsContainer">
			<div id="currentCalls_noCallsContainer_header">NO CURRENT CALLS OR POSTINGS</div>
			<div id="currentCalls_noCallsContainer_subtitle">CLICK THE "NEW DISPATCH" BUTTON TO CREATE A NEW CALL</div>
		</div>
		<div id="currentCalls_callsContainer">
			<div id="currentCalls_callsContainer_header">
				<div id="currentCalls_callsContainer_header_incidentLabel">
					INCIDENT
				</div>
				<div id="currentCalls_callsContainer_header_priorityLabel">
					PRIORITY
				</div>
				<div id="currentCalls_callsContainer_header_locationLabel">
					LOCATION
				</div>
				<div id="currentCalls_callsContainer_header_officersLabel">
					OFFICERS
				</div>
				<div id="currentCalls_callsContainer_header_timeLabel">
					TIME
				</div>
			</div>
			<div id="currentCalls_callsContainer_list"></div>
		</div>
	</div>
	<canvas id="canvas" class="Container0"></canvas>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>