<div id="Alert_Status-Core-Widget" widgetName="Alert Status" class="Core_Theme-CoreWidget" style="width:250px;height:40px;top:425px;left:0px">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=alert-status-core">
	ALERT STATUS: <span id="Alert_Status_Core_Alert_Label"></span>
	<br /><div id="Alert_Status_Core_Button1" class="alertStatusButton" style="background-color: red;left:0%">1</div>
	<div id="Alert_Status_Core_Button2" class="alertStatusButton" style="background-color: #ff8a47;left:20%">2</div>
	<div id="Alert_Status_Core_Button3" class="alertStatusButton" style="background-color: #ffe947;left:40%">3</div>
	<div id="Alert_Status_Core_Button4" class="alertStatusButton" style="background-color: #49ffaa;left:60%">4</div>
	<div id="Alert_Status_Core_Button5" class="alertStatusButton" style="background-color: #49e6ff;left:80%">5</div>
<script src="/resource?path=script.js&screen=alert-status-core" type="text/javascript"></script>
</div>