<div id="Alert_Status-Core-Widget" widgetName="Long Range Comm" class="Core_Theme-CoreWidget" style="
    width: 902.009px;
    height: 407.003px;
    top: 492px;
    left: 355px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=long-range-comm-core">

	<div class="lrmCore_messageList" id="lrmCrew_crewMessages">
		<div class="lrmCore_messageList_header">CREW TO CORE</div>
		<div class="lrmCore_messageList_messages">
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
		</div>
	</div>
	<div id="lrmCore_messageKey">
		<div class='lrmCore_messageKey_item'>WHITE - Message Received and reported</div>
		<div class='lrmCore_messageKey_item'><span style='color:yellow'>YELLOW</span> - Message Received <b>NOT</b> reported</div>
		<div class='lrmCore_messageKey_item'><span style='color:rgb(0,128,255)'>BLUE</span> - Message Downloading</div>
		<div class='lrmCore_messageKey_item'><span style='color:red'>RED</span> - Message <b>NOT</b> RECIEVED</div>
	</div>
	<div id='lrmCore_crewToCoreMessageBox' class='lrmCore_messageViewBox'>
		<div class='lrmCore_messageViewBox_body'>
			TO: USS WASHINGTON<br />
			TIME: 12:29:32<br />
			FREQUENCY: FEDERATION-FREQUENCY<br />
			KEY: ZULU-TANGO-32<br /><br />
			TO: USS WASHINGTON<br />
			FROM: USS VOYAGER<br />
			-<br />
			WASHINGTON,
			<BR />
			WHAT IS YOUR STATUS?<BR/>PLEASE KEEP US UPDATED.<BR />
			<BR/>
			GOOD LUCK WASHINGTON<BR />
			-<BR />
			USS VOYAGER OUT
		</div>
	</div>
	<div id="lrmCore_sendMessageControls">
		<div id="lrmCore_sendMessageControls_sendButton" class="customButton">SEND MESSAGE</div>
		<div id="lrmCore_sendMessageControls_missionPresetLabel">MISSION</div>
		<select id="lrmCore_sendMessageControls_missionPresetSelect">
			<option>PERIKOI</option>
			<option>INTOLERNACE</option>
			<option>GREENPEACE</option>
			<option>IDK BRUH</option>
			<option>SURE</option>
		</select>
		<div id="lrmCore_sendMessageControls_presetPresetLabel">PRESET</div>
		<input type="button" value="EDIT" class="coreButton" id="lrmCore_sendMessageControls_presetEditButton">
		<input type="button" value="NEXT" class="coreButton" id="lrmCore_sendMessageControls_presetNextButton">
		<select id="lrmCore_sendMessageControls_presetPresetSelect">
			<option>STARTUP</option>
			<option>ARRIVE AT PCX-2214</option>
			<option>WEAK SIGNAL</option>
			<option>YOU OKAY?</option>
			<option>HURRY!</option>
			<option>TO THE RESCUE!</option>
		</select>
		<div id="lrmCore_sendMessageControls_fromLabel">SENDER</div>
		<input type="text" id="lrmCore_sendMessageControls_fromTextbox" placeholder="Leave empty to auto-fill">
		<div id="lrmCore_sendMessageControls_keyLabel">KEY</div>
		<input type="text" id="lrmCore_sendMessageControls_keyTextbox" placeholder="Leave empty for no key">
		<div id="lrmCore_sendMessageControls_frequencyLabel">FREQUENCY</div>
		<select id="lrmCore_sendMessageControls_frequencySelect">
			<option>FEDERATION FREQUENCY</option>
		<select id="lrmCore_sendMessageControls_frequencyTextbox">
		<div id="lrmCore_sendMessageControls_viewBox" class="lrmCore_messageViewBox">
			<textarea id='lrmCore_messageViewBox_textarea' title='PRO TIP: typing "USS OSTLER OUT" at the end of the message will automatically set the sender to USS OSTLER.  This works for all names, as long as "out" follows it!' placeholder="TYPE NEW MESSAGE HERE"></textarea>
		</div>
	</div>
	<div class="lrmCore_messageList" id="lrmCore_coreMessages">
		<div class="lrmCore_messageList_header">CORE TO CREW</div>
		<div class="lrmCore_messageList_messages">
			
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND IS REALLY COOL YAAALLLL</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
			<div class="lrmCore_message">
				<div class="lrmCore_message_from">STARFLEET COMMAND</div>
				<div class="lrmCore_message_time">12:43</div>
			</div>
		</div>
	</div>

	<script src="/jquery" type="text/javascript"></script>
	<script src="/resource?path=script.js&screen=long-range-comm-core" type="text/javascript"></script>
</div>