<div id="lrmCode-Core_editPresetsWindow" class="coreWindow" windowName="Long Range Comm - Preset Editor" style="width: 650px;height: 350px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=presetEditorWindowStyle.css&screen=long-range-comm-core">
	<div class='lrmCode-Core_editPresetsWindow_list'>
		<div class='lrmCode-Core_editPresetsWindow_list_header'>MISSIONS</div>
		<div class='lrmCode-Core_editPresetsWindow_list_container'>
			<div class='noselect lrmCode-Core_editPresetsWindow_list_container_message'>
				ISAAC PRESETS
			</div>
			<div class='noselect lrmCode-Core_editPresetsWindow_list_container_message'>
				PERIKOI
			</div>
			<div class='noselect lrmCode-Core_editPresetsWindow_list_container_message'>
				INTOLERANCE
			</div>
			<div class='noselect lrmCode-Core_editPresetsWindow_list_container_message'>
				GREENPEACE
			</div>
			<div class='noselect lrmCode-Core_editPresetsWindow_list_container_message'>
				PERIKOI
			</div>
			<div class='noselect lrmCode-Core_editPresetsWindow_list_container_message'>
				RULE OF SWORD
			</div>
		</div>
		<div class='lrmCode-Core_editPresetsWindow_list_addButton'>ADD</div>
		<div class='lrmCode-Core_editPresetsWindow_list_removeButton'>REMOVE</div>
	</div>
</div>

<div id="lrmCode-Core-Widget" widgetName="Long Range Comm" class="Core_Theme-CoreWidget" style="
    width: 902.009px;
    height: 407.003px;
    top: 492px;
    left: 355px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=long-range-comm-core">

	<div class="lrmCore_messageList" id="lrmCrew_crewMessages">
		<div class="lrmCore_messageList_header">CREW TO CORE</div>
		<div class="lrmCore_messageList_messages" id="lrmCore_crewToCoreMessages">
			
		</div>
	</div>
	<div id="lrmCore_messageKey">
		<div class='lrmCore_messageKey_item'>WHITE - Message Received and reported</div>
		<div class='lrmCore_messageKey_item'><span style='color:yellow'>YELLOW</span> - Message Decoded <b>NOT</b> reported</div>
		<div class='lrmCore_messageKey_item'><span style='color:rgb(255,0,0)'>RED</span> - Message Received <b>NOT</b> decoded</div>
		<div class='lrmCore_messageKey_item'><span style='color:rgb(0,128,255)'>BLUE</span> - Message Downloading</div>
		<div class='lrmCore_messageKey_item'><span style='color:rgb(255,0,255)'>PURPLE</span> - Message <b>NOT</b> RECIEVED</div>
	</div>
	<div id='lrmCore_crewToCoreMessageBox' class='lrmCore_messageViewBox'>
		<div id='lrmCore_crewToCoreMessageBox_body' class='lrmCore_messageViewBox_body'>
			
		</div>
	</div>
	<div id="lrmCore_sendMessageControls">
		<div id="lrmCore_sendMessageControls_sendButton" class="customButton">SEND MESSAGE</div>
		<div id="lrmCore_sendMessageControls_missionPresetLabel">MISSION</div>
		<select id="lrmCore_sendMessageControls_missionPresetSelect">
			<option>PERIKOI</option>
			<option>INTOLERNACE</option>
			<option>GREENPEACE</option>
			<option>IDK BRUH</option>
			<option>SURE</option>
		</select>
		<div id="lrmCore_sendMessageControls_presetPresetLabel">PRESET</div>
		<input type="button" value="EDIT" class="coreButton" id="lrmCore_sendMessageControls_presetEditButton">
		<input type="button" value="NEXT" class="coreButton" id="lrmCore_sendMessageControls_presetNextButton">
		<select id="lrmCore_sendMessageControls_presetPresetSelect">
			<option>STARTUP</option>
			<option>ARRIVE AT PCX-2214</option>
			<option>WEAK SIGNAL</option>
			<option>YOU OKAY?</option>
			<option>HURRY!</option>
			<option>TO THE RESCUE!</option>
		</select>
		<div id="lrmCore_sendMessageControls_fromLabel">SENDER</div>
		<input type="text" id="lrmCore_sendMessageControls_fromTextbox" placeholder="Leave empty to auto-fill">
		<div id="lrmCore_sendMessageControls_keyLabel">KEY</div>
		<input type="text" id="lrmCore_sendMessageControls_keyTextbox" placeholder="Leave empty for no key">
		<div id="lrmCore_sendMessageControls_frequencyLabel">FREQUENCY</div>
		<select id="lrmCore_sendMessageControls_frequencySelect">
			<option>GENERAL USE FREQUENCY</option>
		</select>
		<div id="lrmCore_sendMessageControls_viewBox" class="lrmCore_messageViewBox">
			<textarea spellcheck="true" id='lrmCore_messageViewBox_textarea' title='PRO TIP: typing "USS OSTLER OUT" at the end of the message will automatically set the sender to USS OSTLER.  This works for all names, as long as "out" follows it!' placeholder="TYPE NEW MESSAGE HERE"></textarea>
		</div>
	</div>
	<div class="lrmCore_messageList" id="lrmCore_coreMessages">
		<div class="lrmCore_messageList_header">CORE TO CREW</div>
		<div class="lrmCore_messageList_messages" id="lrmCore_coreToCrewMessages">
			
		</div>
	</div>

	<script src="/jquery" type="text/javascript"></script>
	<script src="/resource?path=encode.js&screen=long-range-comm-core" type="text/javascript"></script>
	<script src="/resource?path=script.js&screen=long-range-comm-core" type="text/javascript"></script>
	<script src="/resource?path=presetEditorWindowScript.js&screen=long-range-comm-core" type="text/javascript"></script>
</div>