<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea" class="noselect">
	<div id="deckList" class="container4">
		<div id="deckListContainer"></div>
	</div>
	<div id="roomsList" class="container4">
		<div id="roomListContainer"></div>
	</div>
	<div id="deckControls" class="container4">
		<div id="deckControls_lockAllButton" class="Button2 beepOnClick">LOCK ALL ROOMS</div>
		<div id="deckControls_unlockAllbutton" class="Button2 beepOnClick">UNLOCK ALL ROOMS</div>

		<div id="deckControls_evacAllButton" class="Button2 beepOnClick">EVACUATE ALL ROOMS</div>
		<div id="deckControls_returnAllPersonnelButton" class="Button2 beepOnClick">RETURN ALL PERSONNEL TO STATIONS</div>

		<div id="deckControls_gasProgressBar"><div id="deckControls_gasProgressBar_label"></div><div id="deckControls_gasProgressBar_fill"></div></div>
	</div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>