.infraredSensors{
	filter: grayscale(1) blur(2px);
}
.selectedButton{
    filter: brightness(0.7) contrast(1.42);
}
.selectedButton:hover{
	filter: brightness(0.6)
}
.selectedButton:active{
	filter: brightness(0.4)
}
.flash{
	filter: grayscale(1) invert(1);
}
#sensorsArrayTHREE_CANVAS{
    position: absolute;
    z-index: -1;
    left: 2.5%;
    top:2.5%;
    height: 95%;
    width: 95%;
}
#sensorsArray_Canvas{
	position: absolute;
	top:2.5%;
	left: 2.5%;
    height: 95%;
    width: 95%;
  	background-image: radial-gradient(16px at 60px 50% , #000000 0%, #000000 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px);
}
.SensorsArrayContactCanvas{
	position: absolute;
	top:2.5%;
	left: 2.5%;
}
#mask{
    background-color: red;
    opacity: .5;
    position: absolute;
    top:0%;
    left: 0%;
    height: 100%;
    width:100%;
}
#sensorsArray{
    -webkit-clip-path: url(#myClip);
    position: absolute;
    top: 0%;
    height: 90%;
    width: 93%;
    left: 19%;
}
#processedData{
    position: absolute;
    bottom: 3%;
    left: -5%;
    width: 32%;
    height: 38%;
}
#processedDataHeader{
	position: absolute;
    top: 3%;
    left: -9%;
    width: 80%;
    text-align: center;
    font-size: 34px;
}
#sensorScans{
	position: absolute;
    top: 10%;
    left: -5%;
    width: 32%;
    height: 36%;
}
#sensorsArrayViewTypeContainer{
	position: absolute;
    top: 48.5%;
    height: 8%;
    width: 32%;
    left: -5%;
}
.viewTypeButton{
	position: absolute;
    bottom: 15%;
    height: 70%;
    width: 44%;
    right: 5%;
}
#processedDataContainer{
	position: absolute;
    top: 21%;
    width: 90%;
    left: 5%;
    height: 71%;
    font-size: 16px;
    overflow: auto;
    border-radius: 13px;
    padding: 11px;
    background-color: rgba(0,0,0,.8);
    font-family: 'Arial';
    border: 1px solid white;
}
.fontSizeAdjustButton{
	position: absolute;
    top: 5%;
    height: 8%;
    width: 7%;
    text-align: center;
    right: 7%;
    border-radius: 25%;
    background-color: #000000;
    color: white;
    font-size: 19px;
    border: 1px solid white;
    cursor: pointer;
}
.fontSizeAdjustButton:hover{
	filter: brightness(1.25);
}
.fontSizeAdjustButton:active{
	filter: brightness(.65);
}
#scanQuerry{
    position: absolute;
    top: 14%;
    width: 92%;
    left: 4%;
    height: 30%;
}
#scanTextbox{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 78%;
    height: 48%;
}
#directionDropdown{
    position: absolute;
    top:51%;
    left: 1%;
    width: 98%;
    height: 48%;
}
#scanButton{
    position: absolute;
    top: 0px;
    left: 79%;
    width: 22%;
    height: 48%;
}
#scanAnswerTextArea{
	position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    height: 50%;
    padding: 9px;
    font-size: 16px;
    overflow: auto;
    border-radius: 13px;
    background-color: rgba(0,0,0,.8);
    font-family: 'Arial';
    border: 1px solid white;
}