<!DOCTYPE html>
<html>
<head>
	<title>Reactor Control</title>
	<link rel="stylesheet" type="text/css" href="/coreThemes">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=Power-Distribution-Core">
</head>
<body>
	<div id="Power-Distribution-Core-Widget" class="Core_Theme-CoreWidget" style="width:250px;height:420px;">
		<div id="Power-Distribution-SystemList"></div>
		<div id="Power-Distribution-ReactorSettings">
			<div style="width:100%;left:0%;position:absolute;background-color:white;height:1px"></div>
			<div id="Power-Distribution-PowerInUseLabel">POWER USED</div>
			<div id="Power-Distribution-PowerInUse"></div>
			<div id="Power-Distribution-ReactorOutputLabel">POWER AVAILABLE</div>
			<input type='input' onClick='this.select();' id="Power-Distribution-Reactor-Output">
			<div id="Power-Distribution-PowerDrawLabel">POWER DRAW</div>
			<div id="Power-Distribution-PowerDraw"></div>
			<div id="Power-Distribution-FluxPower" class="noselect">FLUX</div>
			<div style="position:absolute;bottom: 1px;left:1px">
				<div style="font-size:8px;color:white">ONLINE</div>
				<div style="font-size:8px;color:#404040">NO POWER</div>
				<div style="font-size:8px;color:red">OFFLINE (SHORT REPAIR)</div>
				<div style="font-size:8px;color:orange">OFFLINE (LONG REPAIR)</div>
				<div style="font-size:8px;color:purple">OFFLINE (IMPOSSIBLE REPAIR)</div>
			</div>
		</div>

		 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
		<script src="/resource?path=script.js&screen=Power-Distribution-Core" type="text/javascript"></script>
	</div>
</body>
</html>