<script src="/threejs"></script>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=sensors-core">
<div id="new_Sensor-Array-Core-Widget" widgetName="Sensors" class="Core_Theme-CoreWidget" style="width:1000px;height:500px;top:150px;left:255px">
<div class="hardContainer">
	<datalist id="my-detents">
  		<option value="0">
	</datalist>
	<div id="sensors_core_contactControls">
		<div id="sensors_core_contactControls_moveAllControls">
			<canvas id="sensors_core_contactControls_moveAllControls_canvas"></canvas>
			<input type="range" id='sensors_core_moveAllPowerSlider'  min='-1' max='1' value="0" step='.01' list="my-detents">
		</div>
		<div id="sensors_core_contactList_container">
			
		</div>
		<div id="sensors_core_contactControls_addRemoveDuplicateButtons">
			<!-- Yes these ID's are incorrect, ignore it -->
			<button id="sensors_core_contactEditor_addNewContactButton">ADD NEW CONTACT</button>
			<button id="sensors_core_contactEditor_duplicateContactButton">DUPLICATE CONTACT</button>
			<button id="sensors_core_contactEditor_removeContactButton">REMOVE CONTACT</button>
		</div>
		<div id="sensors_core_contactEditor_container">

			<div id="sensors_core_contactEditor_nameLabel">
				Name
			</div>
			<input type="text" id="sensors_core_contactEditor_nameTextbox">
			<div id="sensors_core_contactEditor_imageLabel">
				Image
			</div>
			<select id="sensors_core_contactEditor_imageDropdown" disabled="disabled"></select>
			<div id="sensors_core_contactEditor_iconLabel">
				Icon
			</div>
			<select id="sensors_core_contactEditor_iconDropdown"></select>
			<div id="sensors_core_contactEditor_sizeLabel">
				Size
			</div>
			<input type="range" id="sensors_core_contactEditor_sizeRange" min="1" max= "100" step=".1">

			<select id="sensors_core_contactEditor_moveSelect">

			</select>
		</div>
	</div>
	<div id="new_sensors-core_sensorsArray">
		<canvas id="new_sensors-core_sensorsArray_Canvas" class="noselect"></canvas>
	</div>
</div>
<script src="/resource?path=script.js&screen=sensors-core" type="text/javascript"></script>
