<script src="/threejs"></script>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=sensors-core">
<div id="new_Sensor-Array-Core-Widget" widgetName="Sensors" class="Core_Theme-CoreWidget" style="width:1000px;height:500px;top:150px;left:255px">
<div class="hardContainer">
	<input type="range" id='range' style="position: absolute;right: 20px;top:5px"  min='0' max='10' step='.1' list="my-detents">
	<datalist id="my-detents">
  		<option value="5">
	</datalist>
	<div id="sensors_core_contactControls">
		<div id="sensors_core_contactList_container">
			
		</div>
		<div id="sensors_core_contactEditor_container">
			<div id="sensors_core_contactEditor_nameLabel">
				Name
			</div>
			<input type="text" id="sensors_core_contactEditor_nameTextbox">
			<div id="sensors_core_contactEditor_imageLabel">
				Image
			</div>
			<select id="sensors_core_contactEditor_imageDropdown" disabled="disabled"></select>
			<input type="text" id="sensors_core_contactEditor_nameTextbox">
			<div id="sensors_core_contactEditor_iconLabel">
				Icon
			</div>
			<select id="sensors_core_contactEditor_iconDropdown"></select>
		</div>
	</div>
	<div id="new_sensors-core_sensorsArray">
		<canvas id="new_sensors-core_sensorsArray_Canvas" class="noselect"></canvas>
	</div>
</div>
<script src="/resource?path=script.js&screen=sensors-core" type="text/javascript"></script>
