#new_sensors-core_sensorsArray{
	position: absolute;
	top:0px;
	height: 100%;
	width: 50%;
	border-right: 1px solid white;
}
#new_sensors-core_sensorsArray_Canvas{
	position: absolute;
	top:0px;
	height: 100%;
	width: 100%;
}