/* The animation code */
@keyframes glowBlue {
    0%   {filter: drop-shadow(0px 0px 10px #5ccbff) brightness(.7);color:white;}
    50%  {filter: drop-shadow(0px 0px 30px #5ccbff) brightness(2);color:black;}
    100% {filter: drop-shadow(0px 0px 10px #5ccbff) brightness(.7);color:white;}
}
/* The animation code */
@keyframes glowRed {
    0%   {filter: drop-shadow(0px 0px 30px #ff0000) brightness(.7);color:white;}
    50%  {filter: drop-shadow(0px 0px 30px #ff0000) brightness(2);color:black;}
    100% {filter: drop-shadow(0px 0px 30px #ff0000) brightness(.7);color:white;}
}

#Sensor_Core_PlanetEditorWindow_title{
	position: absolute;
	top:20px;
	left: 0px;
	width: 100%;
	text-align: center;
}
#Sensor_Core_PlanetEditorWindow_icons{
	position: absolute;
	overflow: auto;
	top:40px;
	left: 5px;
	width: calc(100% - 12px);
	/* border-radius: 10px; */
	border:1px solid white;
	height: calc(100% - 160px);
}
#Sensor_Core_PlanetEditorWindow_presets{
	position: absolute;
	bottom: 94px;
	border: 1px solid white;
	height: 21px;
	width: calc(100% - 12px);
	left: 5px;
	text-align: center;
}
#sensors_core_contactEditor_moveSelect{
	position: absolute;
	bottom: 50px;
	right: 5px;
}
.sensors_core_contactEditor_deleteContactModeActive{
	z-index: 5;
    animation-name: glowRed;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.sensors_core_contactEditor_duplicateContactModeActive{
	z-index: 5;
    animation-name: glowBlue;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

button:active{
	filter: brightness(.65);
}
#sensors_core_moveAllPowerSlider{
	position: absolute;
	top:calc(100% - 20px);
	left: 2px;
	width:calc(100% - 4px);
    z-index: 2;
}
#sensors_core_contactControls_moveAllControls_canvas{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#sensors_core_contactControls_moveAllControls{
	position: absolute;
	top:2px;
	right: 2px;
	width: calc(50% - 7px);
	border: 1px solid white;
	height: calc(50% - 6px);
}
#sensors_core_contactEditor_removeContactButton{
	position: absolute;
	bottom: 22px;
	right: 1px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	width: calc(50% - 2px);
	height: 23px;
	background-color: #ff0000;
}
#sensors_core_contactControls_addRemoveDuplicateButtons{
	position: absolute;
	bottom: 1px;
	right: 1px;
	width: calc(50% - 3px);
	height: 23px;
}
#sensors_core_contactEditor_duplicateContactButton{
	position: absolute;
	font-size: 10px;
	bottom: 22px;
	left: 1px;
	width: calc(50% - 2px);
	background-color: #5ccbff;
	color: white;
	cursor: pointer;
	height: 23px;
	border: 1px solid white;
}
#sensors_core_contactEditor_addNewContactButton{
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: 20px;
	z-index: 3;
	cursor: pointer;
	border: 1px solid white;
}
#sensors_core_contactEditor_sizeRange{
	position: absolute;
	top:56px;
	right: 2px;
	width: calc(100% - 56px);
}
#sensors_core_contactEditor_sizeLabel{
	position: absolute;
	left: 2px;
	top: 58px;
}
#new_sensors-core_sensorsArray{
	position: absolute;
	top:0px;
	height: 100%;
	width: 50%;
	border-right: 1px solid white;
}
#new_sensors-core_sensorsArray_Canvas{
	position: absolute;
	top:0px;
	height: 100%;
	width: 100%;
}
#sensors_core_contactList_container{
	width: 50%;
	position: absolute;
	left: 0px;
	height: 100%;
	overflow: auto;
	border-right: 1px solid white;
}
#sensors_core_contactControls{
	position: absolute;
	left: 500px;
	width: 50%;
	height: 100%;
	overflow: hidden;
	top:0px;
}
#sensors_core_contactEditor_imageLabel{
	position: absolute;
	top:22px;
	left: 2px;
}
#sensors_core_contactEditor_iconLabel{
	top:39px;
	position: absolute;
	left: 2px;
}
#sensors_core_contactEditor_iconDropdown{
	position: absolute;
	top:39px;
	right: 2px;
	width: calc(100% - 52px);
}
#sensors_core_contactEditor_imageDropdown{
	position: absolute;
	top:22px;
	right: 2px;
	width: calc(100% - 52px);
}
#sensors_core_contactEditor_nameLabel{
	position: absolute;
	top:2px;
	left: 2px;
}
#sensors_core_contactEditor_nameTextbox{
	position: absolute;
	top:1px;
	right: 2px;
	width: calc(100% - 58px);
}
.sensors_core_contactListElement{
	position: relative;
	width: 100%;
	height: 20px;
	left: 0px;
	background-color: rgba(255,255,255,.1);
	color: white;
	overflow: hidden;
	border-bottom: 1px solid white;
	cursor: pointer;
}
#sensors_core_contactEditor_container_mask{
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(0,0,0,.7);
}
#sensors_core_contactEditor_container{
	position: absolute;
	bottom: calc(50% - 78px);
	height: 76px;
	right: 2px;
	width:calc(50% - 7px);
	border: 1px solid white;
}
.sensors_core_contactListElement:active{
	background-color: red;
}
.sensors_core_contactListElement:hover{
	filter: brightness(1.25);
}
#sensors_core_contactControls_programControls{
	position: absolute;
	top: calc(50% + 79px);
	height: calc(50% - 150px);
	width: calc(50% - 7px);
	right: 2px;
	border: 1px solid white;
}
#sensors_core_contactControls_programControls_planet{
	background-image: url('/resource?path=public/Icons/planet.jpg&screen=sensors-core');
}
#sensors_core_contactControls_programControls_asteroid{
	background-image: url('/resource?path=public/Icons/asteroids.jpg&screen=sensors-core');
}
#sensors_core_contactControls_programControls_pattern{
	background-image: url('/resource?path=public/Icons/battle.jpg&screen=sensors-core');
}
#sensors_core_contactControls_programControls_border{
	background-image: url('/resource?path=public/Icons/border.png&screen=sensors-core');
}
#sensors_core_contactControls_programControls_starbase{
	background-image: url('/resource?path=public/Icons/starbase.png&screen=sensors-core');
}
#sensors_core_contactControls_programControls_nebula{
	background-image: url('/resource?path=public/Icons/nebula.png&screen=sensors-core');
}
.sensors_core_contactControls_programControls_programContainer_label{
	position: absolute;
	bottom: 2px;
	font-size: 8px;
	width: 100%;
	text-align: center;
}
.sensors_core_contactControls_programControls_programContainer{
	overflow: hidden;
	position: relative;
	float: left;
	border-radius: 5px;
	height: calc(50% - 4px);
	width: calc(33% - 5px);
	/* padding-left: 0px; */
	margin-left: 3px;
	margin-top: 1px;
	border: 1px solid white;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#Sensor_Core_PlanetEditorWindow_options_sizeLabel{
	position: absolute;
	top:2px;
	left: 2px;
}
#Sensor_Core_PlanetEditorWindow_options_sizeRange{
	position: absolute;
	top: 0px;
	left: 45px;
	width: calc(100% - 90px);
}
#Sensor_Core_PlanetEditorWindow_options_nameLabel{
	position: absolute;
	top: 20px;
	left: 2px;
}
#Sensor_Core_PlanetEditorWindow_options_spinRange{
	position: absolute;
	top: 37px;
	right: 41px;
	width: calc(100% - 90px);
}
#Sensor_Core_PlanetEditorWindow_createPlanetButton{
	position: absolute;
	bottom: 1px;
	background: linear-gradient(135deg, #87d611 0%,#19b70e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	width: calc(50% - 5px);
	border: 1px solid white;
	right: 0px;
	height: 16px;
}
#Sensor_Core_PlanetEditorWindow_options_spinTextbox{
    background: linear-gradient(to bottom,#b1b1b1,#949494);
    position: absolute;
    top: 38px;
    width: 38px;
    color: black;
    right: 0px;
}
#Sensor_Core_PlanetEditorWindow_options_sizeTextbox{
	position: absolute;
    top: 2px;
    right: 0px;
    width: 38px;
    background: linear-gradient(to bottom,#b1b1b1,#949494);
    color: black;
}
#Sensor_Core_PlanetEditorWindow_cancelButton{
	position: absolute;
	bottom: 1px;
	left: 0px;
	height: 16px;
	background: linear-gradient(135deg, #ce000a 0%,#ff0505 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	width: calc(50% - 0px);
	border: 1px solid white;
}
#Sensor_Core_PlanetEditorWindow_options_spinLabel{
	position: absolute;
	top: 38px;
	left: 2px;
}
#Sensor_Core_PlanetEditorWindow_options_nameTextbox{
	position: absolute;
	top: 20px;
	right: 0px;
	background-color: rgba(0,0,0,.75);
	color:white;
	width: calc(100% - 50px);
}
#Sensor_Core_PlanetEditorWindow_options{
    position: absolute;
    bottom: 20px;
    height: 75px;
    width: calc(100% - 12px);
    left: 5px;
}
.sensors_core_imagePreview{
	position: relative;
    height: 58px;
    width: 58px;
    margin-left: 2px;
    margin-top: 2px;
    border: 1px solid white;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sensors_core_planetaryPresetButton{
	position: relative;
	float: left;
	margin-left: 1px;
	width: calc(calc(100% / 6.1) - 0px);
	height: calc(100% - 2px);
	top:1px;
	border: 1px solid white;
}