<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=internal-communications-core">
<div id="internal_communciations_Core_Widget" widgetName="Internal Communications" class="Core_Theme-CoreWidget" style="
    width: 490px;
    height: 80px;
    top: 516px;
    left: 600px;">
    <div class="hardContainer">
        <div id="internal_communciations_Core_Widget_incomingCallLabel">NO INCOMING CALL</div>
        <input type="button" class="coreButton" value="Connect" id="internal_communciations_Core_Widget_incomingCallConnectButton">
        <select id="internal_communciations_Core_Widget_callDropdown">
        </select>
        <select title="PRO TIP! Right Click To Toggle Between Alphabetical And Deck Sorting" id="internal_communciations_Core_Widget_fromDropdown">
        </select>
        <input type="button" value="Call" class="coreButton" id="internal_communciations_Core_Widget_callButton">
        <div id="internal_communciations_Core_Widget_statusLabel">Status</div>
        <div id="internal_communciations_Core_Widget_statusBox">No Call</div>
    </div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=internal-communications-core" type="text/javascript"></script>