body{
	background-color: black;
	color: white;
	font-family: 'Arial';
}
.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#serverControls_commandButtons{
	position: absolute;
	right: 5px;
	width: 33.3%;
	height: calc(100% - 10px);
	bottom:5px;
}
#serverControls_setups_list{
	position: absolute;
	width: 100%;
	height: 60%;
	border: 1px solid white;
	background-color: rgba(0,0,0,.6);
	overflow: auto;
}
#serverControls_setups_buttons{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: calc(40% - 5px);
}

.serverControls_setups_button{
	width: 100%;
	height: calc(calc(calc(100% - 5px) / 3) - 2px);
}

#stations{
	display: none;
	position: absolute;
	top:5px;
	right: 5px;
	width: calc(33.3% - 10px);
	height: calc(100% - 10px);
	border: 1px solid white;
	background-color: rgba(0,0,0,.7);
}
.customButton:hover{
	filter: brightness(1.25);
}
.customButton:active{
	color: black;
	filter: brightness(0.65);
}
.customButton{
	border: 1px solid white;
	background: linear-gradient(to bottom, rgba(141,149,160,1) 0%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.spacer{
	position: relative;
	height: 2px;
}
#serverControls_setups{
	position: absolute;
	top:5px;
	left: 5px;
	width: calc(66.6% - 15px);
	height: calc(100% - 10px);
}
#setLayoutNamePopup{
	display: none;
	position: absolute;
	top:calc(50% - 100px);
	height: 180px;
	width: 60%;
	left: 20%;
	border-radius: 25px;
	border: 1px solid white;
	background-color: rgba(0,0,0,.9);
	z-index: 10;
}
#setLayoutNamePopup_header{
	position: absolute;
	top: 26px;
	left: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 30px;
}
#setLayoutNamePopup_textbox{
	zoom: 2.3;
	position: absolute;
	left: 33px;
	width: calc(100% - 75px);
	top: 33px;
	background-color: black;
	color:white;
	border: .1px solid white;
}
#setLayoutNamePopup_saveLayout{
	background: linear-gradient(to bottom, rgba(150,240,150,1) 0%,rgba(93,110,117,1) 100%);
	position: absolute;
	bottom: 20px;
	width: 40%;
	left: 10%;
	height: 25px;
}
#setLayoutNamePopup_cancelLayout{
	background: linear-gradient(to bottom, rgba(255,150,150,1) 0%,rgba(93,110,117,1) 100%);
	position: absolute;
	bottom: 20px;
	width: 40%;
	right: 10%;
	height: 25px;
}
#resetDatabaseButton{
	background: linear-gradient(to bottom, rgba(150,215,224,1) 0%,rgba(93,110,117,1) 100%);
}
#forceRelaunchButton{
	background: linear-gradient(to bottom, rgba(229,206,153,1) 0%,rgba(96,94,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#shutdownButton{
	background: linear-gradient(to bottom, rgba(232,92,92,1) 0%,rgba(114,90,91,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.serverControls_commandButton{
	width: 100%;
	height: 15%;
}
#serverControls{
	display: none;
	background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(90,126,155,0.48) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: absolute;
	bottom:5px;
	left: 5px;
	width: calc(66.6% - 10px);
	height: calc(33.3% - 10px);
	border: 1px solid white;
}
#interstellarTitle{
	display: none;
	position: absolute;
	top:30px;
	left: 30px;
	opacity: .2;
	font-size: 128px;
	font-family: 'Impact';
}
#stationConfig{
	display: none;
	background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(90,126,155,0.48) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: absolute;
	top:5px;
	left: 5px;
	width: calc(66.6% - 10px);
	height: calc(66.6% - 10px);
	border: 1px solid white;
}
#background{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
}
.glowButton{
	position: relative;
	top:4px;
	left: 2px;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	border: 1px solid white;
	background-color: rgb(64,64,64);
}

.glowButton.green{
	background-color: lime;
	box-shadow: 0px 0px 10px lime;
	filter:drop-shadow(0px 0px 10px lime);
}
.glowButton.red{
	background-color: red;
	box-shadow: 0px 0px 10px red;
	filter:drop-shadow(0px 0px 10px red);
}
.stationClass_title{
	position: absolute;
	left: 20px;
	top:2px;
	font-size: 16px;
}
.stationClass:hover{
	background-color: rgba(120,120,120,.3);
	filter: brightness(1.25);
}
.stationClass:active{
	filter: brightness(0.65);
	background-color: rgba(0,0,0,.3);
}
.stationClass{
	cursor: pointer;
	height: 20px;
	border-bottom: 1px solid white;
	position: relative;
	width: 100%;
	background-color: rgba(0,0,0,.3);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.stationHeader_title{
	position: absolute;
	left: 20px;
	top:3px;
	font-size: 24px;
}
.stationHeader{
	height: 30px;
	border-bottom: 1px solid white;
	position: relative;
	width: 100%;
	background-color: rgba(60,60,80,.6);
}
#stations_header{
	position: absolute;
	top:5px;
	left: 5px;
	font-size: 26px;
}
.layout:hover{
	background-color: rgba(60,60,60,.8);
}
.layout:active{
	filter: brightness(0.65);
}
.layout{
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 18px;
	font-size: 16px;
	border-bottom: 1px solid white;
}
#stationConfig_stationInfo{
	position: absolute;
	right: 5px;
    top: 30px;
    width: 280px;
    height: calc(50% - 60px);
	border: 1px solid white;
	border-radius: 5px;
}
#stationConfig_stationInfo_stationNameLabel{
	position: absolute;
	top:34px;
	left: 5px;
}
#stationConfig_stationInfo_header{
	position: absolute;
	top:5px;
	left: 5px;
	font-size: 22px;
}
#stationConfig_stationInfo_stationThemeLabel {
    position: absolute;
    top: 71px;
    left: 5px;
}

#stationConfig_stationInfo_stationNameText{
	position: absolute;
	top:33px;
	right: 5px;
	width:130px;
	background-color: black;
	color:white;
	border: 1px solid white;
	border-radius: 0px 4px 0px 0px;
}
#stationConfig_stationInfo_stationTypeLabel{
	position: absolute;
	top: 53px;
	left: 5px;
}
#stationConfig_stationInfo_stationTheme{
	position: absolute;
	top: 71px;
	right: 5px;
	background-color: black;
	color:white;
	width:135px;
}
#stationConfig_stationInfo_stationType{
	position: absolute;
	top: 53px;
	background-color: black;
	color:white;
	right: 5px;
	width:135px;
}
#stationConfig_stationCardsLabel{
	position: absolute;
	top:5px;
	left: 5px;
	font-size: 25px;
}
#stationConfig_possibleCardsLabel{
	position: absolute;
    top: calc(50% - 20px);
	left: 5px;
	font-size: 25px;
}
#stationConfig_stationCards{
	position: absolute;
	overflow: auto;
	top:30px;
	left: 5px;
	width: calc(100% - 300px);
	height: calc(50% - 60px);
	border-radius: 5px;
	background-color: rgba(0,0,0,.3);
	border: 1px solid white;
}
#stationConfig_cardIconSize{
	position: absolute;
    top: calc(50% - 20px);
	right: 5px;
	width:280px;
}
.stationConfig_cardContainer{
    width: 120px;
    height: 110px;
    position: relative;
    float: left;
}
.stationConfig_cardTitle{
	position: absolute;
	bottom: 0%;
	left: 0px;
	text-overflow: ellipsis;
	height: 16px;
	font-size: 11px;
	width: 100%;
	text-align: center;
}
.stationConfig_cardImage{
	background-color: rgba(0,0,0,.7);
	cursor: move;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("/resource?path=cards/Power-Distribution/preview.png");
	position: absolute;
	top:10%;
	left: 15%;
	border-radius: 10px;
	border: 1px solid white;
	height: 70%;
	width: 70%;
}
#stationConfig_possibleCards{
	position: absolute;
	overflow: auto;
	bottom:10px;
	background-color: rgba(0,0,0,.3);
	left: 5px;
	width: calc(100% - 10px);
	height: calc(50% - 20px);
	border-radius: 5px;
	border: 1px solid white
}
.createNewStationButton:hover{
	filter: brightness(1.25);
	background-color: rgba(60,255,0,.7);
}
.createNewStationButton:active{
	filter: brightness(0.65);
}
.createNewStationButton{
	cursor: pointer;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: rgba(60,255,0,.4);
}
#stations_list{
	overflow: auto;
	position: absolute;
	background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(90,126,155,0.48) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	top:35px;
	height: calc(100% - 40px);
	width: calc(100% - 11px);
	left: 5px;
	border: 1px solid white;
}
#mask{
	display: none;
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 6;
}