<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea">
	<div id="diagnosticProgress"></div>
	<div id="systemArea"></div>
	<div id="confirmDiagnosticStart" style="position: absolute;top:30%;width: 80%;left:10%;height: 20%;z-index:42;display: none;">
	<div class="topCurve"></div>
	<div id="timeRequiredBox" style="height:90%;display: none">
		<center><span style="font-size:3.1vw">ESTIMATED TIME REQUIRED: <span id="timeRequiredSpan">32 SECONDS</span></span></center>
		<div id="startDiagnosticButton" class="wideButton beepOnClick noSelect" style="z-index: 40;position: absolute;bottom: 15%;width: 40%;left:5%;display: none">
			<center>BEGIN</center>
		</div></center>
		<div id="cancelSelectedDiagnosticButton" class="wideButton beepOnClick noSelect" style="z-index: 40;position: absolute;bottom: 15%;width: 40%;right:5%;display: none">
			<center>CANCEL</center>
		</div></center>
	</div>
	<div class="bottomCurve"></div>
	</div>
	<div id="levelOneDiagnostic" style="display: none">
		<div class="topCurve"></div>
		<div id="levelOneDiagnosticContentArea" class="diagnosticTypeContainer" style="display: none;padding: 5px">
			<div style="font-size:3.1vw">LEVEL 1 DIAGNOSTIC</div>
			<p>A LEVEL ONE DIAGNOSTIC WILL QUICKLY SCAN THE SYSTEM FOR ANY OBVIOUS MALFUNCTIONS.  THIS HIGH LEVEL SCAN IS DESIGNED TO DETECTED THE BIGGEST PROBLEMS FIRST.</p>
			<center>
				<div id="runLevel1DiagnosticButton" class="wideButton beepOnClick noSelect" style="z-index: 40;position: absolute;bottom: 15%;width: 80%;left:10%">
					<center>RUN LEVEL 1 DIAGNOSTIC</center>
				</div></center>
			</div>
			<div class="bottomCurve"></div>
		</div>
		<div id="levelTwoDiagnostic" style="display: none">
			<div class="topCurve"></div>
			<div id="levelTwoDiagnosticContentArea" class="diagnosticTypeContainer" style="display: none;padding: 5px">
				<div style="font-size:3.1vw">LEVEL 2 DIAGNOSTIC</div>
				<p>A LEVEL TWO DIAGNOSTIC WILL QUICKLY SCAN THE SYSTEM FOR ANY OBVIOUS MALFUNCTIONS.  THIS MEDIUM LEVEL SCAN IS DESIGNED TO DETECTED THE BIGGEST PROBLEMS FIRST.</p>
				<center><div id="runLevel2DiagnosticButton" class="wideButton beepOnClick noSelect" style="z-index: 40;position: absolute;bottom: 15%;width: 80%;left:10%">
					<center>RUN LEVEL 2 DIAGNOSTIC</center>
				</div></center>
			</div>
			<div class="bottomCurve"></div>
		</div>
		<div id="levelThreeDiagnostic" style="display: none">
			<div class="topCurve"></div>
			<div id="levelThreeDiagnosticContentArea" class="diagnosticTypeContainer" style="display: none;padding: 5px">
				<div style="font-size:3.1vw">LEVEL 3 DIAGNOSTIC</div> 
				<p>A LEVEL THREE DIAGNOSTIC WILL PROVIDE AN IN-DEPTH, DEEP LEVEL SCAN THAT CAN DETECTED ALL MALFUNCTIONS.  THIS LOW LEVEL SCAN IS DESIGNED TO DETECTED THE ANY PROBLEMS WITH THE SYSTEM AT THE COST OF TIME.</p>
				<center><div id="runLevel3DiagnosticButton" class="wideButton beepOnClick noSelect" style="z-index: 40;position: absolute;bottom: 15%;width: 80%;left:10%">
					<center>RUN LEVEL 3 DIAGNOSTIC</center>
				</div></center>
			</div>
			<div class="bottomCurve"></div>
		</div>
		<div id="diagnosticControls">
			<div id="runDiagnosticButton" class="wideButton beepOnClick noSelect">
				<center>RUN DIAGNOSTIC</center>
			</div>
			<div id="backToSystemStatusButton" class="wideButton beepOnClick noSelect">
				<center> < BACK</center>
			</div>
			<div id="changeDisplayViewButton" class="wideButton beepOnClick noSelect">
				<center>DISPLAY IN GRID VIEW</center>
			</div>
			<div id="pleaseSelectASystemFirst" style="display: none">
				<center>PLEASE SELECT A SYSTEM FIRST BY CLICKING ON IT</center>
			</div>
		</div>
		<script src="/resource?path=script.js"></script>
	</div>