<div id="DMX-Core-Widget" widgetName="DMX Control" class="Core_Theme-CoreWidget" style="width:250px;height:32px;top:425px;left:500px">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=dmx-core">
	<input type="button" value="SHAKE LIGHTS" id="dmx-core_shakeLights"><input type="button" value="BLACKOUT" id="dmx-core_blackout">
	<input type="range" max="255" min="0" step="1" id="dmx-core_smokeMachineSlider">
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=dmx-core" type="text/javascript"></script>
</div>