<div id="DMX-Core-Widget" widgetName="DMX Control" class="Core_Theme-CoreWidget" style="width: 250px;height: 82.0125px;top: 469px;left: 0px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=dmx-core">
	<input type="button" value="SHAKE LIGHTS" id="dmx-core_shakeLights"><input type="button" value="BLACKOUT" id="dmx-core_blackout"><input type="button" value="ULTRAVIOLET" id="dmx-core_uv"><input type="button" value="DISCO" id="dmx-core_disco">
	<div id="dmx-core_keepShaking"><input type="checkbox" id="dmx-core_keepShaking_checkbox"> CONTINUOUS SHAKE</div>
	<input type="range" max="255" min="0" step="1" id="dmx-core_smokeMachineSlider">
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=dmx-core" type="text/javascript"></script>
</div>