<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea" class="noselect">
	<div id="frequencyCanvasContainer" class="container4">
		<canvas id="frequencyCanvas"></canvas>
	</div>
	<div id="frequencySliderLabel">FREQUENCY</div>
	<div id="frequencySliderCanvasContainer">
		<canvas class="commSlider" slider="freq" id="frequencySliderCanvas"></canvas>
	</div>
	<div id="amplitudeSliderLabel">AMPLITUDE</div>
	<div id="amplitudeSliderCanvasContainer">
		<canvas class="commSlider" slider="amp" id="amplitudeSliderCanvas"></canvas>
	</div>
	<div id="pictureContainer">
		<div id="pictureLabel">LINE CLOSED</div>
		<div id="pictureFilter"></div>
		<div id="picture"></div>
	</div>
	<div id="hailButton" class="Button2">HAIL</div>
	<div id="connectButton" class="disabledButton">CONNECT TO LINE</div>
</div>
<script src="/jquery"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>