#pictureLabel{
	display: none;
	z-index: 10;
	position: absolute;
	top:calc(50% - 50px);
	left: 0%;
	width: 100%;
	text-align: center;
	font-size: 100px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#frequencyCanvasContainer{
	position: absolute;
	bottom: 10%;
	left: 5%;
	width: 90%;
	height: 25%;
}
#picture{
	position: absolute;
	top:0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-image: url('/resource?path=/public/federationLogo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#pictureFilter{
	display: none;
	position: absolute;
	top:0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: lime;
	mix-blend-mode: multiply;
	z-index: 5;
	-webkit-mask-size:contain;
	-webkit-mask-position:center;
	-webkit-mask-repeat:no-repeat;
	-webkit-mask-image: url('/resource?path=/public/federationLogo.png');
}
#pictureContainer{
	background-color:rgba(0,0,0,.5);
	position: absolute;
	top:5%;
	right: 5%;
	width: 60%;
	height: 50%;
	border: 1px solid white;
	border-radius: 25px;
}
#hailButton{
    position: absolute;
    bottom: 36%;
    right: 5%;
    width: 30%;
    height: 7%;
}
#connectButton{
    position: absolute;
    bottom: 36%;
    right: 35%;
    width: 30%;
    height: 7%;
}
#frequencySliderCanvasContainer{
	cursor: -webkit-grab;
	position: absolute;
    top: 5%;
    left: 5%;
    height: 59%;
    width: 10%;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 25px;
}
#amplitudeSliderCanvasContainer{
	cursor: -webkit-grab;
	position: absolute;
    top: 5%;
    left: 20%;
    height: 59%;
    width: 10%;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 25px;
}
#amplitudeSliderLabel{
	position: absolute;
	top:0px;
	left: 20%;
	width: 10%;
	text-align: center;
	font-size: 2vw;
}
#frequencySliderLabel{
	position: absolute;
	top:0px;
	left: 5%;
	width: 10%;
	text-align: center;
	font-size: 2vw;
}