<!DOCTYPE html>
<html>
<head>
	<title>Interstellar - Server - Version 1.0.0</title>
	<link rel="stylesheet" type="text/css" href="/resource?path=viewScripts/main.css">
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script src="/jquery"></script>
	<script>if (window.module) module = window.module;</script>
</head>
<body>
	<div id="background"></div>
	<div id="stations">
		<div id="stations_header">STATIONS</div>
		<div id="stations_list">

		</div>
	</div>
	<div id="stationConfig">
		<div id="stationConfig_stationCards">
			
		</div>
		<div id="stationConfig_possibleCards"></div>
	</div>
	<div id="serverControls">
		<div id="serverControls_commandButtons">
			<div class="customButton serverControls_commandButton" id="resetDatabaseButton">CLEAR DATABASE</div>
			<div class="spacer"></div>
			<div class="customButton serverControls_commandButton" id="forceRelaunchButton">FORCE RELAUNCH STATIONS</div>
			<div class="spacer"></div>
			<div class="customButton serverControls_commandButton" id="shutdownButton">SHUTDOWN ALL STATIONS</div>
			<div class="spacer"></div>
			<div class="customButton serverControls_commandButton" id="openDatabaseManagerButton">OPEN DATABASE MANAGER</div>
			<div class="spacer"></div>
			<div class="customButton serverControls_commandButton" id="exportDatabaseButton">EXPORT DATABASE</div>
			<div class="spacer"></div>
			<div class="customButton serverControls_commandButton" id="importDatabaseButton">IMPORT DATABASE</div>
		</div>
		<div id="serverControls_setups">
			<div id="serverControls_setups_list">

			</div>
			<div id="serverControls_setups_buttons">
				<div class="customButton serverControls_setups_button" id="saveStationLayoutButton">SAVE STATION SETUP</div>
				<div class="spacer"></div>
				<div class="customButton serverControls_setups_button" id="loadStationLayoutButton">LOAD STATION SETUP</div>
				<div class="spacer"></div>
				<div class="customButton serverControls_setups_button" id="setDefaultLayoutButton">SET DEFAULT</div>
			</div>
		</div>
	</div>
	<script src="/resource?path=viewScripts/main.js"></script>
</body>
</html>