<!DOCTYPE html>
<html>
<head>
	<title>Interstellar - Database Manager</title>
	<link rel="stylesheet" type="text/css" href="/resource?path=viewScripts/databaseWindow.css">
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script src='/resource?path=viewScripts/databaseWindow.js'></script>
	<script src="/jquery"></script>
	<script>if (window.module) module = window.module;</script>
</head>
<body>
	<div id="frame">
		<div id="frame_databaseInfo">
			<b>Database Info</b><br />
			Version : 1.0.0<br />
			Number of keys : <span class='databaseInfoValue' id="frame_databaseInfo_numberOfKeys">Indexing...</span><br />
			Last Update : <span class='databaseInfoValue' id="frame_databaseInfo_lastUpdate">Retrieving...</span><br />
			Last Reset : <span class='databaseInfoValue' id="frame_databaseInfo_lastReset">Retrieving...</span><br />
			Number Of Connected Clients : <span class='databaseInfoValue' id="frame_databaseInfo_clientCoint">Calculating...</span><br />
			Save Mode : <span class='databaseInfoValue' id="frame_databaseInfo_saveMode">Checking...</span><br />
		</div>
	</div>
</body>
</html>