<div id="contentArea">
	<div style="width:20%;height: 80%;position: absolute;top:0%;left:5%;">
		<div class="topCurve"></div>
			<div style="background-color:grey;text-align: center;">
				<div class="curveBoxItem">STANDARD PROBE</div>
				<div class="curveBoxItem">SCIENCE PROBE</div>
				<div class="curveBoxItem">DEFENSIVE PROBE</div>
			</div>
		<div class="bottomCurve"></div>
	</div>
</div>