<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea" class="noselect">
	<div id="sensorsArray">
		<canvas id="sensorsArrayCanvas" class="noselect"></canvas>
		<svg width="100%" height="100%" id="mask">
			<defs>
				<clipPath id="myClip">
				<circle cx="50%" cy="50%" r="40%" />
				</clipPath>
			</defs>
		</svg>
	</div>
</div>

<script src="/threeJS"></script>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>