<style>canvas { width: 90%; height: 90%;position: absolute;left: 0%;top:5%; }</style>
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea">
	<div id="systemsView">
		
	</div>
</div>
<script src="/threeJS"></script>
<script src="/resource?path=script.js"></script>