<div id="contentArea">
	<div class="wideButton beepOnClick">
		<center>ADMIT NEW PATIENT</center>
	</div>
</div>
<img src="/resource?path=public/yunocompile.jpg" width="900px" style="position: absolute;top:10px;left:5%;">