#completePingButton{
	position: absolute;
	bottom: 15px;
	width: calc(100% - 30px);
	left: 15px;
	opacity: 0;
	height: 15%;
}
#SystemList{
	position: absolute;
	top:10%;
	height: 85%;
	left: 5%;
	width: 50%;
	overflow: auto;
}
#pingInfo{
    position: absolute;
    top: 56%;
    height: 39%;
    right: 0%;
    width: 45%;
}
.damagePingItem:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,.55);
}
.damagePingItem:active{
	cursor: pointer;
	background-color: rgba(25,25,25,.75);
}
.damagePingItem{
	position: absolute;
	top:5px;
	left: 0px;
	height: 30px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: calc(100% - 0px);
}
.damagePingTitle{
	position: absolute;
	top:2px;
	left: calc(20% + 4px);
	width: calc(80% - 8px);
	height: calc(100% - 8px);
	overflow: hidden;
	font-size: 20px;
}
.damagePingTime{
	background-color: rgba(0,0,0,.8);
	position: absolute;
	top:0px;
	left: 0px;
	width: 20%;
	height: 100%;
	border-right: 1px solid white;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
#damagePingsContainer{
	position: absolute;
    top: 10px;
    left: 7px;
    width: calc(100% - 17px);
    height: calc(85% - 10px);
}
#pingInfoLabel{
	position: absolute;
	top:50%;
	right: calc(0% + 32px);
	font-size: 5vh;
}
#pingInfoTextContainer{
	position: absolute;
	top:5%;
	left: 5%;
	width: 90%;
    height: 75%;
	font-family: 'Arial';
	font-size: 1.2vw;
	overflow: auto;
}
#damagePingsLabel{
	position: absolute;
	top:5%;
	right: calc(0% + 32px);
	font-size: 5vh;
}
#damagePings{
	position: absolute;
	top:10%;
	right: 0%;
	width: 45%;
	height: 40%;
}
#moveBar{
	position: absolute;
	top:0px;
	left: 10px;
	height: 5px;
	width: calc(100% - 20px);
	background-color: white;
	display: none;
}
#systemListLabel{
    position: absolute;
    top: 5%;
    height: 5%;
    left: calc(5% + 32px);
    width: calc(50% - 32px);
    font-size: 5vh;
}
#systemRepairLabel{
    position: absolute;
    top: 5%;
    height: 5%;
    left: calc(30% + 32px);
    width: calc(50% - 32px);
    font-size: 5vh;
}
.damagedSystemRow_label{
	position: absolute;
	top:2px;
	height: 36px;
	font-size: 34px;
}
.damagedSystemRow_progressLabel{
	position: absolute;
	top:8px;
	left: 4px;
	height: 20px;
	font-size: 18px;
	z-index: 2;
}
.damagedSystemRow_progressFill{
	position: absolute;
	top:0px;
	left: 0px;
	width: 0%;
	height: 100%;
	background-color: rgba(0,128,255,.75);
	border-right: 1px solid white;
}
.damagedSystemRow{
	position: absolute;
	top:0px;
	left: 10px;
	height: 40px;
	width: calc(100% - 20px);
	font-size: 36px;
}
.damagedSystemRow_progress{
	overflow: hidden;
	position: absolute;
	left: 50%;
	width: calc(50% - 1px);
	border: 1px solid white;
	top:2px;
	height: calc(100% - 4px);
}
.damagedSystemRow:hover{
	cursor: -webkit-grab;
	background-color: rgba(255,255,255,.3);
}
.damagedSystemRow:active{
	cursor: -webkit-grabbing;
	background-color: rgba(15,15,15,.95);
	z-index: 20;
}