<script src="/threejs"></script>
<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=sensors-core">
<div id="Sensor-core-UserPrefsWindow" class="coreWindow" windowName="Sensors Settings" style="width: 625px;height: 400px;">
	<div id="Sensor-Core-processedDataSettings">
	<center><span style="font-size:22px">Processed Data</span></center><br/ >
  	Flash Settings:
  		<select id="Sensor-Core-processedDataSettings-flashSettings" class="Sensors-Core-settingAdjustValue">
  			<option>No Flash</option>
  			<option>Flash Processed Data Box</option>
  			<option>Flash Entire Screen</option>
  		</select><br />
  	Allow Font Size Adjustments:
  		<select id="Sensor-Core-processedDataSettings-fontSizeSettings" class="Sensors-Core-settingAdjustValue">
  			<option>Never</option>
  			<option>With FD Approval</option>
  			<option>Always</option>
  		</select><br />
  	Type On:
  		<select id="Sensor-Core-processedDataSettings-typeOnSettings" class="Sensors-Core-settingAdjustValue">
  			<option>Never</option>
  			<option>Without HTML</option>
  			<option>Always</option>
  		</select><br />
  	<svg fill="#f4e842" height="12" viewBox="0 0 24 24" width="12" xmlns="http://www.w3.org/2000/svg">
    	<path d="M0 0h24v24H0z" fill="none"/>
    	<path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/>
	</svg>
  	<span style="filter:grayscale(1) brightness(.5);" title="Interstellar Audio Not Synced!">Play Sound Effect
  		<select id="Sensor-Core-processedDataSettings-procssedDataSoundEffect" disabled="disabled" style="color:grey" class="Sensors-Core-settingAdjustValue">
  			<option>None</option>
  		</select></span><br />
	</div>
	<div id="Sensor-Core-defaultContactSettings">
		<center><span style="font-size:22px">Default Contact</span></center>
		Name: <input type="text" style="width: 82%;" id="Sensor-Core-defaultContactSettings-DefaultContactName" class="coreTextbox Sensors-Core-settingAdjustValue" placeholder="UNKNOWN CONTACT"><br />
		Default Size: <input id="Sensor-Core-defaultContactSettings-DefaultContactSize" max="100" min=".1" step=".1" type="range" style="width: 62%;"><Br />
		Image: 

			<select class="Sensors-Core-settingAdjustValue" id="Sensor-Core-defaultContactSettings-imageDropdown">
				<option>None</option>
			</select><br />
		Icon: 

			<select class="Sensors-Core-settingAdjustValue" id="Sensor-Core-defaultContactSettings-iconDropdown">
				<option>None</option>
			</select><br />
		Infrared: <input type="checkbox" id="Sensor-Core-defaultContactSettings-IRCheckbox">
		Normal: <input type="checkbox" id="Sensor-Core-defaultContactSettings-NormalCheckbox"><br />
		
  	</div>
	<div id="Sensor-Core-graphicalSettings">
		<center><span style="font-size:22px">Graphical</span></center><br/ >
		Draw Gradient: 
		<select id="Sensor-Core-graphicalSettings-gradientSettings" class="Sensors-Core-settingAdjustValue" value="Always">
  			<option>Never</option>
  			<option>Always</option>
  		</select><br />
		Camera: 
		<select id="Sensor-Core-graphicalSettings-cameraSettings" class="Sensors-Core-settingAdjustValue" value="Always">
  			<option>Orthographic</option>
  			<option>Perspective</option>
  		</select><br />
		Color: 
		<select id="Sensor-Core-graphicalSettings-colorTypeSettings" class="Sensors-Core-settingAdjustValue" value="Always">
  			<option>RGBA</option>
  			<option>Sepia</option>
  			<option>Grayscale</option>
  			<option>Inverted</option>
  			<option>Inverted (BW)</option>
  		</select><br />
		Hue-Rotate: <input type="text" id="Sensor-Core-graphicalSettings-hueRotateTextbox" style="width: 30%;border-radius: 3px;" class="coreTextbox Sensors-Core-settingAdjustValue" placeholder="0"><br />
		Draw Degrees:
		<select id="Sensor-Core-graphicalSettings-degreesDropdown" class="Sensors-Core-settingAdjustValue" value="Always">
  			<option>Never</option>
  			<option>Always</option>
  		</select><br />
		Alert Status:
		<select id="Sensor-Core-graphicalSettings-alertStatus" class="Sensors-Core-settingAdjustValue" value="Always">
  			<option>Affects Color</option>
  			<option>No Affect</option>
  		</select><br />
		<div style="position: absolute;bottom: 1%;left: 1%;color:red;font-size: 8px;width:98%;text-align: center;">Some edits require a reset</div>
	</div>
	<div id="Sensor-Core-functionalitySettings">
		<center><span style="font-size:22px">Functionality</span></center><br/ >
		<div id="Sensor-Core-functionalitySettings-column1">
			Default Speed:
			<select id="Sensor-Core-functionalitySettings-defaultSpeed" class="Sensors-Core-settingAdjustValue">
  				<option>Very Slow</option>
  				<option>Slow</option>
  				<option>Moderate</option>
  				<option>Fast</option>
  				<option>Very Fast</option>
  				<option>Warp</option>
  				<option>Instantly</option>
  			</select><br />
  			Default Ask For Speed:
  			<select id="Sensor-Core-functionalitySettings-askForSpeed" class="Sensors-Core-settingAdjustValue">
  				<option>Never</option>
  				<option>Always</option>
  			</select><br />
  			Snap Yaw:
  			<select id="Sensor-Core-functionalitySettings-snapYaw" class="Sensors-Core-settingAdjustValue">
  				<option>Never</option>
  				<option>Always</option>
  			</select><br />
  			Default Heading:<input type="text" id="Sensor-Core-functionalitySettings-defaultHeading" style="width: 30%;border-radius: 3px;" class="coreTextbox Sensors-Core-settingAdjustValue" placeholder="180">
		</div>
		<div id="Sensor-Core-functionalitySettings-column2">
  			Weapons Range:
  			<select id="Sensor-Core-functionalitySettings-WeaponsRange" class="Sensors-Core-settingAdjustValue">
  				<option>Disabled</option>
  				<option>1st Ring</option>
  				<option>2nd Ring</option>
  				<option>3rd Ring</option>
  			</select><br />
  			Scan Type:
  			<select id="Sensor-Core-functionalitySettings-ScanType" class="Sensors-Core-settingAdjustValue">
  				<option>Timed</option>
  				<option>Traditional</option>
  			</select><br />
  			Scan Time:<input type="text" style="width: 35%;border-radius: 3px;" class="coreTextbox Sensors-Core-settingAdjustValue" placeholder="0:30" id="Sensor-Core-functionalitySettings-ScanTime"><br />
  			<input type="button" value="Advanced" id="Sensors-Core-functionalitySettings-AdvancedUpdateButton" style="width:100%;">
  			<div id="Sensors-Core-functionalitySettings-AdvancedUpdateDropDown">
  				Update Interval:<input type="text" style="width: 35%;border-radius: 3px;" class="coreTextbox Sensors-Core-settingAdjustValue" id="Sensors-Core-functionalitySettings-UpdateInterval">
  			</div>
		</div>
	</div>
	<div class="customButton" id="Sensor-Core-processedDataSettings-defaultbutton" style="background-color:#2dd6ed">
		Default
	</div>
	<div class="customButton" id="Sensor-Core-processedDataSettings-cancelbutton" style="background-color:#e54230">
		Cancel
	</div>
	<div class="customButton" id="Sensor-Core-processedDataSettings-savebutton" style="background-color:#89f442">
		Save
	</div>
</div>
<div id="Sensor-Core-IconEditorWindow" class="coreWindow" windowName="Icon Editor" style="width: 525px;height: 500px;top:230px;left: 230px">
	<div id="Sensor-Core-ImageEditorWindowTitle">Select a new icon for "UNKNOWN CONTACT"</div>
	<div id="Sensor-Core-ImageEditorWindowIcons"></div>
</div>
<div id="Sensor-Core-PlanetEditorWindow" class="coreWindow" windowName="Planet Editor" style="width: 525px;height: 600px;top:230px;left: 230px">
	<div id="Sensor-Core-PlanetEditorWindowTitle">Select an image for this planet</div>
	<div id="Sensor-Core-PlanetEditorWindowIcons"></div>
	<div id="Sensor-Core-PlanetEditorWindowPresets">
		<input type="button" class="coreButton sensors_core_planetaryPresetButton" style="background-color:#75efe9;" value="EARTH">
		<input type="button" class="coreButton sensors_core_planetaryPresetButton" style="background-color:#fcd23c;" value="MARS">
		<input type="button" class="coreButton sensors_core_planetaryPresetButton" style="background-color:red;" value="STAR">
		<input type="button" class="coreButton sensors_core_planetaryPresetButton" style="background-color:#3cfc85;" value="PERIKOI">
		<input type="button" class="coreButton sensors_core_planetaryPresetButton" style="background-color:#565656;color:white" value="BLACK HOLE">
		<input type="button" class="coreButton " value="Edit Presets">
	</div>
	<div id="Sensors-Core-PlanetEditorOptions">
		<div id="Sensors-Core-PlanetEditionSizeLabel">Size</div>
		<input type="range" value="50" min="1" max="125" step=".1" id="Sensors-Core-PlanetEditionSizeRange">
		<input type="text" class="coreTextbox" onClick='this.select();' id="Sensors-Core-PlanetEditionSizeTextbox" value="50">
		<div id="Sensors-Core-PlanetEditorNameLabel">Name</div>
		<input type="text" class="coreTextbox" onClick='this.select();' id="Sensors-Core-PlanetEditionNameTextbox" placeholder="PLANET">
		<div id="Sensors-Core-PlanetEditionRotationLabel">Spin</div>
		<input type="range" value="2" min="-10" max="10" step=".01" id="Sensors-Core-PlanetEditionRotationRange">
		<input type="text" class="coreTextbox" onClick='this.select();' id="Sensors-Core-PlanetEditionRotationTextbox" value="-2">
		<div id="Sensors-Core-PlanetEditorCreatePlanetButton" class="customButton">Create Planet</div>
		<div id="Sensors-Core-PlanetEditorCancelButton" class="customButton">Cancel</div>
	</div>
</div>
<div id="Sensor-Array-Core-Widget" widgetName="Sensors" class="Core_Theme-CoreWidget" style="width:1000px;height:500px;top:150px;left:255px">
<div class="hardContainer">
	<div id="Sensors-Core-SensorsArrayGeneralSettings">
		<div id="Sensors-Core-ProgramsTab">
			<div id="Sensors-Core-ProgramsPlanetButton" programType="planet" class="sensors-coreProgramButton customButton verticalAlign">
				<div class="sensors-core-programImage" style="background-image: url('/resource?path=public/Icons/planet.jpg&screen=sensors-core');" programType="planet"></div>
				<div class="sensors-core-programName">Planet</div>
			</div>
			<div id="Sensors-Core-ProgramsPlanetButton" programType="planet" style="left:33%" class="sensors-coreProgramButton customButton verticalAlign">
				<div class="sensors-core-programImage" style="background-image: url('/resource?path=public/Icons/nebula.png&screen=sensors-core');" programType="nebula"></div>
				<div class="sensors-core-programName">Nebula</div>
			</div>
			<div id="Sensors-Core-ProgramsPlanetButton" programType="planet" style="left:66%" class="sensors-coreProgramButton customButton verticalAlign">
				<div class="sensors-core-programImage" style="background-image: url('/resource?path=public/Icons/asteroids.jpg&screen=sensors-core');" programType="asteroid"></div>
				<div class="sensors-core-programName">Asteroid Field</div>
			</div>
			<div id="Sensors-Core-ProgramsPlanetButton" programType="border" style="top:50%;" class="sensors-coreProgramButton customButton verticalAlign">
				<div class="sensors-core-programImage" style="background-image: url('/resource?path=public/Icons/border.png&screen=sensors-core');" programType="border"></div>
				<div class="sensors-core-programName">Border</div>
			</div>
			<div id="Sensors-Core-ProgramsPlanetButton" programType="starbase" style="left:33%;top:50%" class="sensors-coreProgramButton customButton verticalAlign">
				<div class="sensors-core-programImage" style="background-image: url('/resource?path=public/Icons/starbase.png&screen=sensors-core');" programType="starbase"></div>
				<div class="sensors-core-programName">Starbase</div>
			</div>
			<div id="Sensors-Core-ProgramsPlanetButton" programType="attack" style="left:66%;top:50%" class="sensors-coreProgramButton customButton verticalAlign">
				<div class="sensors-core-programImage" style="background-image: url('/resource?path=public/Icons/battle.jpg&screen=sensors-core');" programType="attackPattern"></div>
				<div class="sensors-core-programName">Attack Pattern</div>
			</div>
		</div>
		<div id="Sensors-Core-Duck" class="customButton"></div>
		<div id="sensors-core_arrowKeys">
			<div class="sensors-coreArrowKey customButton" key="upLeft" id="sensors_core_arrowKey-upLeft">⬉</div>
			<div class="sensors-coreArrowKey customButton" key="down" id="sensors_core_arrowKey-up">➡</div>
			<div class="sensors-coreArrowKey customButton" key="upRight" id="sensors_core_arrowKey-upRight">⬈</div>
			<div class="sensors-coreArrowKey customButton" key="left" id="sensors_core_arrowKey-left">➡</div>
			<div class="sensors-coreArrowKey customButton" key="stop" id="sensors_core_arrowKey-stop">🛑</div>
			<div class="sensors-coreArrowKey customButton" key="right" id="sensors_core_arrowKey-right">➡</div>
			<div class="sensors-coreArrowKey customButton" key="downLeft" id="sensors_core_arrowKey-downLeft">⬋</div>
			<div class="sensors-coreArrowKey customButton" key="up" id="sensors_core_arrowKey-down">➡</div>
			<div class="sensors-coreArrowKey customButton" key="downRight" id="sensors_core_arrowKey-downRight">⬊</div>
		</div>
		<div id="Sensors-Core-SensorsArrayControlButtons">
			<div class="Sensors-Core-SensorsArrayControlButtons verticalAlign customButton" style="background-color:#42c5f4;" id="Sensors-Core-FreezeSensors">
				Freeze Sensors
			</div>
			<div class="Sensors-Core-SensorsArrayControlButtons verticalAlign customButton" style="background-color:#ffe056;top:33%" id="Sensors-Core-StopSensors">
				Stop Movement
			</div>
			<div class="Sensors-Core-SensorsArrayControlButtons verticalAlign customButton" style="background-color:#f44242;top:66%" id="Sensors-Core-ClearSensors">
				Clear Sensors
			</div>
		</div>
		<div id="Sensors-Core-SensorsArrayOtherControls">
			Auto Thrust <input id="Sensors-Core-SensorsArrayAutoThrustCheckbox" type="checkbox">
			Auto Yaw <input id="Sensors-Core-SensorsArrayAutoYawCheckbox" type="checkbox">
		</div>
		<div id="Sensors-Core-SensorsArraySpeedControl">
			Ask for speed <input id="Sensors-Core-SensorsArraySpeedControlAskForSpeedCheckbox" type="checkbox">
			<select id="Sensors-Core-SensorsArraySpeedControlMenu">
				<option>Very Slow</option>
				<option>Slow</option>
				<option>Moderate</option>
				<option>Fast</option>
				<option>Very Fast</option>
				<option>Warp</option>
				<optgroup></optgroup>
				<option>Instantly</option>
				<optgroup></optgroup>
				<option>Timed</option>
			</select>
		</div>
	</div>
	<div class="Sensors-Core-SensorsArrayEffectProgramTabButton verticalAlign customButton" style="background-color:#35beff;" id="Sensors-Core-ProgramsTabButton">
		Programs
	</div>
	<div class="Sensors-Core-SensorsArrayEffectProgramTabButton verticalAlign customButton" style="background-color:#ffcc4c;right:12.3%" id="Sensors-Core-EffectsTabButton">
		Effects
	</div>
	<div id="sensors-coreMoveAllDirectionControls">
		<div id="sensors-coreMoveAllDirectionCanvasContainer" class="noselect">
			<div id="coreMoveAllDirectionDegreesLabel" class="sensors-coreMoveAllDirectionCanvas">
			</div>
			<canvas id="sensors-coreMoveAllDirectionCanvas" class="sensors-coreMoveAllDirectionCanvas">

			</canvas>
		</div>
		<input id="sensors-coreMoveAllDirectionsDirectionAmountSlider" type="range" value="0" min="-1" max="1" step=".01" title="double click to set to full stop">
		<input id="sensors-coreYawAmountSlider" type="range" value="0" min="-1" max="1" step=".001">
		<div id="sensors-coreMoveAllDirectionsDirectionAmountLabel">SPEED</div>
		<div id="sensors-coreYawAmountLabel">HEADING</div>
		<div style="position: absolute;bottom: -4px;right: -43px;font-size: 11px;" id="sensors-core_moveAllCheckbox">Move All <input id="Sensors-Core-SensorsArrayAutoYawCheckbox" type="checkbox"></div>
	</div>
	<div id="sensors-core-sensorsContainer">
		<canvas id="sensors-core-sensorsArrayCanvas" class="noselect"></canvas>
		<div id="sensors-core-sensorsArray" class="noselect">
			<div id="Sensors-Core-SpeedSelectionDropdown">
				<div class="Sensors-Core-SpeedSelectionDropdownItem">Very Slow</div>
				<div class="Sensors-Core-SpeedSelectionDropdownItem">Slow</div>
				<div class="Sensors-Core-SpeedSelectionDropdownItem">Moderate</div>
				<div class="Sensors-Core-SpeedSelectionDropdownItem">Fast</div>
				<div class="Sensors-Core-SpeedSelectionDropdownItem">Very Fast</div>
				<div class="Sensors-Core-SpeedSelectionDropdownItem">Warp</div>
				<div class="Sensors-Core-SpeedSelectionDropdownSpacer"></div>
				<div class="Sensors-Core-SpeedSelectionDropdownItem">Instantly</div>
				<div class="Sensors-Core-SpeedSelectionDropdownSpacer"></div>
				<div class="Sensors-Core-SpeedSelectionDropdownItem">Timed</div>
			</div>

		</div>
		<div id="sensors-core-sensorsArrayDragSelectionLayer" class="noselect"></div>
	</div>
	<div id="sensors-core-senorsContactsList" class="noselect">
		<div id="sensors-core-senorsContactsListItemsContainer">

		</div>
		<div id="sensors-core-sesnorsProgramsListItemsContainer">

		</div>
		<div id="sensors-core-senorsContactsListTools">
			<div id="sensors-core-createNewContactButton" class="customButton">
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
					<path d="M0 0h24v24H0z" fill="none"/>
				</svg>
			</div>
			<div id="sensors-core-RemoveContactButton" class="customButton">
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
					<path d="M0 0h24v24H0z" fill="none"/>
				</svg>
			</div>
			<div id="sensors-core-CopyContactButton" class="customButton">
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 0h24v24H0z" fill="none"/>
					<path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
				</svg>
			</div>
			<div id="sensors-core-CreateFriendlyContact" class="customButton">
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 0h24v24H0z" fill="none"/>
					<path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>
				</svg>
			</div>
			<div id="sensors-core-CreateEnemyContact" class="customButton">
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 0h24v24H0V0z" fill="none"/>
					<path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 3c-2.33 0-4.31 1.46-5.11 3.5h10.22c-.8-2.04-2.78-3.5-5.11-3.5z"/>
				</svg>
			</div>
		</div>
	</div>
	<div id="sensors-core-ContactEditor">
		<div id="sensors-core-ContactEditor-NameLabel" class="noselect">
			NAME
		</div>
		<input type='input' onClick='this.select();' id="sensors-core-ContactEditor-NameTextbox" class="coreTextbox">
		<div class="gearIcon" id="Sensor-core-editSettingsButton"></div>
		<div id="sensors-core-ContactEditor-SizeLabel" class="noselect">
			SIZE
		</div>
		<div id="sensors-core-ContactEditor-SizeRange" class="coreProgressBar">
			<div id="sensors-core-ContactEditor-SizeRangeMouseCatcher"></div>
			<div id="sensors-core-ContactEditor-SizeRangeLabel" class="noselect"></div>
			<div id="sensors-core-ContactEditor-SizeRangeFill" style="width:0px;" class="coreProgressBarFill"></div>
		</div>
		<div id="sensors-core-ContactEditor-EditImage">
			Image:<img src="/resource?path=public/Contacts/Generic.png&screen=sensors-core" width="12px"><input type="button" class="coreButton" value="CHANGE" id="sensors-core-ContactEditorChangeImageButton">
		</div>
		<div id="sensors-core-ContactEditor-EditIcon">
			Icon: <img src="/resource?path=public/Contacts/Generic.png&screen=sensors-core" id="sensors-core-ContactEditor-EditIconImage" width="12px"><input type="button" class="coreButton" id="sensors-core-ContactEditorChangeIconButton" value="CHANGE">
		</div>
		<div id="sensors-core-senorsContactsListPresetContainer">
			<div style="position: absolute;top:20%;left: 1px;width: 25%;">Mission</div>
			<select style="position: absolute;top:10%;left: 24%;width: 70%;">
				<option>Perikoi</option>
				<option>Intolerance</option>
				<option>Midnight Rescue</option>
				<option>Supernova</option>
			</select>
			<div class="gearIcon" id="Sensor-core-editPresetsButton"></div>
		</div>
	</div>
	</div>
	<script src="/resource?path=script.js&screen=sensors-core" type="text/javascript"></script>
</div>
