<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea">
	<div id="incomingMessages" class="noselect messageContainer">
		<div class="noPower"><div class="nopower_title">INSUFFICIENT POWER</div><div class="nopower_subtitle">THIS SYSTEM HAS INSUFFICIENT POWER TO OPERATE</div></div>
		<div class="damaged"><div class="nopower_title">SYSTEM OFFLINE</div><div class="nopower_subtitle">LONG RANGE ANTENNA DAMAGED</div></div>
		<div class="boxHeader">INCOMING</div>
		<div class="messageList" id="incomingMessages_messageList">
			<div class="messageLabelBar">
				<div class="messageLabelBar_from">FROM</div>
				<div class="messageLabelBar_frequency">FREQUENCY</div>
			</div>
		</div>
	</div>
	<canvas id="powerDist" class="noselect"></canvas>
	<div id="powerDistInfo" class="noselect">
		<div id="powerDistInfo_powerInUseLabel">POWER IN USE</div>
		<div id="powerDistInfo_powerInUse">40</div>
		<div id="powerDistInfo_totalPowerLabel">POWER AVAILABLE</div>
		<div id="powerDistInfo_totalPower">40</div>
		<div id="powerDistInfo_powerDrawLabel">POWER DRAW</div>
		<div id="powerDistInfo_powerDraw">0</div>
	</div>
	<div id="outgoingMessages" class="noselect messageContainer">
		<div class="noPower"><div class="nopower_title">INSUFFICIENT POWER</div><div class="nopower_subtitle">THIS SYSTEM HAS INSUFFICIENT POWER TO OPERATE</div></div>
		<div class="damaged"><div class="nopower_title">SYSTEM OFFLINE</div><div class="nopower_subtitle">LONG RANGE ANTENNA DAMAGED</div></div>
		<div class="boxHeader">OUTGOING</div>
		<div class="messageList" id="outgoingMessages_messageList">
		</div>
	</div>
</div>
<script src="/jquery"></script>
<script src="/resource?path=powerDist.js"></script>
<script src="/resource?path=script.js"></script>