<div id="bridge-brig-core-Widget" class="Core_Theme-CoreWidget" style="width: 324.014px; height: 33.0155px; top: 788px; left: 1097px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=bridge-brig-core">
	<div id="brig-bridge-core_bridgeState" class="verticalAlign">NO BRIG CONNECTED</div>
	<input type="button" id="brig-bridge-core_toggleButton" value="TOGGLE" class="coreButton">
	<script type="text/javascript" src="/jquery"></script>
	<script src="/resource?path=script.js&screen=bridge-brig-core" type="text/javascript"></script>
</div>