<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea" class="noselect">
	<div id="systemOffline" class="Container0">
		<div id="systemOffline_header">
			SYSTEM OFFLINE
		</div>
		<div id="systemOffline_subtitle">
			THIS SYSTEM HAS BEEN DAMAGED AND IS UNRESPONSIVE
		</div>
	</div>
	<canvas id="canvas"></canvas>
	<canvas id="verticalCanvas"></canvas>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=thrustersClass.js" type="text/javascript"></script>
<script src="/resource?path=verticalThrustersClass.js" type="text/javascript"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>