<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=messaging-controller">

<div id="mc_card_controller_container" class="border_slantedRight">
	<div id="mc_card_controller_container_header">
		<div id="mc_card_controller_container_header_title">MESSAGES</div>
		<div id="mc_card_controller_container_header_newMessage"><b>NEW MESSAGE</b></div>
	</div>
	<div id="mc_card_controller_container_channelLabel">
		CHANNEL
	</div>
	<select id="mc_card_controller_container_channelSelect"></select>
	<div id="mc_card_controller_container_messages"></div>
	<textarea id="mc_card_controller_textarea" placeholder="Type a message to send..."></textarea>
	<div id="mc_card_controller_sendButton" class="customButton">SEND MESSAGE</div>
</div>

<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=messaging-controller" type="text/javascript"></script>