*,
*:after,
*:before {
      box-sizing: border-box;
}
    
body{
  background-color:black;
  color:white;
  overflow: hidden;
  font-family: "Swiss911 UCm BT";
  src: url(./public/font.TTF);
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #252525;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #999999;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
#contentArea {
    position: absolute;
    top: 11%;
    left: 11%;
    width: 63%;
    height: 89%;
}

.container4{
  filter: drop-shadow(0px 0px 10px rgba(105,127,200,1));
  border-image-source: url('/container4');
  border-image-slice: fill 49 49 49 49;
  border-image-width: 2em;
  padding: 10px;
}

.container5{
  border-image-source: url('/container4');
  border-image-slice: fill 49 49 49 49;
  border-image-width: 2em;
  padding: 10px;
}

.buttonEffect:hover{
  cursor: pointer;
  filter:brightness(1.3);
}
.buttonEffect:active{
  cursor: pointer;
  filter:brightness(0.75);
}
.button{   
	width: 200px;
	height: 55px;
  color:white;
	text-align: center;
	cursor:pointer;
  border-image-source: url(/container1);
  border-image-slice: fill 33 56 42 38;
  background-color: rgba(0,0,0,0);
  border-image-width: 5em;

  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}
.verticalAlign{
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}
.button:hover{
  filter:brightness(1.3);
}
.button:active{
  filter:brightness(0.75);
}
input[type=text] {    
    border-radius: 4px;
    border-image-source: url(/container2);
    border-image-slice: fill 33 56 42 38;
    background-color: rgba(0,0,0,0);
    border-image-width: 5em;
    color: white;
    height: 30px;
    font-size: 24px;
    font-family: "Swiss911 UCm BT";
    padding: 3px;
    padding-left: 7px;
}

.textBox{
  font-family: 'Swiss911 UCm BT';
  font-size: 26px;
  text-transform: uppercase;
  background-color: white;
}
.textArea{
 resize: none;
 font-family: 'Swiss911 UCm BT';
 font-size: 26px;
 background-color: darkgrey;
 text-transform: uppercase;
}
.fillWidth{
  width:100%;
}

.curveBoxItem{
  cursor: pointer;
  background-color: #202020;
}
.curveBoxItem:hover{
  filter:brightness(240%);
}

.wideButton{
  cursor: pointer;
  border-color:white;
  border-style: outset;
  border-width: 1px;
  background-color: #b3ccff;
  border-radius: 25px;
  height: 27px;
  width:240px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.wideButton:hover{
  filter: brightness(1.15);
  cursor: pointer;
  box-shadow: 0 0 10px #9ecaed;
}
.wideButton:active{
  opacity: brightness(.50);
  cursor: grabbing;
}

.Container1{
  filter: drop-shadow(0px 0px 10px rgba(105,127,200,1));
  border-image-source: url("/container1");
  border-image-slice: fill 292 262 292 400;
  border-image-width: 20em;
  padding-top: 35px;
  padding-left: 55px;
  padding-bottom: 35px;
}
.Button2:hover{
  filter: brightness(1.25);
}
.Button2:active{
  filter: brightness(0.75);
}

.Button2{
      width: 80%;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      border-image-source: url('/container1');
      border-image-slice: fill 49 49 49 49;
      border-image-width: 2em;
      cursor: pointer;
      padding-top:0px;
      padding-bottom: 0px;
      display:-webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;
}
.Button2Disabled{
      width: 80%;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      border-image-source: url('/container1');
      border-image-slice: fill 49 49 49 49;
      border-image-width: 2em;
      cursor: default;
      filter:grayscale(1) brightness(.75);
      color:#707070;
      padding-top:0px;
      padding-bottom: 0px;
      display:-webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;
}

.disabledButton{
  width: 200px;
  height: 55px;
  color:white;
  text-align: center;
  cursor:pointer;
  border-image-source: url(/container1);
  border-image-slice: fill 33 56 42 38;
  background-color: rgba(0,0,0,0);
  border-image-width: 5em;

      filter:grayscale(1) brightness(.75);
      color:#707070;

      display:-webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;
}
.trainingBox{
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px #9ecaed;
  border-color:white;
  padding: 30px;
  font-family: 'Arial';
  color:white;
  background-color:rgba(0,0,0,.9);
  padding-bottom: 80px;
}

.trainingHeader{
  font-size: 32px;
}

.trainingBody{
  font-size: 22px;
}

.trainingNextButton{
  position: absolute;
  bottom: 10px;
  right:10px;
  width: 20%;
  max-width: 125px;
  height: 30px;
  background-color: #4ccfff;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.trainingNextButton:hover{

  filter: brightness(1.15);
  cursor: pointer;
  box-shadow: 0 0 20px #9ecaed;
}

.trainingWarning{
  color: #ef696b;
  text-decoration: bold;
}

.trainingInstruction{
  color: #4ccfff;
  text-decoration: bold;
}

.trainingInformation{
  color: #afafaf;
}

.trainingPreviousButton{
  position: absolute;
  bottom: 10px;
  left:10px;
  width: 20%;
  max-width: 125px;
  height: 30px;
  background-color: #ef696b;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.trainingPreviousButton:hover{

  filter: brightness(1.15);
  cursor: pointer;
  box-shadow: 0 0 20px #9ecaed;
}

.topCurve{
  height: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color:rgb(151,154,251);
}
.bottomCurve{
  height: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color:rgb(151,154,251);
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

select {
  font-family: "Swiss911 UCm BT";
  src: url(./public/font.TTF);
  border-image-source: url(/container3);
  background-color: rgba(71, 93, 101,.7);
  border-image-slice: fill 49 49 49 49;
  border-image-width: 10em;
  color: white;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 18px;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url(/arrow);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 6vh;
}

select:disabled{
  filter: grayscale(1);
  background-color: rgba(150, 150, 150,.4);
}
/*
#InterstellarThemer-topBar{
  border-image-source: url(./public/topbar.png);
  border-image-slice: fill 60 130 60 140;
  border-image-width: 2em;
  font-size: 30px;
  height: 27px;
  position: absolute;
  width:95%;
  left:2.5%;
  z-index: 2;
}
#InterstellarThemer-bottomBar{
  border-image-source: url(./public/topbar.png);
  border-image-slice: fill 60 130 60 140;
  border-image-width: 2em;
  font-size: 30px;
  height: 27px;
  position: absolute;
  width:95%;
  left:2.5%;
  z-index: 2;
  bottom: 2.5%;
}*/