<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea">
	<div id="messageHasNotDownloadedMask" class='popupMask'>
		<div class='popupMask_messageBox Container0'>
			<div class='popupMask_messageBox_messageTitle'></div>
			<div class='popupMask_messageBox_messageSubTitle'></div>
			<div class='popupMask_messageBox_messageIcon'>
				<svg fill="rgb(255,205,0)" height="96" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
    				<path d="M0 0h24v24H0z" fill="none"/>
    				<path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/>
				</svg>
			</div>
			<div class='popupMask_messageBox_closeMessageButton noselect beepOnClick' id='messageHasNotDownloadedMask_popupMessage_close'>CLOSE</div>
		</div>
	</div>

	<div id="messageListHeader">LONG RANGE MESSAGES</div>
	<div id="messageList" class="container4">
		<div id="messageList_background"></div>
		<div id="messageList_listHeader">
			<div id="messageList_listHeader_fromLabel">FROM</div>
			<div id="messageList_listHeader_timeLabel">TIME RECIEVED</div>
		</div>
		<div id="messageList_listContainer">
		</div>
		<div id="messageList_key">
			<div id="messageList_key_downloadingLabel">BLUE - MESSAGE DOWNLOADING</div>
			<div id="messageList_key_unreadLabel">RED - MESSAGE UNREAD</div>
			<div id="messageList_key_openedLabel">WHITE - MESSAGE READ</div>
		</div>
	</div>
	<div id="messageEncoder" class="Container0">
		<div id="messageEncoder_messageHeader">
			<div id="messageEncoder_messageHeader_toLabel">SEND MESSAGE TO</div>
			<input type="text" id="messageEncoder_messageHeader_toTextbox" placeholder="">
			<div id="messageEncoder_messageHeader_frequencyLabel">SEND ON FREQUENCY</div>
			<select id="messageEncoder_messageHeader_frequencySelect">
			</select>
			<div id="messageEncoder_messageHeader_keyLabel">
				ENCODE WITH KEY
			</div>
			<input type="text" id="messageEncoder_messageHeader_keyTextbox" placeholder="NO KEY">
		</div>
		<textarea id="messageEncoder_textarea"></textarea>
		<div id="messageEncoder_sendControls">
			<div id="messageEncoder_messageEncoder_sendControls_sendMessageButton">SEND MESSAGE</div>
			<div id="messageEncoder_messageEncoder_sendControls_clearMessageButton">CLEAR MESSAGE</div>
		</div>
	</div>
	<div id="messageDecoder" class="Container0">
		<div id="messageDecoder_selectAMessage">
			<div id="messageDecoder_selectAMessage_Header">SELECT A MESSAGE</div>
			<div id="messageDecoder_selectAMessage_Subtitle">FROM THE DATABASE ON THE LEFT</div>
		</div>
		<div id="messageDecoder_message">
			<div id="messageDecoder_message_info">
				<div id="messageDecoder_message_info_sender">
					FROM: USS WASHINGTON
				</div>
				<div id="messageDecoder_message_info_time">
					RECIEVED AT: ??:??
				</div>
				<div id="messageDecoder_message_info_openedAt">
					DECODED AT: ??:??
				</div>
				<div id="messageDecoder_message_info_timeChute">
					TIME TO DECODE: ??:??
				</div>
				<div id="messageDecoder_message_info_frequency">
					FREQUENCY: FEDERATION FREQUENCY
				</div>
			</div>
			<div id="messageDecoder_message_body">
				<div id="messageDecoder_message_body_textArea">
				</div>
				<div id="messageDecoder_message_body_keyLabel">
					DECODING KEY:
				</div>
				<input type="text" id="messageDecoder_message_body_keyTextbox" placeholder="NO KEY">
			</div>
			<div id="messageDecoder_reported">
				HAS BEEN REPORTED TO COMMANDING OFFICER: <span style='color:red'>NO</span>
			</div>
			<div id="messageDecoder_reportButton" class="noselect beepOnClick">
				MARK AS REPORTED
			</div>
		</div>
	</div>
</div>
<script src="/jquery"></script>
<script src="/resource?path=encode.js"></script>
<script src="/resource?path=script.js"></script>