<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea">
	<div id="receivedMessages" class="container4">
		<div id="recievedMessage_0" class="recievedMessage"></div>
	</div>
	<div id="writeMessageView" class="container4">


	</div>
	<div id="messageBox" class="container4">

	</div>
	<div id="cypherBox">
	</div>
</div>
<script src="/resource?path=script.js">