<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=internal-communications-reciever">
<div id="icr_popup_callbox">
	<div id="icr_popup_callbox_header">INCOMING CALL</div>
	<div id="icr_popup_callbox_roomHeader">CREW QUARTERS BRAVO, DECK 6</div>
	<svg id="icr_popup_callbox_phoneIcon" class="icr_popup_phone" fill="#505050" height="10vw" viewBox="0 0 24 24" width="10vw" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 0h24v24H0z" fill="none"/>
		<path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
	</svg>
	<svg id="icr_popup_callbox_phoneConnectedIcon" class="icr_popup_phone" fill="lime" height="10vw" viewBox="0 0 24 24" width="10vw" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 0h24v24H0z" fill="none"/>
			<path d="M20 15.5c-1.25 0-2.45-.2-3.57-.57-.35-.11-.74-.03-1.02.24l-2.2 2.2c-2.83-1.44-5.15-3.75-6.59-6.59l2.2-2.21c.28-.26.36-.65.25-1C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.5c0-.55-.45-1-1-1zM19 12h2c0-4.97-4.03-9-9-9v2c3.87 0 7 3.13 7 7zm-4 0h2c0-2.76-2.24-5-5-5v2c1.66 0 3 1.34 3 3z"/>
	</svg>
	<svg id="icr_popup_callbox_phoneMutedIcon" class="icr_popup_phone" fill="orange" height="10vw" viewBox="0 0 24 24" width="10vw" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 0h24v24H0z" fill="none"/>
		<path d="M17 3h-2v7h2V3zm3 12.5c-1.25 0-2.45-.2-3.57-.57-.35-.11-.74-.03-1.02.24l-2.2 2.2c-2.83-1.44-5.15-3.75-6.59-6.59l2.2-2.21c.28-.26.36-.65.25-1C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.5c0-.55-.45-1-1-1zM19 3v7h2V3h-2z"/>
	</svg>
	<canvas id="icr_popup_callbox_canvas"></canvas>
	<div id="icr_popup_callbox_muteButton" class="beepOnClick">
		MUTE
	</div>
	<div id="icr_popup_callbox_hangUpButton" class="beepOnClick">
		REJECT
	</div>
	<div id="icr_popup_callbox_answerButton" class="beepOnClick">
		ANSWER
	</div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=internal-communications-reciever" type="text/javascript"></script>