<div id="docking-core-Widget" widgetName="Docking" class="Core_Theme-CoreWidget" style="width: 439.975px;height: 170.016px;top: 149px;left: 255px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=docking-core">
	
	<div id="docking-core_airlocks" class="docking-core_dockingInfo">
		<div class="docking-core_dockingInfo_header">AIRLOCKS</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				1
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_doorID='0'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				2
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_doorID='1'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				3
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_doorID='2'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				4
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_doorID='3'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				5
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_doorID='4'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				6
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_doorID='5'>
			</div>
		</div>
	</div>

	<div id="docking-core_ramps" class="docking-core_dockingInfo">
		<div class="docking-core_dockingInfo_header">RAMPS</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				1
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_rampID='0'>
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				2
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_rampID='1'>
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				3
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_rampID='2'>
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				4
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_rampID='3'>
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				5
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_rampID='4'>
			</div>
		</div>
		<div class="docking-core_dockingInfo_dataCell">
			<div class="docking-core_dockingInfo_dataCell_title">
				6
			</div>
			<div class="docking-core_dockingInfo_dataCell_data" docking_rampID='5'>
			</div>
		</div>
	</div>

	<div id="docking-core_fuel" class="docking-core_dockingInfo">
		<div class="docking-core_dockingInfo_header">FUEL LINES</div>
		<div class="docking-core_dockingInfo_fuelDataCell">
			<div class="docking-core_dockingInfo_dataCell_fuelTitle">
				PLASMA
			</div>
			<div class="docking-core_dockingInfo_dataCell_fuelData" docking_fuelID='0'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_fuelDataCell">
			<div class="docking-core_dockingInfo_dataCell_fuelTitle">
				DETERIUM
			</div>
			<div class="docking-core_dockingInfo_dataCell_fuelData" docking_fuelID='1'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_fuelDataCell">
			<div class="docking-core_dockingInfo_dataCell_fuelTitle">
				COOLANT
			</div>
			<div class="docking-core_dockingInfo_dataCell_fuelData" docking_fuelID='2'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_fuelDataCell">
			<div class="docking-core_dockingInfo_dataCell_fuelTitle">
				RCS FUEL
			</div>
			<div class="docking-core_dockingInfo_dataCell_fuelData" docking_fuelID='3'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_fuelDataCell">
			<div class="docking-core_dockingInfo_dataCell_fuelTitle">
				WASTE
			</div>
			<div class="docking-core_dockingInfo_dataCell_fuelData" docking_fuelID='4'>
				
			</div>
		</div>
	</div>

	<div id="docking-core_clamps" class="docking-core_dockingInfo">
		<div class="docking-core_dockingInfo_header" style="height: 25%;">DOCKING CLAMPS</div>
		<div class="docking-core_dockingInfo_clampDataCell">
			<div class="docking-core_dockingInfo_dataCell_fuelTitle">
				FORWARD
			</div>
			<div class="docking-core_dockingInfo_dataCell_fuelData" docking_clampID='0'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_clampDataCell">
			<div class="docking-core_dockingInfo_dataCell_fuelTitle">
				MIDSHIP
			</div>
			<div class="docking-core_dockingInfo_dataCell_fuelData" docking_clampID='1'>
				
			</div>
		</div>
		<div class="docking-core_dockingInfo_clampDataCell">
			<div class="docking-core_dockingInfo_dataCell_fuelTitle">
				AFT
			</div>
			<div class="docking-core_dockingInfo_dataCell_fuelData" docking_clampID='2'>
				
			</div>
		</div>
	</div>
	<div id="docking-core_disembarkationNeededText">
		DISEMBARKATION NEEDED
	</div>
	<input type="checkbox" id="docking-core_disembarkationNeededCheckbox">
	<div id="docking-core_disembarkationAlarm" class="customButton">DISEMBARKATION</div>
	<div id="docking-core_forceDockingControls">
		<div class="docking-core_forceDockingControls_button customButton" id="docking-core_forceDockingControls_forceDock">
			FORCE DOCK ALL
		</div>
		<div class="docking-core_forceDockingControls_button customButton" id="docking-core_forceDockingControls_forceUndock">
			FORCE UNDOCK ALL
		</div>
	</div>
	<script type="text/javascript" src="/jquery"></script>
	<script src="/resource?path=script.js&screen=docking-core" type="text/javascript"></script>
</div>