<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=onscreen-keyboard">
<div id="onscreen-keyboard">
<div class="onscreen-keyboard_key">A</div>
<div class="onscreen-keyboard_key">B</div>
<div class="onscreen-keyboard_key">C</div>
<div class="onscreen-keyboard_key">D</div>
<div class="onscreen-keyboard_key">E</div>
<div class="onscreen-keyboard_key">F</div>
<div class="onscreen-keyboard_key">G</div>
<div class="onscreen-keyboard_key">H</div>
<div class="onscreen-keyboard_key">I</div>
<div class="onscreen-keyboard_key">J</div>
<div class="onscreen-keyboard_key">K</div>
<div class="onscreen-keyboard_key">L</div>
<div class="onscreen-keyboard_key">M</div>
<div class="onscreen-keyboard_key">N</div>
<div class="onscreen-keyboard_key">O</div>
<div class="onscreen-keyboard_key">P</div>
<div class="onscreen-keyboard_key">Q</div>
<div class="onscreen-keyboard_key">R</div>
<div class="onscreen-keyboard_key">S</div>
<div class="onscreen-keyboard_key">T</div>
<div class="onscreen-keyboard_key">U</div>
<div class="onscreen-keyboard_key">V</div>
<div class="onscreen-keyboard_key">W</div>
<div class="onscreen-keyboard_key">X</div>
<div class="onscreen-keyboard_key">Y</div>
<div class="onscreen-keyboard_key">Z</div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=onscreen-keyboard" type="text/javascript"></script>