<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=onscreen-keyboard">
<div id="onscreen-keyboard" class="Container0_top">
	<div id="onscreen-keyboard_topMoveDetector"></div>
	<div id="onscreen-keyboard_alphaKeys">
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_a">A</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_b">B</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_c">C</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_d">D</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_e">E</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_f">F</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_g">G</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_h">H</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_i">I</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_j">J</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_k">K</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_l">L</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_m">M</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_n">N</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_o">O</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_p">P</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_q">Q</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_r">R</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_s">S</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_t">T</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_u">U</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_v">V</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_w">W</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_x">X</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_y">Y</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_z">Z</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_tilde" shiftKey='~' key="`">`</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_1" shiftKey='!' key="1">1</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_2" shiftKey='@' key="2">2</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_3" shiftKey='#' key="3">3</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_4" shiftKey='$' key="4">4</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_5" shiftKey='%' key="5">5</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_6" shiftKey='^' key="6">6</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_7" shiftKey='&' key="7">7</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_8" shiftKey='*' key="8">8</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_9" shiftKey='(' key="9">9</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_0" shiftKey=')' key="0">0</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_dash" shiftKey='_' key="-">-</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_plus" shiftKey='+' key="=">=</div>


		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_coma" shiftKey="<" key=",">,</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_dot" shiftKey=">" key=".">.</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_forwardSlash" shiftKey="?" key="/">/</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_semicolon" shiftKey=":" key=";">;</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_qouteSingle" shiftKey='"' key="'">'</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_bracketOpen" shiftKey='{' key="[">[</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_bracketClose" shiftKey='}' key="]">]</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_backslash" shiftKey='|' key="\">\</div>


		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_spaceBar" shiftKey=' ' key=" ">SPACE</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_leftShift" shiftKey='' key="shift">SHIFT</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_rightShift" shiftKey='' key="shift">SHIFT</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_tab" shiftKey='' key="shift">TAB</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_delete" shiftKey='' key="backspace">⌫ DELETE</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_cmd" key="cmd">CMD</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_cmd2" key="cmd">CMD</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_alt" key="alt">ALT</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_alt2" key="alt">ALT</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_ctrl" key="ctrl">CTRL</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_fn" key="fn">FN</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_caps" shiftKey='' key="caps">CAPS LOCK</div>
	</div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=onscreen-keyboard" type="text/javascript"></script>