<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=onscreen-keyboard">
<div id="showOnscreen-keyboardButton" class="Container0">
	<svg fill="#FFFFFF" height="56" viewBox="0 0 24 24" width="56" xmlns="http://www.w3.org/2000/svg">
	    <path d="M20 5H4c-1.1 0-1.99.9-1.99 2L2 17c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm-9 3h2v2h-2V8zm0 3h2v2h-2v-2zM8 8h2v2H8V8zm0 3h2v2H8v-2zm-1 2H5v-2h2v2zm0-3H5V8h2v2zm9 7H8v-2h8v2zm0-4h-2v-2h2v2zm0-3h-2V8h2v2zm3 3h-2v-2h2v2zm0-3h-2V8h2v2z"/>
	    <path d="M0 0h24v24H0zm0 0h24v24H0z" fill="none"/>
	</svg>
</div>
<div id="onscreen-keyboard" class="Container0_top noselect">
	<div id="onscreen-keyboard_topMoveDetector"></div>
	<div id="onscreen-keyboard_alphaKeys">
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_a" keyType="alpha" shiftKey="A" key="a">A</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_b" keyType="alpha" shiftKey="B" key="b">B</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_c" keyType="alpha" shiftKey="C" key="c">C</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_d" keyType="alpha" shiftKey="D" key="d">D</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_e" keyType="alpha" shiftKey="E" key="e">E</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_f" keyType="alpha" shiftKey="F" key="f">F</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_g" keyType="alpha" shiftKey="G" key="g">G</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_h" keyType="alpha" shiftKey="H" key="h">H</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_i" keyType="alpha" shiftKey="I" key="i">I</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_j" keyType="alpha" shiftKey="J" key="j">J</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_k" keyType="alpha" shiftKey="K" key="k">K</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_l" keyType="alpha" shiftKey="L" key="l">L</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_m" keyType="alpha" shiftKey="M" key="m">M</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_n" keyType="alpha" shiftKey="N" key="n">N</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_o" keyType="alpha" shiftKey="O" key="o">O</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_p" keyType="alpha" shiftKey="P" key="p">P</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_q" keyType="alpha" shiftKey="Q" key="q">Q</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_r" keyType="alpha" shiftKey="R" key="r">R</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_s" keyType="alpha" shiftKey="S" key="s">S</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_t" keyType="alpha" shiftKey="T" key="t">T</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_u" keyType="alpha" shiftKey="U" key="u">U</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_v" keyType="alpha" shiftKey="V" key="v">V</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_w" keyType="alpha" shiftKey="W" key="w">W</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_x" keyType="alpha" shiftKey="X" key="x">X</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_y" keyType="alpha" shiftKey="Y" key="y">Y</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_z" keyType="alpha" shiftKey="Z" key="z">Z</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_tilde" shiftKey='~' key="`">`</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_1" shiftKey='!' key="1">1</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_2" shiftKey='@' key="2">2</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_3" shiftKey='#' key="3">3</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_4" shiftKey='$' key="4">4</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_5" shiftKey='%' key="5">5</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_6" shiftKey='^' key="6">6</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_7" shiftKey='&' key="7">7</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_8" shiftKey='*' key="8">8</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_9" shiftKey='(' key="9">9</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_0" shiftKey=')' key="0">0</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_dash" shiftKey='_' key="-">-</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_numKeys_plus" shiftKey='+' key="=">=</div>


		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_coma" shiftKey="<" key=",">,</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_dot" shiftKey=">" key=".">.</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_forwardSlash" shiftKey="?" key="/">/</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_semicolon" shiftKey=":" key=";">;</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_qouteSingle" shiftKey='"' key="'">'</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_bracketOpen" shiftKey='{' key="[">[</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_bracketClose" shiftKey='}' key="]">]</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_backslash" shiftKey='|' key="\">\</div>


		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_spaceBar" shiftKey='SPACE' key="SPACE">SPACE</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_leftShift" shiftKey='SHIFT' key="SHIFT">SHIFT</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_enter" shiftKey='ENTER' key="ENTER">ENTER</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_rightShift" shiftKey='SHIFT' key="SHIFT">SHIFT</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_tab" shiftKey='TAB' key="TAB">TAB</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_delete" shiftKey='⌫ DELETE' key="⌫ DELETE">⌫ DELETE</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_cmd" shiftkey="CMD" key="CMD">CMD</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_cmd2" shiftkey="CMD" key="CMD">CMD</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_alt" shiftkey="ALT" key="ALT">ALT</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_alt2" shiftkey="ALT" key="ALT">ALT</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_ctrl" shiftkey="CTRL" key="CTRL">CTRL</div>
		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_fn" shiftkey="FN" key="FN">FN</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_hide" shiftkey="HIDE" keyType="hide" key="HIDE">HIDE</div>

		<div class="onscreen-keyboard_key" id="onscreen-keyboard_alphaKeys_caps" shiftKey='CAPS LOCK' key="CAPS LOCK">CAPS LOCK</div>
	</div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=onscreen-keyboard" type="text/javascript"></script>