#onscreen-keyboard_alphaKeys_leftShift{
	position: absolute;
	top: 63%;
	left: 0.5%;
	width: 12%;
}
#onscreen-keyboard_alphaKeys_rightShift{
	position: absolute;
	top: 63%;
	left: 78%;
	width: 13%;
}
#onscreen-keyboard_alphaKeys_cmd{
	position: absolute;
	top: 81%;
	left: 19.5%;
}
#onscreen-keyboard_alphaKeys_alt{
	position: absolute;
	top: 81%;
	width: 5.5%;
	left: 13.5%;
}
#onscreen-keyboard_alphaKeys_cmd2{
	position: absolute;
	top: 81%;
	left: 72%;
}
#onscreen-keyboard_alphaKeys_alt2{
	position: absolute;
	top: 81%;
	width: 5.5%;
	left: 78.5%;
}
#onscreen-keyboard_alphaKeys_ctrl{
	position: absolute;
	top: 81%;
	left: 7%;
}
#onscreen-keyboard_alphaKeys_fn{
	position: absolute;
	top: 81%;
	left: 0.5%;
}
#onscreen-keyboard_alphaKeys_coma{
	position: absolute;
	top: 63%;
	left: 58.5%;
}
#onscreen-keyboard_alphaKeys_spaceBar{
	position: absolute;
	top: 81%;
	width: 45.5%;
	left: 26%;
}
#onscreen-keyboard_alphaKeys_dot{
	position: absolute;
	top: 63%;
	left: 65%;
}
#onscreen-keyboard_alphaKeys_forwardSlash{
	position: absolute;
	top: 63%;
	left: 71.5%;
}
#onscreen-keyboard_alphaKeys_semicolon{
	position: absolute;
	top: 46%;
	left: 68.5%;
}
#onscreen-keyboard_alphaKeys_qouteSingle{
	position: absolute;
	top: 46%;
	left: 75%;
}
#onscreen-keyboard_alphaKeys_bracketOpen{
	position: absolute;
	top: 29%;
	left: 73.5%;
}
#onscreen-keyboard_alphaKeys_bracketClose{
	position: absolute;
	top: 29%;
	left: 80%;
}
#onscreen-keyboard_alphaKeys_backslash{
	position: absolute;
	top: 29%;
	left: 86.5%;
}
#onscreen-keyboard_alphaKeys_a{
	position:absolute;
	top: 46%;
	left: 10%;
}
#onscreen-keyboard_alphaKeys_b{
	position:absolute;
	top: 63%;
	left: 39%;
}
#onscreen-keyboard_alphaKeys_c{
	position:absolute;
	top: 63%;
	left: 26%;
}
#onscreen-keyboard_alphaKeys_d{
	position:absolute;
	top: 46%;
	left: 23%;
}
#onscreen-keyboard_alphaKeys_e{
	position:absolute;
	top: 29%;
	left: 21.5%;
}
#onscreen-keyboard_alphaKeys_f{
	position:absolute;
	top: 46%;
	left: 29.5%;
}
#onscreen-keyboard_alphaKeys_g{
	position:absolute;
	top: 46%;
	left: 36%;
}
#onscreen-keyboard_alphaKeys_h{
	position:absolute;
	top: 46%;
	left: 42.5%;
}
#onscreen-keyboard_alphaKeys_i{
	position:absolute;
	top: 29%;
	left: 54%;
}
#onscreen-keyboard_alphaKeys_j{
	position:absolute;
	top: 46%;
	left: 49%;
}
#onscreen-keyboard_alphaKeys_k{
	position:absolute;
	top: 46%;
	left: 55.5%;
}
#onscreen-keyboard_alphaKeys_l{
	position:absolute;
	top: 46%;
	left: 62%;
}
#onscreen-keyboard_alphaKeys_m{
	position:absolute;
	top: 63%;
	left: 52%;
}
#onscreen-keyboard_alphaKeys_n{
	position:absolute;
	top: 63%;
	left: 45.5%;
}
#onscreen-keyboard_alphaKeys_o{
	position:absolute;
	top: 29%;
	left: 60.5%;
}
#onscreen-keyboard_alphaKeys_p{
	position:absolute;
	top: 29%;
	left: 67%;
}
#onscreen-keyboard_alphaKeys_q{
	position:absolute;
	top: 29%;
	left: 8.5%;
}
#onscreen-keyboard_alphaKeys_r{
	position:absolute;
	top: 29%;
	left: 28%;
}
#onscreen-keyboard_alphaKeys_s{
	position:absolute;
	top: 46%;
	left: 16.5%;
}
#onscreen-keyboard_alphaKeys_t{
	position:absolute;
	top: 29%;
	left: 34.5%;
}
#onscreen-keyboard_alphaKeys_u{
	position:absolute;
	top: 29%;
	left: 47.5%;
}
#onscreen-keyboard_alphaKeys_v{
	position:absolute;
	top: 63%;
	left: 32.5%;
}
#onscreen-keyboard_alphaKeys_w{
	position:absolute;
	top: 29%;
	left: 15%;
}
#onscreen-keyboard_alphaKeys_x{
	position:absolute;
	top: 63%;
	left: 19.5%;
}
#onscreen-keyboard_alphaKeys_delete{
    position: absolute;
    top: 12%;
    left: 85%;
    width: 15%;
}
#onscreen-keyboard_topMoveDetector{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 20px;
	cursor: move;
}
#onscreen-keyboard_alphaKeys_y{
	position:absolute;
	top: 29%;
	left: 41%;
}
#onscreen-keyboard_alphaKeys_z{
	position:absolute;
	top: 63%;
	left: 13%;
}
#onscreen-keyboard{
	overflow: hidden;
	position:absolute;
	top:20px;
	z-index: 9999;
	width: 1200px;
	height: 400px;
	left: 20px;
	border-image-width: 0.5em;
}
#onscreen-keyboard_alphaKeys_caps{
	position: absolute;
	top: 46%;
	width: 9%;
	left: 0.5%;
}
#onscreen-keyboard_alphaKeys_tab{
	position: absolute;
	top: 29%;
	width: 7.5%;
	left: 0.5%;
}
#onscreen-keyboard_numKeys_1{
	position: absolute;
	top: 12%;
	left: 7%;
}
#onscreen-keyboard_numKeys_2{
	position: absolute;
	top: 12%;
	left: 13.5%;
}
#onscreen-keyboard_numKeys_3{
	position: absolute;
	top: 12%;
	left: 20%;
}
#onscreen-keyboard_numKeys_4{
	position: absolute;
	top: 12%;
	left: 26.5%;
}
#onscreen-keyboard_numKeys_5{
	position: absolute;
	top: 12%;
	left: 33%;
}
#onscreen-keyboard_numKeys_6{
	position: absolute;
	top: 12%;
	left: 39.5%;
}
#onscreen-keyboard_numKeys_7{
	position: absolute;
	top: 12%;
	left: 46%;
}
#onscreen-keyboard_numKeys_8{
	position: absolute;
	top: 12%;
	left: 52.5%;
}
#onscreen-keyboard_numKeys_9{
	position: absolute;
	top: 12%;
	left: 59%;
}
#onscreen-keyboard_numKeys_0{
	position: absolute;
	top: 12%;
	left: 65.5%;
}
#onscreen-keyboard_numKeys_dash{
	position: absolute;
	top: 12%;
	left: 72%;
}
#onscreen-keyboard_numKeys_plus{
	position: absolute;
	top: 12%;
	left: 78.5%;
}
#onscreen-keyboard_numKeys_tilde{
	position: absolute;
	top: 12%;
	left: 0.5%;
}
.onscreen-keyboard_key:hover{
	background: linear-gradient(to bottom, rgba(0,0,0,0.94) 0%,rgba(0, 86, 127, 0.36) 100%);
	box-shadow: 0px 0px 10px white;
}
.onscreen-keyboard_key:active{
	background: linear-gradient(to bottom, rgba(0,0,0,0.94) 0%,rgba(86, 86, 255, 0.36) 100%);
	box-shadow: 0px 0px 0px white;
}
.onscreen-keyboard_key{
	cursor: pointer;
    box-shadow: -2px 3px #666666;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 6%;
    height: 16%;
    font-family: 'Arial';
    border: 1px solid white;
    border-radius: 20px;
    font-size: 24px;
    background-color: rgba(200,200,255,.3);
}