
	<link rel="stylesheet" type="text/css" href="/stationThemes">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css">

	<div id="contentArea">
		TITLE: <input type="text" class="textBox" style="width:53.5%"> TIMESTAMP: <input type="text" style="width:27.3%" id="officersLogTimestamp" disabled="disabled" class="textBox noselect" value="CALCULATING TIME">
		<div id="topCurve" style="width:90%;left: 3.5%;position: relative"></div><div style="background-color: black;height: 5px;width:90%;position: relative"></div>
		<textarea class="textArea" id="officersLogTextArea" style="height: 82.5%;width:89.5%;left: 3.5%;position: relative" ></textarea>
		<div id="bottomCurve" style="width:90%;left: 3.5%;position: relative;"></div><Br />
		<div class="wideButton noselect beepOnClick" style="position: absolute;left:3.5%;width: 15%;bottom: 1.5%"><CENTER>SAVE LOG</CENTER></div>
		<div class="wideButton noselect beepOnClick" id="clearLogDiv" style="position: absolute;left:22%;width: 15%; background-color: #ff5538;bottom: 1.5%"><CENTER>CLEAR LOG</CENTER></div>
		<div class="wideButton noselect beepOnClick" style="position: absolute;left:41.5%;width: 15%; background-color: #ffb82b;bottom: 1.5%"><CENTER>OPEN OLD LOG</CENTER></div>
		<div class="wideButton noselect beepOnClick" style="position: absolute;right:10%;width: 25%; background-color: #ffb82b;bottom: 1.5%"><CENTER>ENCRYPT LOG</CENTER></div>
	</div>
	 onload="window.$ = window.jQuery = module.exports;"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
	<script src="/resource?path=script.js" type="text/javascript"></script>