<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=thrusters-core">
<div id="thrustersCore" widgetName="Thrusters" class="Core_Theme-CoreWidget" style="
    width: 270px;
    height: 200px;
    top: 349px;
    left: 1109px;">
	<canvas id="thrustersCore_thrustersCanvas"></canvas>
	<canvas id="thrustersCore_verticalThrustersCanvas"></canvas>
</div>
<script src="/jquery" type="text/javascript"></script>
<script src="/resource?path=thrustersClass.js&screen=thrusters-core" type="text/javascript"></script>
<script src="/resource?path=verticalThrustersClass.js&screen=thrusters-core" type="text/javascript"></script>
<script src="/resource?path=script.js&screen=thrusters-core" type="text/javascript"></script>