<div id="processedData-Core-Widget" class="Core_Theme-CoreWidget" style="width: 290px;height: 155px;top: 656px;left: 800px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=processed-data-core">
	<textarea id="processedData-Core-Widget-processedDataTextfield" spellcheck="true"></textarea>
	<div id="processedData-Core-Widget-processedDataControls">
	</div>
	<script src="/resource?path=script.js&screen=processed-data-core" type="text/javascript"></script>
</div>