<div id="processedData-Core-Widget" class="Core_Theme-CoreWidget" style="width: 290px;height: 155px;top: 656px;left: 800px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=processed-data-core">
	<textarea id="processedData-Core-Widget-processedDataTextfield" spellcheck="true"></textarea>
	<div id="processedData-Core-Widget-processedDataControls">
		<select id="processedData-Core-Widget-processedDataControls-missionDropdown">
		</select><br />
		<select id="processedData-Core-Widget-processedDataControls-presetDropdown">
		</select><br />
		<input type="button" class="coreButton" value="Send" id="processedData-Core-Widget-processedDataControls-sendButton">
		<input type="button" class="coreButton" value="F&S" id="processedData-Core-Widget-processedDataControls-flashAndSendButton">
		<input type="button" class="coreButton" value="Next >>" id="processedData-Core-Widget-processedDataControls-nextButton">
		<input type="button" class="coreButton" value="<< Back" id="processedData-Core-Widget-processedDataControls-backButton">
		<input type="button" class="coreButton" value="Edit Presets" id="processedData-Core-Widget-processedDataControls-editPresetsButton">
		<div id="processedData-Core-Widget-processedDataControls-altEditPresetsButton" class="gearIcon"></div>
		<div id="processedData-Core-Widget-processedDataControls-allowFontSizeAdjust">
			<input type="checkbox" id="processedData-Core-Widget-processedDataControls-allowFontSizeAdjust-fontAdjustCheckbox" checked="checked" title="This checkbox can be removed in the sensors preferences"> Font Adjust
		</div>
	</div>
	<script src="/resource?path=script.js&screen=processed-data-core" type="text/javascript"></script>
</div>