<div id="sensorScansWidget" widgetName="Sensor Scans" class="Core_Theme-CoreWidget noselect" style="width: 700px;height: 300px;top: 149px;left: 255px;">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=sensor-scans-core">
	
	<!-- This is the top bar (with the progress bar and toggle buttons) -->
	<div id="sensorScansWidget_scanTypeBar">
		<div id="sensorScansWidget_scanTypeBar_progressBars">
			<div id="sensorScansWidget_scanTypeBar_progressBars_internal" class="sensorScansWidget_scanTypeBar_progressBar">
				<div id="sensorScansWidget_scanTypeBar_progressBars_internal_label" class="sensorScansWidget_scanTypeBar_progressBar_label">INTERNAL SCAN (0% COMPLETE)</div>
				<div id="sensorScansWidget_scanTypeBar_progressBars_internal_fill"></div>
			</div>
			<div id="sensorScansWidget_scanTypeBar_progressBars_external" class="sensorScansWidget_scanTypeBar_progressBar">
				<div id="sensorScansWidget_scanTypeBar_progressBars_external_label" class="sensorScansWidget_scanTypeBar_progressBar_label">INTERNAL SCAN (0% COMPLETE)</div>
				<div id="sensorScansWidget_scanTypeBar_progressBars_external_fill" class="sensorScansWidget_scanTypeBar_progressBar_fill"></div>
			</div>
		</div>
		<input type="button" class="coreButton" value="Internal" id="sensorScansWidget_scanTypeBar_internalButton">
		<input type="button" class="coreButton" value="External" id="sensorScansWidget_scanTypeBar_externalButton">
	</div>
	
	<!-- scan request box -->
	<div id="sensorScansWidget_requestBox">

	</div>

	<!-- Preset Box -->
	<div id="sensorScansWidget_presetBox">
		<select id='sensorScansWidget_presetBox_missionSelect'>
			<optgroup label="PRESET MISSION" id='sensorScansWidget_presetBox_missionSelect_optgroup'></optgroup>
		</select>
		<select id='sensorScansWidget_presetBox_presetSelect'>
			<optgroup label="PRESET" id='sensorScansWidget_presetBox_presetSelect_optgroup'></optgroup>
		</select>
		<div id="sensorScansWidget_presetBox_missionSelectLabel">Mission</div>
		<div id="sensorScansWidget_presetBox_presetSelectLabel">Preset</div>
		<input type="button" class="coreButton" id="sensorScansWidget_presetBox_missionSelect_editButton" value="Edit">
		<input type="button" class="coreButton" id="sensorScansWidget_presetBox_missionSelect_nextButton" value="Next">
	</div>

	<textarea id="sensorScansWidget_responseTextarea"></textarea>

	<!-- responseButtons -->
	<div id="sensorScansWidget_responseButtons">
		<input type="button" class="coreButton" id="sensorScansWidget_responseButtons_autoResponse" value="Auto Response™">
		<input type="button" class="coreButton" id="sensorScansWidget_responseButtons_unknownButton" value="Unknown">
		<input type="button" class="coreButton" id="sensorScansWidget_responseButtons_noneButton" value="None Detected">
		<input type="button" class="coreButton" id="sensorScansWidget_responseButtons_sendButton" value="Send">
		<input type="button" class="coreButton" id="sensorScansWidget_responseButtons_sendNowButton" value="Send NOW">
		<div id="sensorScansWidget_responseButtons_speedLabel">Speed</div>
		<input type="text" value="1x" id="sensorScansWidget_responseButtons_speedTextbox">
		<div id="Sensor-Scans-sensorScansWidget_responseButtons_gearContainer">
			<center><div class="gearIcon" id="sensorScansWidget_responseButtons_gear"></div></center>
		</div>
	</div>

	<script type="text/javascript" src="/jquery"></script>
	<script src="/resource?path=script.js&screen=sensor-scans-core" type="text/javascript"></script>
</div>