#sensorScansWidget_scanTypeBar{
	position: absolute;
	top:1px;
	left: 1px;
	width:calc(100% - 2px);
	height: 22px;
	border: 1px solid white;
}

#sensorScansWidget_scanTypeBar_progressBars{
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 204px);
	height: calc(100% - 1px);
	border-top: 1px solid white;
	overflow: hidden;
}

#sensorScansWidget_scanTypeBar_internalButton{
	position: absolute;
	top: 0px;
	right: 102px;
	width: 100px;
	height: calc(100% - 1px);
}

#sensorScansWidget_scanTypeBar_externalButton{
	position: absolute;
	top: 0px;
	right: 1px;
	width: 100px;
	height: calc(100% - 1px);
}

#sensorScansWidget_requestBox{
	position: absolute;
	top: 26px;
	left: 1px;
	width: calc(100% - 4px);
	height: calc(50% - 48px);
	border: 1px solid white;
}

#sensorScansWidget_presetBox{
	position: absolute;
	top: calc(50% - 19px);
	height: 39px;
	left: 1px;
	width: calc(100% - 4px);
	border: 1px solid white;
}

#sensorScansWidget_responseTextarea{
	background: linear-gradient(to bottom,#404040,#202020);
	color: white;
	position: absolute;
	top: calc(50% + 23px);
	height: calc(50% - 55px);
	border: 1px solid white;
	left: 1px;
	width: calc(100% - 8px);
}

#sensorScansWidget_responseButtons{
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: 22px;
	border: 1px solid white;
}

#sensorScansWidget_responseButtons_autoResponse{
	position: absolute;
	top: 1px;
	left: 28px;
	width: 128px;
	height: calc(100% - 2px);
}

#sensorScansWidget_responseButtons_unknownButton{
	position: absolute;
	top: 1px;
	height: calc(100% - 2px);
	width: 80px;
	left: 227px;
	/* border: 1px solid white; */
}

#sensorScansWidget_responseButtons_noneButton{
	position: absolute;
	top: 1px;
	height: calc(100% - 2px);
	left: 308px;
}

#sensorScansWidget_responseButtons_sendButton{
	position: absolute;
	top: 1px;
	background: linear-gradient(to bottom,rgb(255, 255, 49),rgb(252, 255, 62));
	height: calc(100% - 2px);
	right: 71px;
	width: calc(100% - 470px);
}

#sensorScansWidget_responseButtons_sendNowButton{
	position: absolute;
	top: 1px;
	height: calc(100% - 2px);
	right: 1px;
	color: white;
	background: linear-gradient(to bottom,red,#d80000);
}

#sensorScansWidget_responseButtons_speedTextbox{
	position: absolute;
	top: 1px;
	left: 200px;
	height: calc(100% - 8px);
	text-align: center;
	width: 20px;
	background: linear-gradient(to bottom,#DFDFDF,white);
}

#sensorScansWidget_responseButtons_speedLabel{
	position: absolute;
	top: 5px;
	left: 161px;
	font-size: 12px;
}

.sensorScansWidget_scanTypeBar_progressBar{
	height: calc(50% - 2px);
	position: relative;
	/* top: 1px; */
	width: calc;
	/* border-top: 0px; */
	border: 1px solid white;
	border-top: 0px;
	overflow: hidden;
}

#sensorScansWidget_presetBox_missionSelectLabel{
	position: absolute;
	top:2px;
	left: 2px;
	font-size: 14px;
}

#sensorScansWidget_presetBox_presetSelectLabel{
	position: absolute;
	bottom: 2px;
	font-size: 14px;
	left: 2px;
}

#sensorScansWidget_presetBox_missionSelect{
	position: absolute;
	top: 1px;
	width: calc(100% - 93px);
	left: 52px;
	height: calc(50% - 2px);
}

#sensorScansWidget_presetBox_presetSelect{
	position: absolute;
	bottom: 2px;
	left: 52px;
	width: calc(100% - 93px);
	height: calc(50% - 2px);
}

#sensorScansWidget_presetBox_missionSelect_editButton{
	position: absolute;
	top: 1px;
	right: 1px;
	width: 39px;
	background-color: yellow;
	height: calc(50% - 1px);
}

#sensorScansWidget_presetBox_missionSelect_nextButton{
	position: absolute;
	bottom: 1px;
	height: calc(50% - 2px);
	right: 1px;
	width: 39px;
}

#Sensor-Scans-sensorScansWidget_responseButtons_gearContainer{
	position: absolute;
	top:1px;
	left: 1px;
	width: 23px;
	height: calc(100% - 2px);
}

.sensorScansWidget_scanTypeBar_progressBar_label{
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 7px;
}

.sensorScansWidget_scanTypeBar_progressBar_fill{
	position: absolute;
	top:0px;
	left: 0px;
	width: 50%;
	background-color: rgba(255,180,0,.6);
	border-right: 1px solid white;
	height: 100%;
}