
<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=security-monitor-core">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=damage-control-core">
<div id="security_monitor_core_editAlarmWindow" class="coreWindow noselect" windowName="Alarm Editor" style="width: 650px;height: 350px;">
	<div id="security_monitor_core_editAlarmWindow_title">
		Security Alarms
	</div>
	<input type="button" value="-" id="security_monitor_core_editAlarmWindow_removeButton" class="coreButton">
	<input type="button" value="+" id="security_monitor_core_editAlarmWindow_addButton" class="coreButton">
	<div id="security_monitor_core_editAlarmWindow_pingList">
	</div>
	<input type="text" id="security_monitor_core_editAlarmWindow_pingTitle">
	<textarea id="security_monitor_core_editAlarmWindow_pingData"></textarea>
</div>
<div id="Security-Monitor-Core-Widget" widgetName="Security Monitor" class="Core_Theme-CoreWidget" style="    
	width: 557px;
    height: 340px;
    top: 149px;
    left: 699px;">

    <div id="Security-Monitor-Core_deckList" class="noselect"></div>
    <div id="security-monitor-core_roomHeader">ROOM NAME<div id="security-monitor-core_roomHeader_evacLabel">EVACUATION</div><div id="security-monitor-core_roomHeader_doorLabel">DOORS</div></div>
    <div id="Security-Monitor-Core_roomList">
    </div>
    <div id="Security-Monitor-Core_alarmControls">
    	<div id="Security-Monitor-Core_alarmControls_sortType">
    		<svg fill="#FFFFFF" id="Security-Monitor-Core_alarmControls_sortType_alpha" height="18" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    			<path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm.75.75h22.5v22.5H.75z" fill="none"/>
   				<path d="M14.94 4.66h-4.72l2.36-2.36zm-4.69 14.71h4.66l-2.33 2.33zM6.1 6.27L1.6 17.73h1.84l.92-2.45h5.11l.92 2.45h1.84L7.74 6.27H6.1zm-1.13 7.37l1.94-5.18 1.94 5.18H4.97zm10.76 2.5h6.12v1.59h-8.53v-1.29l5.92-8.56h-5.88v-1.6h8.3v1.26l-5.93 8.6z"/>
			</svg>
			<svg fill="#FFFFFF" id="Security-Monitor-Core_alarmControls_sortType_deck" height="18" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    			<path d="M2 17h2v.5H3v1h1v.5H2v1h3v-4H2v1zm1-9h1V4H2v1h1v3zm-1 3h1.8L2 13.1v.9h3v-1H3.2L5 10.9V10H2v1zm5-6v2h14V5H7zm0 14h14v-2H7v2zm0-6h14v-2H7v2z"/>
    			<path d="M0 0h24v24H0z" fill="none"/>
			</svg>
    	</div>
    	<select id="Security-Monitor-Core_alarmControls_locationDropdown"></select>
    	<input type="button" value="CREATE" class="coreButton" id="Security-Monitor-Core_alarmControls_createButton">
    	<select id="Security-Monitor-Core_alarmControls_alarmDropdown"></select>
    	<input type="button" value="EDIT" class="coreButton" id="Security-Monitor-Core_alarmControls_editButton">
    	<div id="Security-Monitor-Core_alarmControls_currentAlarmsListHeader">CURRENT ALARMS <div id="Security-Monitor-Core_alarmControls_currentAlarmsListHeader_locationLabel">LOCATION</div><div id="Security-Monitor-Core_alarmControls_currentAlarmsListHeader_timeLabel">TIME</div></div>
    	<div id="Security-Monitor-Core_alarmControls_currentAlarmsList" class="noselect"></div>
    </div>
</div>
<script type="text/javascript" src="/jquery"></script>
<script src="/resource?path=script.js&screen=security-monitor-core" type="text/javascript"></script>