<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=messaging-core">
<div id="messagingCorePresetEditor" class="coreWindow" windowName="Preset Editor" style="width: 725px;height: 400px;top:230px;left: 230px">
    <div id="messagingCorePresetEditor_missionList">
        <div class="messagingCorePresetEditor_listHeaderContainer">
            <div class="messagingCorePresetEditor_listHeaderContainer_header">Mission</div>
        </div>
        <div class="messagingCorePresetEditor_listContainer" id="messagingCorePresetEditor_missionList_list"></div>
        <div class="messagingCorePresetEditor_controlButtons">
            <div id="messagingCorePresetEditor_addMissionButton" class="messagingCorePresetEditor_controlButtons_add">
                ADD
            </div>
            <div id="messagingCorePresetEditor_removeMissionButton" class="messagingCorePresetEditor_controlButtons_remove">
                REMOVE
            </div>
        </div>
    </div>
    <div id="messagingCorePresetEditor_presetList">
        <div class="messagingCorePresetEditor_listHeaderContainer">
            <div class="messagingCorePresetEditor_listHeaderContainer_header">Preset</div>
        </div>
        <div class="messagingCorePresetEditor_listContainer" id="messagingCorePresetEditor_presetList_list"></div>
        <div class="messagingCorePresetEditor_controlButtons">
            <div id="messagingCorePresetEditor_addPresetButton" class="messagingCorePresetEditor_controlButtons_add">
                ADD
            </div>
            <div id="messagingCorePresetEditor_removePresetButton" class="messagingCorePresetEditor_controlButtons_remove">
                REMOVE
            </div>
        </div>
    </div>
    <div id="messagingCorePresetEditor_presetEditor">
        <div id="messagingCorePresetEditor_presetEditor_missionNameLabel">Mission Name</div>
        <input type="text" id="messagingCorePresetEditor_presetEditor_missionNameTextbox" placeholder="NEW MISSION">
        <div id="messagingCorePresetEditor_presetEditor_presetNameLabel">Preset Name</div>
        <input type="text" id="messagingCorePresetEditor_presetEditor_presetNameTextbox" placeholder="NEW PRESET">
        <textarea spellcheck="true" id="messagingCorePresetEditor_presetEditor_presetTextarea" placeholder="Type new preset here..."></textarea>
        <div id="messagingCorePresetEditor_presetEditor_saveButton">Save</div>
    </div>
</div>
<div id="messagingCore" widgetName="Messaging" class="Core_Theme-CoreWidget" style="
    width: 700px;
    height: 350px;
    top: 149px;
    left: 200px;">

    <div id="messagingCore_channels">

    	<div id="messagingCore_channels_header">CHANNELS
    		<div id="messagingCore_channels_channel_gearContainer">
				<div class="gearIcon" id="messagingCore_channels_channel_gearContainer_gear"></div>
			</div>
    	</div>

    	<div id="messagingCore_channelsList"></div>
    </div>
    <div id="messagingCore_channels_presetsContainer">
    	<input type="button" value="EDIT" class="coreButton" id="messagingCore_channels_presetsContainer_editButton">
    	<input type="button" value="NEXT" class="coreButton" id="messagingCore_channels_presetsContainer_nextButton">
    	<div id="messagingCore_channels_presetsContainer_missionLabel">Mission</div>
    	<select id="messagingCore_channels_presetsContainer_missionSelect">
    		<optgroup label="MISSION">
    			<option>Isaac Presets</option>
    			<option>Jensen</option>
    			<option>Generic</option>
    		</optgroup>
    	</select>
    	<div id="messagingCore_channels_presetsContainer_presetLabel">Preset</div>
    	<select id="messagingCore_channels_presetsContainer_presetSelect">
    		<optgroup label="PRESET">
    			<option>Isaac Presets</option>
    			<option>Jensen</option>
    			<option>Generic</option>
    		</optgroup>
    	</select>
    </div>
    <div id="messagingCore_channels_messageContainer"></div>
    <textarea spellcheck="true" id="messagingCore_messageTextarea" placeholder="TYPE NEW MESSAGE HERE"></textarea>
    <input type="button" id="messagingCore_sendMessageButton" title="PRO TIP!  Right click to change all text to uppercase (useful for copy and pasting text, as well as spell checking)" value="SEND MESSAGE">
    <div id="messagingCore_fromLabel">
    	Sender
    </div>
    <select id="messagingCore_fromTextbox">
    	
    </select>
    <input type="button" value="EDIT" id="messagingCore_editButton">
</div>
<script src="/resource?path=script.js&screen=messaging-core" type="text/javascript"></script>