<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=messaging-core">
<div id="messagingCore" widgetName="Messaging" class="Core_Theme-CoreWidget" style="
    width: 700px;
    height: 350px;
    top: 149px;
    left: 200px;">

    <div id="messagingCore_channels">
    	<div class="messagingCore_channels_header">CHANNELS
    		<div id="messagingCore_channels_channel_gearContainer">
				<div class="gearIcon" id="messagingCore_channels_channel_gearContainer_gear"></div>
			</div>
    	</div>
    	<div class="messagingCore_channels_channel">SECURITY</div>
    	<div class="messagingCore_channels_channel">MEDICAL</div>
    	<div class="messagingCore_channels_channel">DAMAGE CONTROL</div>
    </div>
    <div id="messagingCore_channels_presetsContainer">
    	<input type="button" value="EDIT" class="coreButton" id="messagingCore_channels_presetsContainer_editButton">
    	<input type="button" value="NEXT" class="coreButton" id="messagingCore_channels_presetsContainer_nextButton">
    	<div id="messagingCore_channels_presetsContainer_missionLabel">Mission</div>
    	<select id="messagingCore_channels_presetsContainer_missionSelect">
    		<optgroup label="MISSION">
    			<option>Isaac Presets</option>
    			<option>Jensen</option>
    			<option>Generic</option>
    		</optgroup>
    	</select>
    	<div id="messagingCore_channels_presetsContainer_presetLabel">Preset</div>
    	<select id="messagingCore_channels_presetsContainer_presetSelect">
    		<optgroup label="PRESET">
    			<option>Isaac Presets</option>
    			<option>Jensen</option>
    			<option>Generic</option>
    		</optgroup>
    	</select>
    </div>
    <div id="messagingCore_channels_messageContainer">
    	<div class="messagingCore_channels_messageContainer_message">
    		<div class="messagingCore_channels_messageContainer_message_from">
    			SECURITY TEAMS
    		</div>
    		<div class="messagingCore_channels_messageContainer_message_message" contenteditable="true">
    			HELLO WORLD
    		</div>
    	</div>
    	<div class="messagingCore_channels_messageContainer_message">
    		<div class="messagingCore_channels_messageContainer_message_from">
    			SECURITY TEAMS
    		</div>
    		<div class="messagingCore_channels_messageContainer_message_message" contenteditable="true">
    			HELLO WORLD
    		</div>
    	</div>
    	<div class="messagingCore_channels_messageContainer_message">
    		<div class="messagingCore_channels_messageContainer_message_from">
    			SECURITY TEAMS
    		</div>
    		<div class="messagingCore_channels_messageContainer_message_message" contenteditable="true">
    			HELLO WORLD
    		</div>
    	</div>
    	<div class="messagingCore_channels_messageContainer_message">
    		<div class="messagingCore_channels_messageContainer_message_from">
    			SECURITY TEAMS
    		</div>
    		<div class="messagingCore_channels_messageContainer_message_message" contenteditable="true">
    			HELLO WORLD
    		</div>
    	</div>
    	<div class="messagingCore_channels_messageContainer_message">
    		<div class="messagingCore_channels_messageContainer_message_from">
    			SECURITY TEAMS
    		</div>
    		<div class="messagingCore_channels_messageContainer_message_message" contenteditable="true">
    			HELLO WORLD
    		</div>
    	</div>
    </div>
</div>
<script src="/resource?path=script.js&screen=messaging-core" type="text/javascript"></script>