.messagingCore_channels_channel:hover{
	filter: brightness(1.25);
}
.messagingCore_channels_channel:active{
	filter: brightness(0.65);
}
.messagingCore_channels_messageContainer_message_message_timestamp{
	float: right;
	margin: 4px;
	color:#808080;
	font-size: 9px;
}
.messagingCore_channels_channel{
	cursor: pointer;
	border-bottom: 1px solid #707070;
	position: relative;
	width: 100%;
	background-color: #202020;
	height: 22px;
	float: left;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
.messagingCorePresetEditor_controlButtons_add:hover{
	filter: brightness(1.25);
}
.messagingCorePresetEditor_controlButtons_add:active{
	filter: brightness(0.65);
}
.messagingCorePresetEditor_controlButtons_remove:hover{
	filter: brightness(1.25);
}
.messagingCorePresetEditor_controlButtons_remove:active{
	filter: brightness(0.65);
}
.messagingCorePresetEditor_controlButtons_add{
	position: absolute;
	top:0px;
	left: 0px;
	width: calc(100% - 0px);
	cursor: pointer;
	border-bottom: 1px solid white;
	color:white;
	text-align: center;
	height: calc(50% - 1px);
	background: linear-gradient(to bottom,green, #00a700);
}
.messagingCorePresetEditor_controlButtons_remove{
	position: absolute;
	bottom:0px;
	left: 0px;
	width: 100%;
	color:white;
	cursor: pointer;
	text-align: center;
	height: calc(50% - 0px);
	background: linear-gradient(to bottom,red, #d00000);
}
.messagingCorePresetEditor_controlButtons{
	position: absolute;
	bottom: 2px;
	left: 2px;
	width: calc(100% - 5px);
	border: 1px solid white;
	height: 40px;
}
.messagingCorePresetEditor_listContainer_item:hover{
	background-color: rgba(255,255,255,.45);
}
.messagingCorePresetEditor_listContainer_item:active{
	background-color: rgba(255,255,255,.15);
}
.messagingCorePresetEditor_listContainer_item{
	cursor: pointer;
	position: relative;
	float:left;
	background-color: rgba(255,255,255,.15);
	border-bottom: 1px solid white;
	width: 100%;
	font-size: 12px;
	overflow: hidden;
	height: 26px;
	align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.messagingCorePresetEditor_listContainer{
	position: absolute;
	top:28px;
	height: calc(100% - 31px);
	left: 1px;
	width: calc(100% - 4px);
	border: 1px solid white;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.messagingCorePresetEditor_listHeaderContainer{
	position: absolute;
	top:0px;
	left: 0px;
	background-color: rgba(255,255,255,.25);
	border-bottom: 1px solid white;
	width: 100%;
	height: 26px;
}
.messagingCorePresetEditor_listHeaderContainer_header{
	position: absolute;
	top:4px;
	text-align: center;
	width: 100%;
}
#messagingCorePresetEditor_missionList{
	position: absolute;
	top: 21px;
	left: 1px;
	width: 175px;
	border: 1px solid white;
	height: calc(100% - 44px);
}
#messagingCorePresetEditor_presetList{
	position: absolute;
	top: 21px;
	left: 179px;
	width: 175px;
	border: 1px solid white;
	height: calc(100% - 44px);
}
#messagingCorePresetEditor_presetEditor{
	position: absolute;
	right: 1px;
	top: 21px;
	width: calc(100% - 360px);
	height: calc(100% - 44px);
	border: 1px solid white;
}
#messagingCore_messageTextarea{
	position: absolute;
	bottom: 22px;
	right: 1px;
	height: 57px;
	border: 1px solid white;
	background-color: rgba(35,35,35,.8);
	color:white;
	font-family: 'Arial';
	width: calc(100% - 211px);
}
#messagingCore_sendMessageButton{
	position: absolute;
	bottom: 1px;
	right: 1px;
	border: 1px solid white;
	background-color: red;
	width: 110px;
	color: white;
}
#messagingCore_fromTextbox{
	position: absolute;
	bottom: 1px;
	right: 112px;
	border: 1px solid white;
	width: calc(100% - 370px);
	height: 20px;
	background-color: black;
	color:white;
	font-family: 'Arial';
}
#messagingCore_fromLabel{
	position: absolute;
	bottom: 2px;
	left: 205px;
	/* border: 1px solid white; */
	width: calc(100% - 370px);
}
#messagingCore_channelsList{
	position: absolute;
	top: 24px;
	left: 1px;
	width: calc(100% - 4px);
	border: 1px solid white;
	height: calc(100% - 27px);
}
#messagingCore_channels_presetsContainer_editButton{
	position: absolute;
	top:1px;
	right: 1px;
	width: 45px;
	z-index: 2;
	border: 1px solid #eaeaea;
	height: calc(50% - 2px);
	background-color: yellow;
}
#messagingCore_channels_presetsContainer_nextButton{
	position: absolute;
	bottom:1px;
	right: 1px;
	width: 45px;
	z-index: 2;
	border: 1px solid white;
	height: calc(50% - 1px);
}
#messagingCore_channels_presetsContainer_missionSelect{
	position: absolute;
	top:1px;
	left: 58px;
	width: calc(100% - 105px);
}
#messagingCore_channels_presetsContainer_presetSelect{
	position: absolute;
	bottom:1px;
	left: 58px;
	width: calc(100% - 105px);
}
#messagingCore_channels_presetsContainer_missionLabel{
	position: absolute;
	top: 2px;
	left: 3px;
}
#messagingCore_channels_presetsContainer_presetLabel{
	position: absolute;
	bottom: 0px;
	left: 10px;
}
#messagingCore_channels{
	position: absolute;
	top:1px;
	left: 1px;
	width: 200px;
	border: 1px solid white;
	height: calc(100% - 4px);
}
#messagingCore_channels_presetsContainer{
	position: absolute;
	bottom: 86px;
	right: 1px;
	width: calc(100% - 207px);
	border: 1px solid white;
	height: 38px;
}
#messagingCore_channels_messageContainer{
	right: 1px;
	width: calc(100% - 207px);
	top:1px;
	height: calc(100% - 130px);
	border: 1px solid white;
	position: absolute;
	overflow: auto;
}
#messagingCore_channels_channel_gearContainer{
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 20px;
	height: calc(100% - 4px);
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
.messagingCore_channels_messageContainer_message{
	position: relative;
	width: 100%;
	float:left;
	border-bottom: 1px solid #707070;
	background-color: rgba(255,255,255,.1);
	overflow: auto;
}
.messagingCore_channels_messageContainer_message_from{
	position: relative;
	height: 100%;
	color: rgb(220,220,220);
	width: 25%;
	margin-top: 2px;
	text-align: center;
	float: left;
	font-size: 12px;
}
.messagingCore_channels_messageContainer_message_message{
	position: relative;
	height: 100%;
	width: calc(75% - 2px);
	float: left;
}
.messagingCore_channels_messageContainer_message_edit{
	position: relative;
	right: 1px;
	float: left;
	width: 20px;
	text-align: center;
	bottom: 5px;
}
#messagingCore_channels_header{
	position: relative;
	width: 100%;
	background-color: #404040;
	height: 22px;
	float: left;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
#messagingCorePresetEditor_presetEditor_missionNameLabel{
	position: absolute;
	top: 3px;
	left: 2px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
#messagingCorePresetEditor_presetEditor_missionNameTextbox{
	position: absolute;
	right: 1px;
	width: calc(100% - 112px);
	top: 1px;
	height: 16px;
	background-color: rgba(0,0,0,.6);
	color:white;
	border: 1px solid white;
	font-family: 'Arial';
}
#messagingCorePresetEditor_presetEditor_presetNameLabel{
	position: absolute;
	top: 24px;
	left: 2px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
#messagingCorePresetEditor_presetEditor_presetNameTextbox{
	position: absolute;
	right: 1px;
	width: calc(100% - 112px);
	height: 17px;
	top:22px;
	background-color: rgba(0,0,0,.6);
	border: 1px solid white;
	color:white;
	font-family: 'Arial';
}
#messagingCorePresetEditor_presetEditor_presetTextarea{
	position: absolute;
	top:44px;
	left: 1px;
	width: calc(100% - 8px);
	border: 1px solid white;
	height: calc(100% - 74px);
	background-color: rgba(0,0,0,.6);
	color:white;
	font-family: 'Arial';
}
#messagingCorePresetEditor_presetEditor_saveButton:hover{
	filter: brightness(1.25);
}
#messagingCorePresetEditor_presetEditor_saveButton:active{
	filter: brightness(0.65);
}
#messagingCorePresetEditor_presetEditor_saveButton{
	position: absolute;
	bottom: 1px;
	cursor: pointer;
	left: 1px;
	background: linear-gradient(to bottom,#00a900,#009c00);
	width: calc(100% - 4px);
	height: 20px;
	border: 1px solid white;
	text-align: center;
	background-color: rgba(0,0,0,.6);
	color:white;
	font-family: 'Arial';
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}