body{
	background-color:black;
	color:white;
	overflow: hidden;
}

h3{
	font-size: 28px;
	text-shadow:
   -1px -1px 0 #898989,  
    1px -1px 0 #898989,
   -1px 1px 0 #898989,
    1px 1px 0 #898989;
}

.textOutline{
	text-shadow:
   -1px -1px 0 #898989,  
    1px -1px 0 #898989,
   -1px 1px 0 #898989,
    1px 1px 0 #898989;

}

#loginLogo{
	width: 371px;
}

#contentArea{
	position: absolute;
	top:10%;
	left:30%;
	width: 50%;
}
