<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=security-dispatch-core">
<div id="securityDispatchCore" widgetName="Security Dispatch" class="Core_Theme-CoreWidget" style="
	width: 750px;
    height: 500px;
    top: 0px;
    left: 0px;
">
	<div id="securityDispatchCore_offDutyList" class="securityDispatchCore_list">
		<div class="securityDispatchCore_list_header">OFF DUTY</div>
		<div class="securityDispatchCore_list_items">
			
		</div>
	</div>
	<div id="securityDispatchCore_noAssignmentList" class="securityDispatchCore_list">
		<div class="securityDispatchCore_list_header">NO ASSIGNMENT</div>
		<div class="securityDispatchCore_list_items">
			
		</div>
	</div>
	<div id="securityDispatchCore_enRouteList" class="securityDispatchCore_list">
		<div class="securityDispatchCore_list_header">EN ROUTE</div>
		<div class="securityDispatchCore_list_items">
			
		</div>
	</div>
	<div id="securityDispatchCore_onSceneList" class="securityDispatchCore_list">
		<div class="securityDispatchCore_list_header">ON SCENE</div>
		<div class="securityDispatchCore_list_items">
			
		</div>
	</div>
	<div id="securityDispatchCore_returningList" class="securityDispatchCore_list">
		<div class="securityDispatchCore_list_header">RETURNING</div>
		<div class="securityDispatchCore_list_items">
			<div class="securityDispatchCore_list_items_item">
				<div class="securityDispatchCore_list_items_item_name">WILLIAMSON</div>
				<div class="securityDispatchCore_list_items_item_time">00:00:00</div>
				<input class="securityDispatchCore_list_items_item_button coreButton" type="button" value=">>">
			</div>
		</div>
	</div>
	<div id="securityDispatchCore_officerControls">
		<div class="securityDispatchCore_label" id="securityDispatchCore_officerControls_nameLabel">NAME</div>
		<div class="securityDispatchCore_falseField" id="securityDispatchCore_officerControls_name" title="LAST, FIRST, MIDDLE">OSTLER, ISAAC, STEPHEN</div>
		<div class="securityDispatchCore_label" id="securityDispatchCore_officerControls_rankLabel">RANK</div>
		<div class="securityDispatchCore_falseField" id="securityDispatchCore_officerControls_rank">ENSIGN</div>
		<div class="securityDispatchCore_label" id="securityDispatchCore_officerControls_raceLabel">RACE</div>
		<div class="securityDispatchCore_falseField" id="securityDispatchCore_officerControls_race">HUMAN</div>
		<div class="securityDispatchCore_label" id="securityDispatchCore_officerControls_specialtyLabel">SPECIALTY</div>
		<div class="securityDispatchCore_falseField" id="securityDispatchCore_officerControls_specialty">HEAVY RESCUE SPECALIST</div>
		<div class="securityDispatchCore_label" id="securityDispatchCore_officerControls_locationLabel">POSTED DECK</div>
		<div class="securityDispatchCore_falseField" id="securityDispatchCore_officerControls_location">DECK 1, BRIDGE</div>
		<div class="securityDispatchCore_label" id="securityDispatchCore_officerControls_ordersLabel">ORDERS</div>
		<div  class="securityDispatchCore_falseField" id="securityDispatchCore_officerControls_orders">NO ORDERS</div>
	</div>
	<div id="securityDispatchCore_coverage">
		<div id="securityDispatchCore_coverage_label">SHIPWIDE SECURITY COVERAGE</div>
		<div id="securityDispatchCore_coverage_percentage">
			<div id="securityDispatchCore_coverage_percentageLabel">75%</div>
			<div id="securityDispatchCore_coverage_percentageFill"></div>
		</div>
	</div>
	<div id="securityDispatchCore_settings">
		<input type="button" class="coreButton" id="securityDispatchCore_settings_toggleShipViewButton" value="Toggle Ship View">
		<input type="button" class="coreButton" id="securityDispatchCore_settings_tasksButton" value="Edit Dispatch Tasks">
		<input type="button" class="coreButton" id="securityDispatchCore_settings_officersButton" value="Edit Officers">
		<input type="button" class="coreButton" id="securityDispatchCore_settings_codesButton" value="Edit Codes">
	</div>
	<div id="securityDispatchCore_teams">
		<div id="securityDispatchCore_teams_title">CURRENT INCIDENTS</div>
		<div id="securityDispatchCore_teams_header">
			<div id="securityDispatchCore_teams_header_incident">Incident</div>
			<div id="securityDispatchCore_teams_header_priority">Priority</div>
			<div id="securityDispatchCore_teams_header_location">Location</div>
			<div id="securityDispatchCore_teams_header_officers">Officers</div>
			<div id="securityDispatchCore_teams_header_time">Time</div>
		</div>
		<div id="securityDispatchCore_teams_list">
			<div class="securityDispatchCore_teams_list_item">
				<div class="securityDispatchCore_teams_list_item_incident">POSTING</div>
				<div class="securityDispatchCore_teams_list_item_priority">ALPHA</div>
				<div class="securityDispatchCore_teams_list_item_location">DECK 1, BRIDGE</div>
				<div class="securityDispatchCore_teams_list_item_officers">OSTLER, RHODES</div>
				<div class="securityDispatchCore_teams_list_item_time">00:00:00</div>
			</div>
			<div class="securityDispatchCore_teams_list_item">
				<div class="securityDispatchCore_teams_list_item_incident">POSTING</div>
				<div class="securityDispatchCore_teams_list_item_priority">ALPHA</div>
				<div class="securityDispatchCore_teams_list_item_location">DECK 1, BRIDGE</div>
				<div class="securityDispatchCore_teams_list_item_officers">OSTLER, RHODES</div>
				<div class="securityDispatchCore_teams_list_item_time">00:00:00</div>
			</div>
			<div class="securityDispatchCore_teams_list_item">
				<div class="securityDispatchCore_teams_list_item_incident">POSTING</div>
				<div class="securityDispatchCore_teams_list_item_priority">ALPHA</div>
				<div class="securityDispatchCore_teams_list_item_location">DECK 1, BRIDGE</div>
				<div class="securityDispatchCore_teams_list_item_officers">OSTLER, RHODES</div>
				<div class="securityDispatchCore_teams_list_item_time">00:00:00</div>
			</div>
			<div class="securityDispatchCore_teams_list_item">
				<div class="securityDispatchCore_teams_list_item_incident">POSTING</div>
				<div class="securityDispatchCore_teams_list_item_priority">ALPHA</div>
				<div class="securityDispatchCore_teams_list_item_location">DECK 1, BRIDGE</div>
				<div class="securityDispatchCore_teams_list_item_officers">OSTLER, RHODES</div>
				<div class="securityDispatchCore_teams_list_item_time">00:00:00</div>
			</div>
			<div class="securityDispatchCore_teams_list_item">
				<div class="securityDispatchCore_teams_list_item_incident">POSTING</div>
				<div class="securityDispatchCore_teams_list_item_priority">ALPHA</div>
				<div class="securityDispatchCore_teams_list_item_location">DECK 1, BRIDGE</div>
				<div class="securityDispatchCore_teams_list_item_officers">OSTLER, RHODES</div>
				<div class="securityDispatchCore_teams_list_item_time">00:00:00</div>
			</div>
		</div>
	</div>
</div>
<script src="/jquery" type="text/javascript"></script>
<script src="/resource?path=script.js&screen=security-dispatch-core" type="text/javascript"></script>