#securityDispatchCoreCodeEditor_list{
	position: absolute;
	top:40px;
	left: 20px;
	width: calc(100% - 40px);
	height: calc(100% - 100px);
	border: 1px solid white;
}
#securityDispatchCoreCodeEditor_saveButton{
	position: absolute;
	bottom: 21px;
	right: 18px;
	height: 34px;
	width: 25%;
	border: 1px solid white;
	background: linear-gradient(to bottom, #00c100, #009000);
}
#securityDispatchCoreCodeEditor_applyButton{
	position: absolute;
	bottom: 21px;
	right: calc(25% + 21px);
	background: linear-gradient(to bottom, #00dcff, #00718b);
	width: 25%;
	height: 34px;
	border: 1px solid white;
}
#securityDispatchCoreCodeEditor_defaultButton{
	position: absolute;
	bottom: 21px;
	border: 1px solid white;
	left: 20px;
	height: 34px;
	background: linear-gradient(to bottom, #ef8c13, #b54300);
	width: 20%;
}
#securityDispatchCoreCodeEditor_cancelButton{
	position: absolute;
	bottom: 21px;
	right: calc(50% + 24px);
	background: linear-gradient(to bottom,red,darkred);
	height: 34px;
	border: 1px solid white;
	width: calc(25% - 50px);
}
.securityDispatchCoreCodeEditor_list_category{
	position: relative;
	float: left;
	/* border-bottom: 1px dotted white; */
	width: 100%;
}
.securityDispatchCoreCodeEditor_list_category_header{
	height: 40px;
	width: 80%;
	float: left;
	margin: 10px;
	font-size: 36px;
	border-radius: 9px;
	border: 1px solid white;
	color: white;
	background-color: rgba(0,0,0,.6);
}
.securityDispatchCoreCodeEditor_list_codes{
	position: relative;
	float:left;
	margin-left: 40px;
	width: calc(100% - 50px);
}
.securityDispatchCoreCodeEditor_list_codes_item{
	position: relative;
	/* background-color: red; */
	float: left;
	width: 100%;
	/* margin-top: 0px; */
	/* margin-bottom: 0px; */
	/* border: 1px solid white; */
}
.securityDispatchCoreCodeEditor_list_codes_item_name{
	height: 20px;
	width: 50%;
	float: left;
	font-size: 18px;
	background-color: rgba(0,0,0,.6);
	border: 1px solid white;
	border-radius: 5px;
	color: white;
}
.securityDispatchCoreCodeEditor_list_codes_item_priority{
	float: left;
	width: 31%;
	background-color: black;
	color: white;
	height: 24px;
	position: relative;
}
.securityDispatchCoreCodeEditor_list_codes_item_up{
	position: relative;
	float:left;
	font-size: 20px;
	margin-left: 10px;
}
.securityDispatchCoreCodeEditor_list_codes_item_down{
	position: relative;
	float:left;
	font-size: 25px;
	margin-left: 10px;
	font-size: 20px;
}
.securityDispatchCoreCodeEditor_list_category_delete{
	position: relative;
	float:left;
	font-size: 40px;
	margin-left: 0px;
}
.securityDispatchCoreCodeEditor_list_codes_item_delete{
	position: relative;
	float:left;
	font-size: 20px;
	margin-left: 10px;
}
.securityDispatchCoreCodeEditor_list_codes_addItem{
	position: relative;
	float: left;
	width: 20%;
	/* text-align: left; */
	/* font-size: 17px; */
	border-radius: 5px;
	border: 1px solid white;
	background-color: rgba(0,255,120,.4);
}
.securityDispatchCoreCodeEditor_list_categoryAddButton{
	position: relative;
	float: left;
	width: 20%;
	margin: 10px;
	/* text-align: left; */
	/* font-size: 17px; */
	border-radius: 5px;
	border: 1px solid white;
	background-color: rgba(0,255,120,.4);
}