<div id="Login_Names-Core-Window_setCaptainsName" class="coreWindow" windowName="Captain's Name" style="width: 300px;height: 100px;">
	<div id="Login_Names-Core-Window_setCaptainsName_header">Please Enter The Captain's Name</div>
	<input type="text" id="Login_Names-Core-Window_setCaptainsName_textbox" placeholder="John Doe">
	<input type="button" value="Submit" id="Login_Names-Core-Window_setCaptainsName_submitButton" class="coreButton">
</div>
<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=login-core">
<div id="Login_Names-Core-Widget" widgetName="Login Names" class="Core_Theme-CoreWidget" style="width: 160px; height: 500px; top: 149px; left: 1261px;">
	<div id="Login_Names-Core-Widget_LoginList" class="notEditable"></div>
	<input type="button" class="coreButton" value="Set Captain's Name" id="Login_Names-Core-Widget_setCaptainNameButton">
</div>
<script src="/resource?path=script.js&screen=login-core" type="text/javascript"></script>