.login_core_flashClass{
	filter: grayscale(1) invert(1);
}
#Login_Names-Core-Widget_LoginList{
	position: absolute;
	top:1px;
	left: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 20px);
	overflow: auto;
}
#Login_Names-Core-Widget_setCaptainNameButton{
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: 17px;
}
#Login_Names-Core-Window_setCaptainsName_header{
	position: absolute;
	top:30px;
	font-size: 14px;
	width: 80%;
	left: 10%;
}
#Login_Names-Core-Window_setCaptainsName_textbox{
    position: absolute;
    top: 50px;
    width: calc(60% - 6px);
    height: 12px;
    left: 10%;
}
#Login_Names-Core-Window_setCaptainsName_submitButton{
	position: absolute;
	top:50px;
	width: calc(20% - 2px);
	left: calc(70% + 2px);
}