<!DOCTYPE html>
<html>
<head>
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="/stationThemes">
	<link rel="stylesheet" type="text/css" href="/resource?path=/style.css">
</head>
<body>
	<canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
	</canvas>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/threeJS" type="text/javascript"></script>
	<script src="/InterstellarLibraries" type="text/javascript"></script>
	<script src="/resource?path=/script.js" type="text/javascript"></script>
</body>
</html>