<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=card-controller">
<div id="card-controller_blackout"></div>
<div id="card-controller_spark"></div>
<div id="card-controller_stationOffline">
	<div id="card-controller_stationOfflineBackground"></div>
	<div id="card-controller_stationOfflineMinorBackground"></div>
	<div id="card-controller_stationOffline_header">STATION OFFLINE</div>
	<div id="card-controller_stationOffline_body">This station has gone offline, this may be due to power lose or damage to actual station itself.  Please contact your chief engineer for additional information on repairs</div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=card-controller" type="text/javascript"></script>