#warpButtonContainer{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#impulseButtonContainer{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.offlineContainer{	
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 5;
	color:red;
	background-color: rgba(0,0,0,.75);
	display: none;
	font-size: 2vw;
}
.powerContainer{
	font-size: 12px;
	border-top:1px solid white;
	border-right: 1px solid white;
	position: absolute;
	bottom: 0px;
	height: 20%;
	left: 0px;
	width: 0%;
	color:black;
	background-color: rgba(255,255,0,.8);
}
.speedButton{
	position: absolute;
	top:0px;
	left: 0px;
	width: 25%;
	border-right: 1px solid white;
	height: 80%;
	cursor: pointer;
	font-size: 30px;
    background-color: rgba(128,128,128,.5);
}
.speedButton:hover{
	filter:brightness(1.25);
}
.speedButton:active{
	filter:brightness(0.65);
}
#notEnoughPower{
	display: none;
	border: 1px solid white;
	position: absolute;
	top:40%;
	height: 20%;
	width: 100%;
	left: 0px;
	background-color: rgba(0,0,0,.8);
	z-index: 5;
	font-size: 72px;
}
#impulseLabel{
	position: absolute;
	top:16%;
	left: -1%;
	font-size: 42px;
}
#warpLabel{
	position: absolute;
	top:7%;
	left: -1%;
	font-size: 42px;
}
#fullStopButton{
	cursor: pointer;
    position: absolute;
    top: 16%;
    width: 35%;
    right: 3%;
    background-color: rgba(255,0,0,.6);
    text-align: center;
    font-size: 24px;
    height: 7%;
    border: 1px solid white;
}
#fullStopButton:filter{
	filter:brightness(1.25);
}
#fullStopButton:active{
	filter:brightness(0.65);
}
#impulseContainer{
	overflow: hidden;
	position: absolute;
    top: 15%;
    left: 10%;
    width: 30%;
    height: 9%;
    border: 1px solid white;
}
#warpContainer{
	overflow: hidden;
    position: absolute;
    top: 5%;
    right: 0%;
    width: 90%;
    height: 9%;
    border: 1px solid white;
}
#currentSpeedLabel{
	line-height: 120%;
    position: absolute;
    top: 15%;
    width: 20%;
    left: 40%;
    text-align: center;
    color:#858585;
    font-size: 30px;
}
#currentSpeed{
	color:white;
    font-size: 59px;
}
.heatDisplay{
	position: absolute;
	width: calc(30% - 2px);
	height: calc(30% - 2px);
}
.heatDisplayCanvas{
	position: absolute;
	top:0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
#starboardHeatLabel{
	position: absolute;
	top:30%;
	width: 30%;
	right: 0%;
	text-align: center;
	font-size: 30px;
}
#portHeatLabel{
	position: absolute;
	top:30%;
	left: 0%;
	width: 30%;
	text-align: center;
	font-size: 30px;
}
#shipView{
	position: absolute;
    top: 25%;
    width: 60%;
    height: 60%;
    left: 20%;
    background-image: url(/ship?file=dorsal.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#portCoolantFlush{
	position: absolute;
	bottom: 25%;
	width: 30%;
	left: 0%;
	height: 7%;
	z-index: 2;
}
#starboardCoolantFlush{
	position: absolute;
	bottom: 25%;
	width: 30%;
	right: 0%;
	height: 7%;
	z-index: 2;
}
#coolantAmount{
	position: absolute;
	bottom: 5%;
	left: 5%;
	width: 90%;
	height: 10%;
    background-color: rgba(128,128,128,.4);
    border: 1px solid white;
}
#coolantAmountFillBar{
	position: absolute;
	top:0px;
	left: 0px;
	width: 0%;
	height: 100%;
	background-color: rgba(0,158,255,.55);
}
#coolantLabel{
	position: absolute;
	bottom: 15%;
	left: 5%;
	font-size: 28px;
}