<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=weapons-control-core">
<div id="Login_Names-Core-Widget" widgetName="Weapons Control" class="Core_Theme-CoreWidget" style="width: 600px;
    height: 300px;
    top: 149px;
    left: 40px;">
</div>
<script src="/jquery"></script>
<script src="/resource?path=script.js&screen=weapons-control-core" type="text/javascript"></script>