<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=weapons-control-core">
<div id="weaponsControlCore" widgetName="Weapons Control" class="Core_Theme-CoreWidget" style="width: 350px;
    height: 400px;
    top: 149px;
	left: 40px;">
	<div id="weaponsControlCore_phaserContainer">
		<div id="weaponsControlCore_phaserContainer_header">
			<div id="weaponsControlCore_phaserContainer_header_heatLabel">
				Phaser Heat
			</div>
			<div id="weaponsControlCore_phaserContainer_header_chargeLabel">
				Charge
			</div>
		</div>
		<div id="weaponsControlCore_phaserContainer_heat">

		</div>
	</div>
	<div id="weaponsControlCore_torpedoContainer">
		<div id="weaponsControlCore_torpedoContainer_header">
			<div id="weaponsControlCore_torpedoContainer_header_torpedoLabel">
				Torpedo Launchers
			</div>
			<div id="weaponsControlCore_torpedoContainer_header_loadedLabel">
				Loaded
			</div>
		</div>
		<div id="weaponsControlCore_torpedoContainer_itemContainer">
			<div class="weaponsControlCore_torpedoContainer_itemContainer_item">
				<div class="weaponsControlCore_torpedoContainer_itemContainer_item_label">Forward Torpedo Launcher</div>
				<div class="weaponsControlCore_torpedoContaine_itemContainer_item_torpedos">
					<input type="text" placeholder="50" class="weaponsControlCore_torpedoContainer_itemContainer_item_torpedos_textbox">
					<div class="weaponsControlCore_torpedoContainer_itemContainer_item_torpedos_slash">/</div>
					<div class="weaponsControlCore_torpedoContainer_itemContainer_item_torpedos_max">50</div>
				</div>
				<div class="weaponsControlCore_torpedoContainer_itemContainer_item_loaded">NO</div>
			</div>
			<div class="weaponsControlCore_torpedoContainer_itemContainer_item">
				<div class="weaponsControlCore_torpedoContainer_itemContainer_item_label">Aft Torpedo Launcher</div>
				<div class="weaponsControlCore_torpedoContaine_itemContainer_item_torpedos">
					<input type="text" placeholder="50" class="weaponsControlCore_torpedoContainer_itemContainer_item_torpedos_textbox">
					<div class="weaponsControlCore_torpedoContainer_itemContainer_item_torpedos_slash">/</div>
					<div class="weaponsControlCore_torpedoContainer_itemContainer_item_torpedos_max">50</div>
				</div>
				<div class="weaponsControlCore_torpedoContainer_itemContainer_item_loaded">NO</div>
			</div>
		</div>
	</div>
	<div id="weaponsControlCore_settings">
		<div id="weaponsControlCore_settings_difficultyLabel">Aim Difficulty</div>
		<input type="text" placeholder="1" value="1" id="weaponsControlCore_settings_difficultyTextbox">
		<div id="weaponsControlCore_settings_canDestroyLabel">Can Destroy Ships</div>
		<input type="checkbox" id="weaponsControlCore_settings_canDestroyCheckbox">
		<div id="weaponsControlCore_settings_playSFXLabel">Play Sound Effects</div>
		<input type="checkbox" id="weaponsControlCore_settings_playSFXCheckbox">
		<div id="weaponsControlCore_settings_heatLabel">Heat</div>
		<input type="range" id="weaponsControlCore_settings_heatSlider" min="0" max="10" value="1">
		<input type="text" placeholder="1" value="1" id="weaponsControlCore_settings_heatTextbox">
	</div>
</div>
<script src="/jquery"></script>
<script src="/resource?path=script.js&screen=weapons-control-core" type="text/javascript"></script>