<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=engine-control-core">
<div id="engine-control-core-Core-Widget" widgetName="Engine Control" class="Core_Theme-CoreWidget" style="width: 201px;
    height: 125px;
    top: 0px;
    left: 1090px;">
    <div id="engine-control-core_currentSpeed" class="notEditable verticalAlign">
    	FULL STOP
    </div>
    <select id="engine-control-core_forceToSpeed">
    </select>
    <div id="engine-control-core_forceToStop" class="customButton verticalAlign">
    	FORCE STOP
    </div>
    <div id="engine-control-core_heatLevels">
    	<div id="engine-control-core_impulseLabel" class="verticalAlign">
    		Impulse Heat
    	</div>
    	<div id="engine-control-core_warpLabel" class="verticalAlign">
    		Warp Heat
    	</div>
    	<div id="engine-control-core_impulsePort" engine="impulse" side="port" style="top:40%;left: 0px;" class="engine-control-core_heatLevel verticalAlign">Port
    	<div class="coreProgressBarFill" id="engine-control-core_impulsePortHeatFill" style="z-index: -1;width: 0%;background-color: rgba(255,128,0,.7)"></div>
    	</div>
    	<div id="engine-control-core_impulseStarboard" engine="impulse" side="starboard" style="top:calc(70% + 1px);left: 0px;" class="engine-control-core_heatLevel verticalAlign">Starboard
    	<div class="coreProgressBarFill" id="engine-control-core_impulseStarboardHeatFill" style="z-index: -1;width: 0%;background-color: rgba(255,128,0,.7)"></div>
    	</div>
    	<div id="engine-control-core_warpPort" engine="warp" side="port" style="top:40%;left: 50%;" class="engine-control-core_heatLevel verticalAlign">Port
    	<div class="coreProgressBarFill" id="engine-control-core_warpPortHeatFill" style="z-index: -1;width: 0%;background-color: rgba(255,128,0,.7)"></div>
    	</div>
    	<div id="engine-control-core_warpStarboard" engine="warp" side="starboard" style="top:calc(70% + 1px);left: 50%;" class="engine-control-core_heatLevel verticalAlign">Starboard
    	<div class="coreProgressBarFill" id="engine-control-core_warpStarboardHeatFill" style="z-index: -1;width: 0%;background-color: rgba(255,128,0,.7)"></div>
    	</div>
    </div>
    <div id="engine-control-core_heatControls">
    	<div id="engine-control-core_heatControls_ImpulseControls">
    		<input type="range" value="1" max="10" step=".1" id="engine-control-core_heatControls_ImpulseControls_heatRate">
    		<input type="text" placeholder="1" value="1" class="coreTextbox" onClick='this.select();' id="engine-control-core_heatControls_ImpulseControls_heatRateTextbox">
    		<div id="core_heatControls_ImpulseControls_panLabel">Heat Pan</div>
    		<input type="text" placeholder="0" value="0" class="coreTextbox" onClick='this.select();' id="engine-control-core_heatControls_ImpulseControls_heatPanTextbox">
    	</div>
    	<div id="engine-control-core_heatControls_WarpControls">
    		<input type="range" value="1" max="10" step=".1" id="engine-control-core_heatControls_WarpControls_heatRate">
    		<input type="text" placeholder="1" value="1" class="coreTextbox" onClick='this.select();' id="engine-control-core_heatControls_WarpControls_heatRateTextbox">
    		<div id="core_heatControls_WarpControls_panLabel">Heat Pan</div>
    		<input type="text" placeholder="0" value="0" class="coreTextbox" onClick='this.select();' id="engine-control-core_heatControls_WarpControls_heatPanTextbox">
    	</div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js&screen=engine-control-core" type="text/javascript"></script>