<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=engine-control-core">
<div id="engine-control-core-Core-Widget" widgetName="Engine Control" class="Core_Theme-CoreWidget" style="width: 201px;
    height: 125px;
    top: 0px;
    left: 1090px;">
</div>
<script src="/resource?path=script.js&screen=engine-control-core" type="text/javascript"></script>