<div id="Security-Tracking-Core_zoneContainerElement">
	<div id="Security-Tracking-Core_zoneContainerElement_label"></div>
</div>
<div id="Security-Tracking-Core-Widget" widgetName="Security Tracking" class="Core_Theme-CoreWidget" style="width:1200px;height:800px;top:0px;left:0px">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=security-tracking-core">
	<div id="Security-Tracking-Core-deckLabel">DECK 2</div>
	<canvas id="Security-Tracking_canvas"></canvas>
	<input type="range" id="security-tracking-core_deckSlider" value="2" min='0' max='15' step='.01'>
	<div id="security-tracking-core_securityControls">
		<div id="security-tracking-core_securityControls_securityContainer">
			<div class="security-tracking-core_header">
				<div class="security-tracking-core_header_firstNameTitle">
					FIRST NAME
				</div>
				<div class="security-tracking-core_header_LastNameTitle">
					LAST NAME
				</div>
				<div class="security-tracking-core_header_statusTitle">
					STATUS
				</div>
				<div class="security-tracking-core_header_position">
					CURRENT POSITION
				</div>
				<div class="security-tracking-core_header_endPosition">
					DESTINATION
				</div>
			</div>
			<div id="security-tracking-core_securityControls_securityContainer_list">

			</div>
		</div>
		<div id="security-tracking-core_securityControls_intruderContainer">
			<div class="security-tracking-core_header">
				<div class="security-tracking-core_header_firstNameTitle">
					FIRST NAME
				</div>
				<div class="security-tracking-core_header_LastNameTitle">
					LAST NAME
				</div>
				<div class="security-tracking-core_header_statusTitle">
					STATUS
				</div>
				<div class="security-tracking-core_header_position">
					CURRENT POSITION
				</div>
				<div class="security-tracking-core_header_endPosition">
					DESTINATION
				</div>
			</div>
			<div id="security-tracking-core_securityControls_intruderContainer_list">
				
			</div>
		</div>
	</div>
	<div id="security-tracking-core_officerControls">
		<div id="security-tracking-core_officerControls_officerContainer">
			<div class="security-tracking-core_header">
				<div class="security-tracking-core_header_firstNameTitle">
					FIRST
				</div>
				<div class="security-tracking-core_header_LastNameTitle">
					LAST
				</div>
				<div class="security-tracking-core_header_statusTitle">
					STATUS
				</div>
				<div class="security-tracking-core_header_position">
					POSITION
				</div>
				<div class="security-tracking-core_header_endPosition">
					DESTINATION
				</div>
			</div>
			<div id="security-tracking-core_officerControls_officerContainer_list">
				<div class='security-tracking-core_officerListItem'>
					<input type='textbox' class="security-tracking-core_officerListItem_firstName" value="ISAAC">
					<input type='textbox' class="security-tracking-core_officerListItem_lastName" value="OSTLER">
					<select class="security-tracking-core_officerListItem_status">
						<option>ALIVE</option>
						<option>INJURED</option>
						<option>DEAD</option>
					</select>
					<select class="security-tracking-core_officerListItem_position">
						<option>SICKBAY ALPHA, DECK 5</option>
					</select>
					<select class="security-tracking-core_officerListItem_endPosition">
						<option>SICKBAY ALPHA, DECK 5</option>
					</select>
				</div>
			</div>
		</div>
		<div id="security-tracking-core_officerControls_generalControlsContainer"></div>
	</div>
	<script src='/jquery'></script>
	<script src="/resource?path=pathfinder.js&screen=security-tracking-core" type="text/javascript"></script>
	<script src="/resource?path=script.js&screen=security-tracking-core" type="text/javascript"></script>
</div>