#Viewscreen-Control-Core_taticalCard_label{
    position: absolute;
    top:21px;
    left: 1px;
}
#Viewscreen-Control-Core_lastCardButton{
    position: absolute;
    top:20px;
    width: 50px;
    left: 85px;
}
#Viewscreen-Control-Core_currentCardTextbox{
    position: absolute;
    top: 20px;
    left: 136px;
    height: 16px;
    width: calc(100% - 191px);
    color: white;
    background-color: rgba(255,255,255,.3);
}
#Viewscreen-Control-Core_nextCardButton{
    position: absolute;
    top:20px;
    width: 50px;
    right: 2px;
}
#Viewscreen-Control-Core_taticalNameTextbox_label{
    position: absolute;
    top:1px;
    left: 1px;
    font-size: 16px;
}
#Viewscreen-Control-Core_CardsList{
	position: absolute;
    bottom: 2px;
    background-color: grey;
    left: 2px;
    height: calc(100% - 43px);
    border: 1px solid white;
    width: calc(100% - 6px);
    overflow: auto;
}
#Viewscreen-Control-Core_taticalNameTextbox{
    position: absolute;
    color: white;
    right: 2px;
    width: calc(100% - 90px);
    top:1px;
    background-color: rgba(255,255,255,.3);
}
.Viewscreen-Control-Core_CardsListCard{
    font-size:12px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
	height: 16px;
	color:black;
	background-color: rgba(255,255,255,.2);
}
.Viewscreen-Control-Core_CardsListCard:hover{
    filter: brightness(1.25);
}
.Viewscreen-Control-Core_CardsListCard:active{
    filter: brightness(0.65);
}