<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea" class="noselect">
	<div id="alertStatusHeader">CURRENT: <span id='alertStatusHeader_text'>ALERT STATUS 5</span></div>
	<div id="alertStatusContainer"></div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>