#alertStatusContainer{
	position: absolute;
	top:20%;
	height: 60%;
	width: 80%;
	left: 10%;
}
#alertStatusHeader{
	position: absolute;
	top:10%;
	font-size: 42px;
}
.alertStatus:hover{
	filter: brightness(1.25);
}
.alertStatus:active{
	filter: brightness(0.65);
}
.alertStatus{
	cursor: pointer;
	filter: grayscale(.6);
	position: relative;
  	background: linear-gradient(-90deg, rgba(0,128,255,.8), rgba(0,20,70,.45)); /* Standard syntax */
  	width: 100%;
  	height: 20%;
  	border:1px solid white;
}
.alertStatus_header{
	font-size: 48px;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 3px;
}
.alertStatus_body{
    position: absolute;
    top: 50px;
    font-size: 22px;
    height: calc(100% - 50px);
    left: 5px;
    text-transform: uppercase;
}