<link rel="stylesheet" type="text/css" href="/stationThemes">
<link rel="stylesheet" type="text/css" href="/resource?path=style.css">
<div id="contentArea" class="noselect">
	<div id="ship"></div>
	<div id="viewSelect" class="">
		<div class="dockingView beepOnClick" id="disembarkationViewButton">DISEMBARKATION ALARM</div>
		<div id="disembarkationViewStatus" class="statusLight"></div>
		<div class="dockingView beepOnClick" id="fuelViewButton">FUEL LINES</div>
		<div id="fuelViewStatus" class="statusLight"></div>
		<div class="dockingView beepOnClick" id="airlockViewButton">AIRLOCK DOORS</div>
		<div id="airlockViewStatus" class="statusLight"></div>
		<div class="dockingView beepOnClick" id="rampsViewButton">BOARDING RAMPS</div>
		<div id="rampsViewStatus" class="statusLight"></div>
		<div class="dockingView beepOnClick" id="clampsViewButton">DOCKING CLAMPS</div>
		<div id="clampsViewStatus" class="statusLight"></div>
	</div>
	<div id="clampsView" class="view" style="display: none">
		<div class='clamp'>
			<canvas class='clampVisual' clampId="0"></canvas>
			<div class='clampControls airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick clampControls_attatch' style="border-top:1px solid white" clampIndex='0'>ATTATCH</div>
				<div class='airlock_controls_close gradientButton beepOnClick clampControls_release' clampIndex='0'>RELEASE</div>
			</div>
		</div>
		<div class='clamp' style="left: 30%;">
			<canvas class='clampVisual' clampId="1"></canvas>
			<div class='clampControls airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick clampControls_attatch' style="border-top:1px solid white" clampIndex='1'>ATTATCH</div>
				<div class='airlock_controls_close gradientButton beepOnClick clampControls_release' clampIndex='1'>RELEASE</div>
			</div>
		</div>
		<div class='clamp' style="left: 60%;">
			<canvas class='clampVisual' clampId="2"></canvas>
			<div class='clampControls airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick clampControls_attatch' style="border-top:1px solid white" clampIndex='2'>ATTATCH</div>
				<div class='airlock_controls_close gradientButton beepOnClick clampControls_release' clampIndex='2'>RELEASE</div>
			</div>
		</div>
	</div>
	<div id="rampsView" class='view' style="display: none">
		<div class='ramp' style="left: 0%;top: 0%;">
			<div class='ramp_header'>PORT BOW RAMP</div>
			<div class='ramp_status' rampID='0'>EXTENDED</div>
			<div class='airlock_controls' style='border-top: 1px solid white;top: 40%;'>
				<div class='closeRampButton airlock_controls_open gradientButton beepOnClick' rampIndex='0'>EXTEND</div>
				<div class='openRampButton airlock_controls_close gradientButton beepOnClick' rampIndex='0'>RETRACT</div>
			</div>
		</div>
		<div class='ramp' style="left: 33%;top: 0%;">
			<div class='ramp_header'>PORT RAMP</div>
			<div class='ramp_status' rampID='1'>EXTENDED</div>
			<div class='airlock_controls' style='border-top: 1px solid white;top: 40%;'>
				<div class='closeRampButton airlock_controls_open gradientButton beepOnClick' rampIndex='1'>EXTEND</div>
				<div class='openRampButton airlock_controls_close gradientButton beepOnClick' rampIndex='1'>RETRACT</div>
			</div>
		</div>
		<div class='ramp' style="left: 66%;top: 0%;">
			<div class='ramp_header'>PORT QUARTER RAMP</div>
			<div class='ramp_status' rampID='2'>EXTENDED</div>
			<div class='airlock_controls' style='border-top: 1px solid white;top: 40%;'>
				<div class='closeRampButton airlock_controls_open gradientButton beepOnClick' rampIndex='2'>EXTEND</div>
				<div class='openRampButton airlock_controls_close gradientButton beepOnClick' rampIndex='2'>RETRACT</div>
			</div>
		</div>
		<div class='ramp' style="left: 0%;top: calc(50% + 2px);">
			<div class='ramp_header'>STARBOARD BOW RAMP</div>
			<div class='ramp_status' rampID='3'>EXTENDED</div>
			<div class='airlock_controls' style='border-top: 1px solid white;top: 40%;'>
				<div class='closeRampButton airlock_controls_open gradientButton beepOnClick' rampIndex='3'>EXTEND</div>
				<div class='openRampButton airlock_controls_close gradientButton beepOnClick' rampIndex='3'>RETRACT</div>
			</div>
		</div>
		<div class='ramp' style="left: 33%;top: calc(50% + 2px);">
			<div class='ramp_header'>STARBOARD RAMP</div>
			<div class='ramp_status' rampID='4'>EXTENDED</div>
			<div class='airlock_controls' style='border-top: 1px solid white;top: 40%;'>
				<div class='closeRampButton airlock_controls_open gradientButton beepOnClick' rampIndex='4'>EXTEND</div>
				<div class='openRampButton airlock_controls_close gradientButton beepOnClick' rampIndex='4'>RETRACT</div>
			</div>
		</div>
		<div class='ramp' style="left: 66%;top: calc(50% + 2px);">
			<div class='ramp_header'>STARBOARD QUARTER RAMP</div>
			<div class='ramp_status' rampID='5'>EXTENDED</div>
			<div class='airlock_controls' style='border-top: 1px solid white;top: 40%;'>
				<div class='closeRampButton airlock_controls_open gradientButton beepOnClick' rampIndex='5'>EXTEND</div>
				<div class='openRampButton airlock_controls_close gradientButton beepOnClick' rampIndex='5'>RETRACT</div>
			</div>
		</div>
	</div>
	<div id="airlockView" style="display: none" class='view'>
		<div class='airlock' style="left: 0%;top: 0%;">
			<div class='airlock_door' doorID='0'>
				<div class='airlock_door_door1'><div class='airlock_door_door1_label'>AIRLOCK</div></div>
				<div class='airlock_door_door2'><div class='airlock_door_door2_label'>001</div></div>
			</div>
			<div class='airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick airlockControls_open' doorIndex='0'>OPEN</div>
				<div class='airlock_controls_close gradientButton beepOnClick airlockControls_close' doorIndex='0'>CLOSE</div>
			</div>
		</div>
		<div class='airlock' style="left: 33%;top: 0%;">
			<div class='airlock_door' doorID='1'>
				<div class='airlock_door_door1'><div class='airlock_door_door1_label airlockControls_open'>AIRLOCK</div></div>
				<div class='airlock_door_door2'><div class='airlock_door_door2_label'>002</div></div>
			</div>
			<div class='airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick airlockControls_open' doorIndex='1'>OPEN</div>
				<div class='airlock_controls_close gradientButton beepOnClick airlockControls_close' doorIndex='1'>CLOSE</div>
			</div>
		</div>
		<div class='airlock' style="left: 66%;top: 0%;">
			<div class='airlock_door' doorID='2'>
				<div class='airlock_door_door1'><div class='airlock_door_door1_label'>AIRLOCK</div></div>
				<div class='airlock_door_door2'><div class='airlock_door_door2_label'>003</div></div>
			</div>
			<div class='airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick airlockControls_open' doorIndex='2'>OPEN</div>
				<div class='airlock_controls_close gradientButton beepOnClick airlockControls_close' doorIndex='2'>CLOSE</div>
			</div>
		</div>
		<div class='airlock' style="left: 0%;top: calc(50% + 2px);">
			<div class='airlock_door' doorID='3'>
				<div class='airlock_door_door1'><div class='airlock_door_door1_label'>AIRLOCK</div></div>
				<div class='airlock_door_door2'><div class='airlock_door_door2_label'>004</div></div>
			</div>
			<div class='airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick airlockControls_open' doorIndex='3'>OPEN</div>
				<div class='airlock_controls_close gradientButton beepOnClick airlockControls_close' doorIndex='3'>CLOSE</div>
			</div>
		</div>
		<div class='airlock' style="left: 33%;top: calc(50% + 2px);">
			<div class='airlock_door' doorID='4'>
				<div class='airlock_door_door1'><div class='airlock_door_door1_label'>AIRLOCK</div></div>
				<div class='airlock_door_door2'><div class='airlock_door_door2_label'>005</div></div>
			</div>
			<div class='airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick airlockControls_open' doorIndex='4'>OPEN</div>
				<div class='airlock_controls_close gradientButton beepOnClick airlockControls_close' doorIndex='4'>CLOSE</div>
			</div>
		</div>
		<div class='airlock' style="left: 66%;top: calc(50% + 2px);">
			<div class='airlock_door' doorID='5'>
				<div class='airlock_door_door1'><div class='airlock_door_door1_label'>AIRLOCK</div></div>
				<div class='airlock_door_door2'><div class='airlock_door_door2_label airlockControls_close'>006</div></div>
			</div>
			<div class='airlock_controls'>
				<div class='airlock_controls_open gradientButton beepOnClick airlockControls_open' doorIndex='5'>OPEN</div>
				<div class='airlock_controls_close gradientButton beepOnClick airlockControls_close' doorIndex='5'>CLOSE</div>
			</div>
		</div>
	</div>
	<div id="fuelView" class="view" style="display: none">
		<div class="fuelContainer">
			<div class="fuelContainer_header">PLASMA</div>
			<div class="fuelContainer_disconnectButton fuelDisconnect gradientButton beepOnClick" system='0'>DISCONNECT</div>
			<div class="fuelContainer_flow" id="fuelContainer_plasmaArrowFlow">
				<div class="fuelDisconnected" fuelIndex="0">FUEL LINE DISCONNECTED</div>
				<div class="fuelContainer_flow_inside movingRightArrows"></div>
			</div>
		</div>
		<div class="fuelContainer">
			<div class="fuelContainer_header">DETERIUM FUEL</div>
			<div class="fuelContainer_disconnectButton fuelDisconnect gradientButton beepOnClick" system='1'>DISCONNECT</div>
			<div class="fuelContainer_flow" id="fuelContainer_deteriumArrowFlow">
				<div class="fuelDisconnected" fuelIndex="1">FUEL LINE DISCONNECTED</div>
				<div class="fuelContainer_flow_inside movingRightArrows"></div></div>
		</div>
		<div class="fuelContainer">
			<div class="fuelContainer_header">COOLANT</div>
			<div class="fuelContainer_disconnectButton fuelDisconnect gradientButton beepOnClick" system='2'>DISCONNECT</div>
			<div class="fuelContainer_flow" id="fuelContainer_coolantArrowFlow">
				<div class="fuelDisconnected" fuelIndex="2">FUEL LINE DISCONNECTED</div>
				<div class="fuelContainer_flow_inside movingRightArrows"></div></div>
		</div>
		<div class="fuelContainer">
			<div class="fuelContainer_header">RCS THRUSTER FUEL</div>
			<div class="fuelContainer_disconnectButton fuelDisconnect gradientButton beepOnClick" system='3'>DISCONNECT</div>
			<div class="fuelContainer_flow" id="fuelContainer_thrusterArrowFlow">
				<div class="fuelDisconnected" fuelIndex="3">FUEL LINE DISCONNECTED</div>
				<div class="fuelContainer_flow_inside movingRightArrows"></div></div>
		</div>
		<div class="fuelContainer">
			<div class="fuelContainer_header">WASTE</div>
			<div class="fuelContainer_disconnectButton fuelDisconnect gradientButton beepOnClick" system='4'>DISCONNECT</div>
			<div class="fuelContainer_flow" id="fuelContainer_wasteArrowFlow">
				<div class="fuelDisconnected" fuelIndex="4">FUEL LINE DISCONNECTED</div>
				<div class="fuelContainer_flow_inside movingLeftArrows"></div></div>
		</div>
	</div>
	<div id="disembarkationView" class="view" style="display: block;">
		<div id="disembarkationView_disembarkationState">NO ALARM ACTIVE</div>
		<div id="disembarkationView_soundAlarm" class='gradientButton beepOnClick'>
			<div class="disembarkationAlarm_header">SOUND DISEMBARKATION ALARM</div>
			<div class="disembarkationAlarm_text">sound to order all unauthorized personnel to leave the ship at this time.  This usually takes a few minutes to hours, depending on the amount of visitors aboard.</div>
		</div>
		<div id="disembarkationView_silenceAlarm" class='gradientButton beepOnClick'>
			<div class="disembarkationAlarm_header">SILENCE DISEMBARKATION ALARM</div>
			<div class="disembarkationAlarm_text">stop sounding the disembarkation alarm.  silencing the alarm is not an invitation for others to board the ship, simply a way of ending the disembarkation state.</div>
		</div>
	</div>
</div>
<script src="/jquery" type="text/javascript" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="/resource?path=script.js" type="text/javascript"></script>