<div id="card-controller-core" class="Core_Theme-CoreWidget" widgetName="Card Controller"
	style="
	width: 400px;
    height: 54px;
    top: 30px;
    left: 461px;
    ">
	<link rel="stylesheet" type="text/css" href="/resource?path=style.css&screen=card-controller-core">
	<div style="position: absolute;top:0px;left: 0px;width: 100%;height: 100%;overflow: hidden;">
		<div id="card-controller-core_commandSelect">
			<select id="card-controller-core_commandSelect_command">
				<option>Flash</option>
				<option>Blackout</option>
				<option>Reset</option>
				<option>No Power</option>
				<option>Offline</option>
				<optgroup></optgroup>
				<option>Shutdown Computer</option>
				<option>Restart Computer</option>
				<optgroup></optgroup>
				<option>Restart Interstellar</option>
				<option>Quit Interstellar</option>
			</select>
			<select id="card-controller-core_commandSelect_station">
				<option>All Stations</option>
				<optgroup></optgroup>
			</select>
		</div>
		<div id="card-controller-core_executeButton" class='customButton'>
			
		</div>
		<div id="card-controller-core_QuickButtons">
			<div id="card-controller-core_QuickButtons-0" class="card-controller-core_QuickButton customButton">O</div>
			<div id="card-controller-core_QuickButtons-1" class="card-controller-core_QuickButton customButton">F</div>
			<div id="card-controller-core_QuickButtons-2" class="card-controller-core_QuickButton customButton">B</div>
			<div id="card-controller-core_QuickButtons-3" class="card-controller-core_QuickButton customButton">R</div>
		</div>
	</div>
	<script src="/resource?path=script.js&screen=card-controller-core" type="text/javascript"></script>
</div>